<section class="content not-a-class">

  <!-- BREAD CRUMBS -->
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="#">Dashboard</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Adjusters Dashboard</a>
      </li>
    </ul>
  </div>

  <div class="module-box">

    <!--Page Title-->
    <div class="row">
      <div class="col-md-12 bottom-buffer">
        <div class="portlet box blue-soft" style="border-bottom: none; border-left: none; border-right: none; margin-bottom: 0;">
          <div class="portlet-title" id="min-height-38">
            <div class="caption">
              ADJUSTERS DASHBOARD
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <!-- TABS -->
    <div class="panel-body plr0">
      <div class="portlet-title">
        <ul class="nav nav-tabs pull-left">
          <li ng-class="{active: modeAdd}">
            <a href="#" ng-click="selectTab('add')">
              <i class="fa fa-plus" style="margin-right: 5px;"></i>
              Add
            </a>
          </li>
          <li ng-class="{active: modeEdit}">
            <a href="#" ng-click="selectTab('edit')">
              <i class="fas fa-pencil-alt" style="margin-right: 5px;"></i>
              Update
            </a>
          </li>
          <li ng-class="{active: modeTable}">
            <a href="#" ng-click="selectTab('table')">
              <span class="glyphicon glyphicon-search" style="margin-right: 5px;"></span>
              See as table
            </a>
          </li>
        </ul>
      </div> <!-- END OF TABS -->
      
      <!--Success message -->
      <div ng-show="success" class="hidethis">
        <div class="bg-success pull-right" style="padding: 5px; text-align: center; width: 100px;">
          Success!
        </div>
      </div>

    </div>



    <!-- ADD ADJUSTER BLOCK -->
    <div ng-show="modeAdd">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Select TPA</label>
            <ui-select ng-model="tpa.Company" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="applyTpaName()">
              <ui-select-match placeholder="Select a TPA...">{{$select.selected.Name}}</ui-select-match>
              <ui-select-choices repeat="tpaSelected in tpaList | filter: $select.search">
                <div ng-bind-html="tpaSelected.Name  | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <!-- NEW Adjuster First Name -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Adjuster's First Name</label>
            <input type="text" class="form-control" ng-model="tpa.adjuster.FirstName" />
          </div>
        </div>

        <!-- NEW Adjuster Last Name -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Adjuster's Last Name</label>
            <input type="text" class="form-control" ng-model="tpa.adjuster.LastName" />
          </div>
        </div>
      </div>

      <div class="row">
        <!-- New Adjuster's email -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Adjuster's Email</label>
            <input type="text" class="form-control" ng-model="tpa.adjuster.Email" />
          </div>
        </div>

        <!-- Adjuster's Phone -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Adjuster's Phone</label>
            <input type="tel" class="form-control" ng-model="tpa.adjuster.Phone" data-mask="(999) 999 - 9999" />
          </div>
        </div>

        <!-- Adjuster's Phone Extention -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Extension</label>
            <input type="text" class="form-control" ng-model="tpa.adjuster.Extension" />
          </div>
        </div>
      </div>

      <!-- Save Adjuster Btn-->
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>&nbsp;</label>
            <button class="btn btn-cell pull-right" ng-click="addNewAdjuster()">
              Add Adjuster
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- EDIT ADJUSTER BLOCK -->
    <div ng-show="modeEdit">

      <div class="row">
        <!-- TPA SELECTION -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Select TPA</label>
            <ui-select ng-model="tpa.Company" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="tpaSelected()">
              <ui-select-match placeholder="Select a TPA...">{{$select.selected.Name}}</ui-select-match>
              <ui-select-choices repeat="tpaSelected in tpaList | filter: $select.search">
                <div ng-bind-html="tpaSelected.Name  | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <!-- SELECT ADJUSTER-->
        <div class="col-md-6">
          <div class="form-group">
            <label>Adjuster</label>
            <ui-select ng-model="tpa.adjuster" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="adjusterSelected()">
              <ui-select-match placeholder="Select an Adjuster ...">{{$select.selected.FirstName + ' ' + $select.selected.LastName}}</ui-select-match>
              <ui-select-choices repeat="adjusterSelected in adjustersList | filter: $select.search">
                <div ng-bind-html="(adjusterSelected.FirstName + ' ' + adjusterSelected.LastName)  | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div ng-if="isAdjusterSelected">
        <div class="row" style="margin-top: 30px;">
          <!-- Adjuster First Name -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Adjuster's First Name</label>
              <input type="text" class="form-control" ng-model="tpa.adjuster.FirstName" ng-change="successReset()"/>
            </div>
          </div>

          <!-- NEW Adjuster Last Name -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Adjuster's Last Name</label>
              <input type="text" class="form-control" ng-model="tpa.adjuster.LastName" ng-change="successReset()"/>
            </div>
          </div>

          <!-- New Adjuster's email -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Adjuster's Email</label>
              <input type="text" class="form-control" ng-model="tpa.adjuster.Email" ng-change="successReset()"/>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Adjuster's Phone -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Adjuster's Phone</label>
              <input type="tel" class="form-control" ng-model="tpa.adjuster.Phone" data-mask="(999) 999 - 9999" ng-change="successReset()" />
            </div>
          </div>

          <!-- Adjuster's Phone Extention -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Extension</label>
              <input type="text" class="form-control" ng-model="tpa.adjuster.Extension" ng-change="successReset()" />
            </div>
          </div>

          <div class="col-md-4" ng-if="changed">
            <div class="form-group">
              <label style="color: #fff;">.</label>
              <button class="btn btn-cell" ng-click="updateAdjuster()" style="width: 100%;">Apply Changes</button>
            </div>
          </div>

          <div class="col-md-4" ng-if="!changed">
            <div class="form-group">
              <label style="color: #fff;">.</label>
              <button class="btn btn-cancel" style="width: 100%;">Apply Changes</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- SHOW AS TABLE BLOCK -->
  <div ng-show="modeTable">
    <div class="row">
      <!-- NEW TPA SELECTION -->
      <div class="col-md-4">
        <div class="form-group">
          <label>Select TPA</label>
          <ui-select ng-model="tpa.Company" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="tpaSelected();" >
            <ui-select-match placeholder="Select a TPA...">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="tpaSelected in tpaList | filter: $select.search">
              <div ng-bind-html="tpaSelected.Name  | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>
  
  <table ng-if="isTpaSelected" class="table table-hover">
    <tr class="bgGrey">
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Extension</th>
      <th></th>
    </tr>
    <tr ng-repeat="adjuster in adjustersList">
      <td>{{adjuster.FirstName}} {{adjuster.LastName}}</td>
      <td>{{adjuster.Email || '-- NA --'}}</td>
      <td>{{adjuster.Phone || '-- NA --'}}</td>
      <td>{{adjuster.Extension || '-- NA --'}}</td>
      <td style="padding: 0; width: 5%;">
      <button class="btn popup-btn" type="button" ng-click="editAdjuster(adjuster)">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </tr>
  </table>

  <!--Error List-->
    <div ng-show="Errors.length > 0">
      <div class="alert alert-danger" style="margin: 30px 0 0 0;">
        <ul>
          <li ng-repeat="error in Errors">
            {{error}}
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>