<section class="content not-a-class">

	<!-- BREAD CRUMBS -->
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="#">Dashboard</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Claims Reports</a>
			</li>
		</ul>
	</div>

	<div class="module-box">

		<!--Page Title-->
		<div class="row">
			<div class="col-md-12 bottom-buffer">
				<div class="portlet box blue-soft" style="border-bottom: none; border-left: none; border-right: none; margin-bottom: 0;">
					<div class="portlet-title" id="min-height-38">
						<div class="caption">
							CLAIMS REPORTS
						</div>
					</div>
				</div>
			</div>
		</div>

		<br />

		<!-- SEARCH OPIONS -->
		<div class="welcome-number-container">
			<span class="welcome-number bgBase">Search Options</span>
		</div>

		<div>
			<!-- SEARCH FIELDS -->
			<div class="row">

				<!-- Date Reported -->
				<div class="col-md-2">
					<label>From</label>
					<p class="input-group">
						<input type="text" class="form-control" name="DateFrom" jqdatepicker ng-model="dateFrom" />
					</p>
				</div>

				<!-- Date of Loss -->
				<div class="col-md-2 pl0">
					<label>To</label>
					<p class="input-group">
						<input type="text" class="form-control" name="DateOfLoss" jqdatepicker ng-model="dateTo" />
					</p>
				</div>

				<!-- Claim Status -->
				<div class="col-md-4 pl0" ng-if="byStatus">
					<div class="form-group">
						<label>Claim Status</label>
						<ui-select ng-model="search.status" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="changeColor()">
							<ui-select-match id="selection">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="statusNew in statuses | filter: $select.search">
								<div ng-bind-html="statusNew.Name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<!-- Search Agency -->
				<div class="col-md-6 pl0" ng-if="byAgency">
					<div class="form-group">
						<label>Agency</label>
						<ui-select ng-model="search.Agency" theme="bootstrap" reset-search-input="false" ng-required="true">
							<ui-select-match placeholder="Select...">{{$select.selected.AgencyName}}</ui-select-match>
							<ui-select-choices repeat="agency in Agencies | filter: $select.search"
											   refresh="getAgencies($select.search)"
											   refresh-delay="0">
								<div ng-bind-html="agency.AgencyName + ' - ' + agency.AgencyCode| highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<!-- Search Field -->
				<div class="col-md-2 pl0">
					<div class="form-group">
						<label>Search Field</label>
						<ui-select ng-model="search.Field" theme="bootstrap" reset-search-input="false" ng-required="true">
							<ui-select-match>{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="field in Fields | filter: $select.search">
								<div ng-bind-html="field | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

			</div>

			<!-- SELECT MODE BLOCK -->
			<div class="row margin-top-20">
				<div class="col-md-7">

					<input type="text"
						   class="form-control input-display text-center square-input-sm {{myStyleDate}}"
						   value="{{byDate}}"
						   ng-click="modeByDate()" />
					<input type="text" class="form-control label-input" value="By Date" ng-click="modeByDate()" />


					<input type="text"
						   class="form-control input-display text-center square-input-sm {{myStyleStatus}}"
						   value="{{byStatus}}"
						   ng-click="modeByStatus()" />
					<input type="text" class="form-control label-input" value="By Status" ng-click="modeByStatus()" />


					<input type="text"
						   class="form-control input-display text-center square-input-sm {{myStyleAgency}}"
						   value="{{byAgency}}"
						   ng-click="modeByAgency()" />
					<input type="text" class="form-control label-input" value="By Agency" ng-click="modeByAgency()" />

				</div>

				<!-- SUBMIT BUTTON -->
				<div class="col-md-5 text-right">
					<button class="btn btn-cancel" ng-click="reset()">
						<i class="fa fa-redo"></i>
						RESET
					</button>
					<button class="btn btn-cell" ng-click="downloadReport()">
						DOWNLOAD
					</button>
				</div>
			</div>
		</div>

		<!--Error List-->
		<div ng-show="Errors.length > 0">
			<div class="alert alert-danger" style="margin: 30px 0 0 0;">
				<ul>
					<li ng-repeat="error in Errors">
						{{error}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>