<section class="content not-a-class">

	<!-- BREAD CRUMBS -->
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="#">Dashboard</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#/claims">Claims</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#">Policy Details</a>
			</li>
		</ul>
	</div>

	<div class="module-box">
		<!--Page Title-->
		<div class="row">
			<div class="col-md-12 bottom-buffer">
				<div class="portlet box blue-soft" style="border-bottom: none;border-left: none;border-right: none;margin-bottom: 0;">
					<div class="portlet-title" id="min-height-38">
						<div ng-if="isFromFullPolicy" class="caption">
							POLICY <a href="#" ng-click="openFullPolicy()" style="color:white!important">{{policy.PolicyNumber}}</a>
						</div>
						<div ng-if="!isFromFullPolicy" class="caption">
							POLICY {{policy.PolicyNumber}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<br />

		<!-- BUTTONS -->
		<div>
			<button class="btn btn-cancel" ng-click="openClaimsDashboard()">
				<span style="vertical-align: text-top;">
					<i class="glyphicon glyphicon-chevron-left"></i>
					DASHBOARD
				</span>
			</button>
		</div>

		<!--Error List-->
		<div ng-if="Errors.length > 0">
			<div class="alert alert-danger">
				<ul>
					<li ng-repeat="error in Errors">
						{{error}}
					</li>
				</ul>
			</div>
		</div>

		<!-- POLICY INFO -->
		<div>
			<div class="welcome-number-container">
				<span class="welcome-number bgBase">POLICY INFO</span>
			</div>

			<div class="panel-body plr0">
              <div class="col-md-4 pl0">
                <div class="form-group">
                  <label>Named Insured</label>
                  <input type="text" class="form-control input-display" value="{{policy.NamedInsured}}" readonly />
                </div>
                <div class="form-group">
                  <label>Coverage</label>
                  <input type="text" class="form-control input-display" value="{{policy.Coverage}}" readonly />
                </div>
                <div class="form-group">
                  <label>Account Executive</label>
                  <input type="text" class="form-control input-display" value="{{policy.FirstName}} {{policy.LastName}}" readonly />
                </div>
                <div class="form-group">
                  <label>Company Name</label>
                  <input type="text" class="form-control input-display" value="{{policy.CompanyName}}" readonly />
                </div>
              </div>

              <div class="col-md-4 pl0">
                <div class="form-group">
                  <label>Agency Name</label>
                  <input type="text" class="form-control input-display" value="{{policy.AgencyName}}" readonly />
                </div>
                <div class="form-group">
                  <label>Agency Code</label>
                  <input type="text" class="form-control input-display" value="{{policy.AgencyCode}}" readonly />
                </div>
                <div class="form-group">
                  <label>Agent Name</label>
                  <input type="text" class="form-control input-display" value="{{policy.AgentName}}" readonly />
                </div>
                <div class="form-group">
                  <label>Market Name</label>
                  <input type="text" class="form-control input-display" value="{{policy.MarketName}}" readonly />
                </div>
              </div>

				<div class="col-md-4 pl0">
					<div class="form-group">
						<label>Office Name / Code</label>
						<input type="text" class="form-control input-display" value="{{policy.OfficeName + ' / ' + policy.OfficeCode}}" readonly />
					</div>
					<div class="form-group">
						<label>Effective Period</label>
						<input type="text" class="form-control input-display" value="{{policy.Effective | date}}" readonly />
					</div>
					<div class="form-group">
						<label>Expiration Date</label>
						<input type="text" class="form-control input-display" value="{{policy.Expiration | date}}" readonly />
					</div>
				</div>

				<br />

				<div class="col-md-12 pl0">
					<label>Business Description</label>
					<textarea type="text" class="form-control input-display" value="{{policy.BusinessDescription}}" disabled></textarea>
				</div>
			</div>
		</div>

		<!-- SUBMITTED CLAIMS -->
		<div>
			<div class="welcome-number-container">
				<span class="welcome-number bgBase">CLAIMS</span>
			</div>

			<!-- Claims Table -->
			<div class="panel-body plr0">
				<div class="col-md-12 plr0">
					<p class="alert alert-success" ng-if="policy.Claims.length === 0 || policy.PolicyNumber == null">There are no claims on this Policy.</p>
					<table class="table table-hover" ng-if="policy.Claims.length !== 0 && policy.PolicyNumber != null">
						<tr class="bgGrey">
							<th>Claim Number</th>
							<th>Claimant Name</th>
							<th>Loss Type</th>
							<th>Date of Loss</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
						<tr ng-repeat="claim in policy.Claims">
							<td>
								<a href="#" ng-click="openClaimDetails(claim.Id)">{{claim.ClaimOfficialNumber}}</a>
							</td>
							<td>{{claim.ClaimantName}}</td>
							<td>{{claim.LossType}}</td>
							<td>{{claim.DateOfLoss | date : 'longDate'}}</td>
							<td style="color: {{getStatusColor(claim.Status)}}">{{getStatus(claim.Status)}}</td>
							<td class="dropdown" style="padding: 0; width: 5%;">
								<button ng-disabled="!claimEditor" class="btn dropdown-toggle popup-btn" type="button" data-toggle="dropdown">
									<i class="fa fa-cog"></i>
								</button>
								<ul class="dropdown-menu l-106">
									<li><a href="#" ng-click="updateClaim(claim.Id)">Update Claim</a></li>
									<li><a href="#" ng-click="downloadMemo(claim.Id, 'Claim')">Download Claim's Memo</a></li>
									<li><a href="#" ng-click="downloadMemo(claim.Id, 'Adjuster')">Download Adjuster Change Memo</a></li>
									<li><a href="#" ng-click="sendEmail(claim.Id, 'Claim')">Email Claim Memo</a></li>
									<li><a href="#" ng-click="sendEmail(claim.Id, 'Adjuster')">Email Adjuster Change Memo</a></li>
								</ul>
							</td>
						</tr>
					</table>

					<!-- ADD BLANK CLAIM BUTTON -->
					<button ng-disabled="!claimEditor" ng-click="addClaimWithAddress(false, null, null)" class="btn btn-cancel bgGrey" style="float: right;">
						<i class="fa fa-plus" style="padding-right: 5px;"></i>
						Blank Claim
					</button>

				</div>
			</div>
		</div>

		<!-- LOCATIONS -->
		<div>
			<div class="welcome-number-container">
				<span class="welcome-number bgBase">LOCATIONS</span>
			</div>

			<!-- Locations Table -->
			<div class="panel-body plr0">
				<div class="col-md-12 plr0">
					<p ng-if="policy.Locations.length == 0 || policy.PolicyNumber == null" class="alert alert-danger">There are no locations on this Policy.</p>

					<table class="table table-hover" ng-if="policy.Locations.length !== 0 && policy.PolicyNumber != null">
						<thead>
							<tr class="bgGrey">
								<th>#</th>
								<th>Address</th>
								<th>Construction Type</th>
								<th>Occupancy</th>
								<th></th>
							</tr>
						</thead>

            <tbody ng-repeat="location in policy.Locations">
              <tr ng-repeat="property in location.Properties" ng-if="location.Properties.length > 0">
                <td>{{location.LocationNumber}} - {{property.BuildingNumber}}</td>
                <td>{{getAddress(location)}}</td>
                <td>{{property.Construction}}</td>
                <td>{{property.Occupancy}}</td>
                <td ng-if="claimEditor" ng-click="addClaimWithAddress(true, location, property)" class="btn-cell yellow-casablanca">
                  <i class="fa fa-plus" style="padding-right: 5px;"></i>
                  Add Claim
                </td>
              </tr>
              <!--ADDED FOR THE CASE OF NO PROPERTY BEING PULLED INTO THE CLAIM INFO FROM AIM-->
              <tr ng-if="location.Properties.length < 1">
                <td>{{location.LocationNumber}}</td>
                <td>{{getAddress(location)}}</td>
                <td></td>
                <td></td>
                <td ng-if="claimEditor" ng-click="addClaimWithoutAddress(true, location)" class="btn-cell yellow-casablanca">
                  <i class="fa fa-plus" style="padding-right: 5px;"></i>
                  Add Claim
                </td>
              </tr>
            </tbody>

					</table>
				</div>
			</div>
		</div>
		<!-- END OF POLICY SECTIONS -->
	</div>
</section>