<section class="content not-a-class">

  <!-- BREAD CRUMBS -->
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="#">Dashboard</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#/claims">Claims</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#" ng-click="openPolicyView()">Policy Details</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#">Update Claim</a>
      </li>
    </ul>
  </div>

  <div class="module-box">

    <!--Page Title-->
    <div class="row">
      <div class="col-md-12 bottom-buffer">
        <div class="portlet box blue-soft" style="border-bottom: none; border-left: none; border-right: none; margin-bottom: 0;">
          <div class="portlet-title" id="min-height-38">
            <div class="caption">
              UPDATE CLAIM FOR POLICY: {{claim.PolicyNumber}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />

    <!-- BACK BUTTON -->
    <div>
      <button class="btn btn-cancel" ng-click="openPolicyView()">
        <span style="vertical-align: text-top;">
          <i class="glyphicon glyphicon-chevron-left"></i>
          POLICY
        </span>
      </button>
    </div>

    <!-- GENERAL INFO -->
    <div class="welcome-number-container">
      <span class="welcome-number bgBase">General Info</span>
    </div>

    <div class="row mt20b30">
      <div class="col-md-5">
        <div class="form-group">
          <label>Name Insured</label>
          <input type="text" class="form-control input-display" value="{{claim.NamedInsured}}" readonly />
        </div>
        <div class="form-group">
          <label>Account Executive</label>
          <input type="text" class="form-control input-display" value="{{claim.UnderwriterName}}" readonly />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Agency Name</label>
          <input type="text" class="form-control input-display" value="{{claim.AgencyName}}" readonly />
        </div>
        <div class="form-group">
          <label>Coverage</label>
          <input type="text" class="form-control input-display" value="{{claim.Coverage}}" readonly />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Effective Period</label>
          <input type="text" class="form-control input-display" value="{{claim.EffectiveDate | date}} - {{claim.ExpirationDate | date}}" readonly />
        </div>
        <div class="form-group">
          <label>Office/Team</label>
          <input type="text" class="form-control input-display" value="{{claim.TeamId}}" readonly />
        </div>
      </div>
    </div>

    <!-- Section in case the AgentID was null when getting the overview so now we need update the agency and agent -->
    <div ng-if="showAgencyEntrySection">
      <div class="row">
        <div class="col-md-12">
          <p class="alert alert-danger">Please select an Agency from the list below for this claim:</p>
        </div>
      </div>
      <div class="row mt20b30">
        <div class="col-md-6">
          <div class="form-group">
            <label>Agency</label>
            <ui-select ng-model="search.Agency"
                       theme="bootstrap" reset-search-input="false"
                       ng-required="true"
                       ng-change="agencySelected()">
              <ui-select-match placeholder="Select...">{{$select.selected.AgencyName}}</ui-select-match>
              <ui-select-choices repeat="agency in Agencies | filter: $select.search"
                                 refresh="getAgencies($select.search)"
                                 refresh-delay="0">
                <div ng-bind-html="agency.AgencyName + ' - ' + agency.AgencyCode| highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Agent</label>
            <ui-select ng-model="search.Agent"
                       append-to-body="true"
                       theme="bootstrap"
                       reset-search-input="false"
                       ng-change="agentSelected()"
                       ng-disabled="Agents.length == 0">
              <ui-select-match placeholder="Select Agent">{{$select.selected.ContactName}}</ui-select-match>
              <ui-select-choices repeat="agent in Agents | filter: $select.search">
                <div ng-bind-html="agent.ContactName | highlight: $select.search">
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>


    <!-- CLAIM INFO FORM -->
    <form novalidate name="AddClaimForm" method="POST">
      <!-- CLaim  -->
      <div class="welcome-number-container">
        <span class="welcome-number bgBase">Claim Info</span>
      </div>
      <div class="mt20b30">
        <!-- Number & Status Block -->
        <div class="row">
          <!--Claim Number-->
          <div class="col-md-3">
            <div class="form-group">
              <label>Claim Number</label>
              <input type="text" class="form-control" name="ClaimOfficialNumber" ng-model="claim.ClaimOfficialNumber" placeholder="Enter official claim number" ng-class="{'dirty-field': AddClaimForm.ClaimOfficialNumber.$dirty}" />
            </div>
          </div>

          <!-- PUBLIC CHECK BOX -->
          <div ng-class="claim.AdjusterIsPublic == false ? 'col-md-5' : 'col-md-2'">
            <label>Public Adjuster Involved</label>
            <div>
              <input type="text"
                     class="form-control input-display text-center square-input-sm {{publicStyle}}"
                     style="width: 34px; height: 33px;"
                     value="{{isPublicValue}}"
                     ng-click="makePublic()" />
            </div>
          </div>

          <!-- Public Adjuster Name -->
          <div class="col-md-3" ng-if="isPublicValue">
            <div class="input-group">
              <label>Public Adjuster Company</label>
              <div class="col-xs-12"></div>
              <ui-select ng-model="claim.PublicAdjusterName" name="PublicAdjuster" theme="bootstrap" reset-search-input="false" ng-required="true">
                <ui-select-match placeholder="Select a Public Adjuster...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="publicAdjuster.Name as publicAdjuster in publicAdjusterList | filter: $select.search | orderBy: firstName">
                  <div ng-bind-html="publicAdjuster.Name  | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
              <span class="input-group-btn" name="btn-ngDisabled" style="vertical-align: bottom !important">
                <button class="btn btn-default yellow-casablanca" type="button" ng-click="updatePublicAdjuster()">New</button>
              </span>
            </div>
          </div>

          <!-- Claim Status -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Claim Status</label>
              <ui-select ng-model="claim.Status" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="changeColor()">
                <ui-select-match id="selection">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="status.Code as status in statuses | filter: $select.search track by status.Code">
                  <div ng-bind-html="status.Name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <!-- ADDRESS BLOCK -->
        <div class="row">
          <!--Claim Adress (street, building)-->
          <div class="col-md-6">
            <div class="form-group">
              <label>Loss Address</label>
              <input type="text" class="form-control" name="LossLocation" ng-model="claim.LossAddress.StreetAddress1" placeholder="Loss Address" />
            </div>
          </div>
          <!--ZIP-->
          <div class="col-md-1 pl0">
            <div class="form-group">
              <label>Zip</label>
              <input type="text" class="form-control" name="LossZip" ng-model="claim.LossAddress.Zip" placeholder="Zip Code" ng-blur="getCityAndStateByZip()" />
            </div>
          </div>
          <!--City-->
          <div class="col-md-3 pl0">
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control" name="LossCity" ng-model="claim.LossAddress.City" placeholder="Loss City" validation="required" />
            </div>
          </div>
          <!-- State -->
          <div class="col-md-2 pl0">
            <div class="form-group">
              <label>State</label>
              <input type="text" class="form-control input-display" value="{{claim.LossAddress.State || 'Zip not valid'}}" readonly />
            </div>
          </div>
        </div>

        <!-- LOSS BLOCK -->
        <div class="row">
          <!-- Loss Type -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Loss Type</label>
              <ui-select ng-model="claim.LossType" name="LossType" theme="bootstrap" reset-search-input="false" ng-required="true">
                <ui-select-match placeholder="Select a Loss Type...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="lossType in LossTypesList | filter: $select.search | orderBy: lossType">
                  <div ng-bind-html="lossType  | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <!-- Construction Type -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Construction Type</label>
              <input ng-if="HasAddress" type="text" class="form-control input-display" value="{{claim.Construction}}" readonly />
              <ui-select ng-model="claim.Construction" theme="bootstrap" reset-search-input="false" ng-required="true" ng-if="!HasAddress">
                <ui-select-match placeholder="Select the Construction Type">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="construction in ConstructionTypes | filter: $select.search | orderBy: construction">
                  <div ng-bind-html="construction  | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <!-- Occupancy -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Occupancy</label>
              <input ng-if="HasAddress" type="text" class="form-control input-display" value="{{claim.Occupancy}}" readonly />
              <ui-select ng-model="claim.Occupancy" theme="bootstrap" reset-search-input="false" ng-required="true" ng-if="!HasAddress">
                <ui-select-match placeholder="Select the Occupancy">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="occupancy in OccupancyList | filter: $select.search | orderBy: occupancy">
                  <div ng-bind-html="occupancy | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <!-- DATES & NAMES BLOCK  -->
        <div class="row">
          <!-- Date Reported -->
          <div class="col-md-2">
            <label>Date Reported</label>
            <p class="input-group">
              <input type="text" class="form-control" name="DateReported" jqdatepicker ng-model="claim.DateReported" value="{{claim.DateReported | date}}" />
            </p>
          </div>

          <!-- Date of Loss -->
          <div class="col-md-2">
            <label>Date of Loss</label>
            <p class="input-group">
              <input type="text" class="form-control" name="DateOfLoss" jqdatepicker ng-model="claim.DateOfLoss" value="{{claim.DateOfLoss | date}}" />
            </p>
          </div>

          <!-- Claimant Name -->
          <div class="col-md-8">
            <div class="form-group">
              <label>Claimant Name</label>
              <input type="text" class="form-control" name="ClaimantName" ng-model="claim.ClaimantName" placeholder="Claimant Name" validation="required" />
            </div>
          </div>

        </div>

        <!-- Claim Description-->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Claim Description</label>
              <textarea class="form-control" name="ClaimDescription" ng-model="claim.ClaimDescription" placeholder="Claim Description" rows="2" validation="required"></textarea>
            </div>
          </div>
        </div>

        <!-- Additional Notes -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Additional Notes</label>
              <textarea class="form-control" name="AdditionalNotes" ng-model="claim.AdditionalNotes" placeholder="Enter any additional notes here..." rows="4"></textarea>
            </div>
          </div>
        </div>

      </div> <!-- END OF CLAIMS BLOCK -->
      <!-- ADJUSTERS BLOCK -->
      <div class="welcome-number-container">
        <span class="welcome-number bgBase">Adjuster</span>
      </div>

      <div class="mt20b30">
        <!-- TPA SELECTION -->
        <div class="row">
          <!-- TPA Selection -->
          <div class="col-md-3">
            <div class="form-group">
              <label>TPA</label>
              <input type="text" ng-if="hasAdjuster" class="form-control input-display" value="{{claim.TpaName}}" readonly />
              <ui-select ng-if="!hasAdjuster" ng-model="tpa.Company" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="applyAdjustersList()">
                <ui-select-match placeholder="Select a TPA...">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="tpaSelected in tpaList | filter: $select.search">
                  <div ng-bind-html="tpaSelected.Name  | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <!-- Adjuster Selection -->
          <div class="col-md-3 pl0">
            <div class="form-group">
              <label>Adjuster</label>
              <input type="text" ng-if="hasAdjuster" class="form-control input-display" value="{{claim.AdjusterName}}" readonly />
              <ui-select ng-if="!hasAdjuster" ng-model="tpa.Adjuster" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="applyAdjuster()">
                <ui-select-match placeholder="Select an Adjuster ...">{{$select.selected.FirstName + ' ' + $select.selected.LastName}}</ui-select-match>
                <ui-select-choices repeat="adjusterSelected in adjustersList | filter: $select.search">
                  <div ng-bind-html="(adjusterSelected.FirstName + ' ' + adjusterSelected.LastName)  | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <!-- Adjuster's email -->
          <div class="col-md-3 pl0">
            <div class="form-group">
              <label>Adjuster's Email</label>
              <input type="text" class="form-control input-display" value="{{claim.AdjusterEmail}}" readonly />
            </div>
          </div>

          <!-- Adjuster's Phone -->
          <div class="col-md-2 pl0">
            <div class="form-group">
              <label>Adjuster's Phone</label>
              <input type="tel" class="form-control input-display" value="{{claim.AdjusterPhone}}" readonly />
            </div>
          </div>

          <!-- Adjuster's PhoneExtention -->
          <div class="col-md-1 pl0">
            <div class="form-group">
              <label>Ext.</label>
              <input type="text" class="form-control input-display" value="{{claim.AdjusterExtension}}" readonly />
            </div>
          </div>
        </div>

        <!-- MODIFY/ADD ADJUSTER BUTTONS -->
        <div class="row margin-bottom-5">

          <div class="col-md-12">
            <div class="form-group pull-right">
              <!-- CHANGE ADJUSTER BTN -->
              <button ng-show="!showChange && hasAdjuster" class="btn yellow-casablanca btn-cell ml10" ng-click="showChangeBtn()">
                Change Adjuster
              </button>
              <button ng-show="!showChange" class="btn yellow-casablanca btn-cell ml10" ng-click="addNewAdjuster()">
                Add Adjuster
              </button>
              <button ng-show="showChange && !showSearch && hasAdjuster" class="btn btn-cancel ml10" ng-click="showChange = !showChange">
                <i class="fa fa-2x fa-times"></i>
                Hide
              </button>
            </div>
          </div>
        </div>

        <!-- CHANGE ADJUSTER BLOCK -->
        <div class="search-adjuster-box" ng-show="showChange">
          <!-- TPA SELECTION -->
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>TPA</label>
                <ui-select ng-model="tpa.Company" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="applyAdjustersList()">
                  <ui-select-match placeholder="Select a TPA...">{{$select.selected.Name}}</ui-select-match>
                  <ui-select-choices repeat="tpaSelected in tpaList | filter: $select.search">
                    <div ng-bind-html="tpaSelected.Name  | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <!-- Adjuster Selection -->
            <div class="col-md-3 pl0">
              <div class="form-group">
                <label>Adjuster</label>
                <ui-select ng-model="tpa.Adjuster" theme="bootstrap" reset-search-input="false" ng-required="true">
                  <ui-select-match placeholder="Select an Adjuster ...">{{$select.selected.FirstName + ' ' + $select.selected.LastName}}</ui-select-match>
                  <ui-select-choices repeat="adjusterSelected in adjustersList | filter: $select.search">
                    <div ng-bind-html="(adjusterSelected.FirstName + ' ' + adjusterSelected.LastName)  | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

            <!-- Adjuster's email -->
            <div class="col-md-3 pl0">
              <div class="form-group">
                <label>Adjuster's Email</label>
                <input type="text" class="form-control input-display" value="{{tpa.Adjuster.Email}}" readonly />
              </div>
            </div>

            <!-- Adjuster's Phone -->
            <div class="col-md-2 pl0">
              <div class="form-group">
                <label>Adjuster's Phone</label>
                <input type="text" class="form-control input-display" value="{{tpa.Adjuster.Phone}}" readonly />
              </div>
            </div>

            <!-- Adjuster's PhoneExtention -->
            <div class="col-md-1 pl0">
              <div class="form-group">
                <label>Ext.</label>
                <input type="text" class="form-control input-display" value="{{tpa.Adjuster.Extension}}" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-cell pull-right" ng-click="ApplyAdjusterChanges()">
                  Apply Adjuster
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MONEY BLOCK -->
      <div class="welcome-number-container">
        <span class="welcome-number bgBase">Reserves</span>
      </div>

      <div class="row mt20b30">

        <!-- RESERVED -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Loss Reserved</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">$</span>
              <input type="text" class="form-control" name="LossReserved" ng-model="claim.LossReserve" data-mask="money" placeholder="Enter the Loss Reserved Amount" />
            </div>
          </div>
          <div class="form-group">
            <label>LAE Reserved</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">$</span>
              <input type="text" class="form-control" name="LAEReserved" ng-model="claim.LAEReserve" data-mask="money" placeholder="Enter the LAE Reserved Amount" />
            </div>
          </div>
        </div>

        <!-- PAID -->
        <div class="col-md-4">
          <!-- Loss Paid -->
          <div class="form-group">
            <label>Loss Paid</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">$</span>
              <input type="text" class="form-control" name="LossPaid" data-mask="money" ng-model="claim.LossPaid" placeholder="Enter the Loss Paid..." />
            </div>
          </div>

          <!-- LAE Paid -->
          <div class="form-group">
            <label>LAE Paid</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon4">$</span>
              <input type="text" class="form-control" name="LAEPaid" data-mask="money" ng-model="claim.LAEPaid" placeholder="Enter the LAE Paid..." />
            </div>
          </div>
        </div>

        <!-- Subrogation -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Subrogation</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon5">$</span>
              <input type="text" class="form-control" name="Subrogation" data-mask="money" ng-model="claim.Subrogation" placeholder="Enter the Subrogation Paid..." />
            </div>
          </div>
        </div>
      </div>

      <!--Error List-->
      <div ng-if="Errors.length > 0">
        <div class="alert alert-danger">
          <ul>
            <li ng-repeat="error in Errors">
              {{error}}
            </li>
          </ul>
        </div>
      </div>

      <!-- SUBMIT BUTTON -->
      <div class="form-actions">
        <button class="btn btn-cancel" ng-click="openClaimDetails(claim.Id)">
          CANCEL
        </button>
        <button name="btn-ngDisabled" class="btn yellow-casablanca btn-cell" ng-click="updateClaim()">
          SAVE
        </button>
      </div>
    </form>
  </div>
</section>

<script type="text/ng-template" id="addAdjuster.html">
  <div class="modal-header">
    <h4 class="modal-title">New Adjuster</h4>
  </div>

  <div class="modal-body">
    <!-- BREAD CRUMBS -->
    <!--Success message -->
    <div ng-show="success" class="hidethis col-md-12">
      <div class="bg-success pull-right" style="padding: 5px; text-align: center; width: 100px;">
        Success!
      </div>
    </div>

    <!-- ADD ADJUSTER BLOCK -->
    <div class="p10">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Select TPA</label>
            <ui-select ng-model="tpa.Company" theme="bootstrap" reset-search-input="false" ng-required="true" on-select="applyTpaName()">
              <ui-select-match placeholder="Select a TPA...">{{$select.selected.Name}}</ui-select-match>
              <ui-select-choices repeat="tpaSelected in tpaList | filter: $select.search">
                <div ng-bind-html="tpaSelected.Name  | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <!-- NEW Adjuster First Name -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Adjuster's First Name</label>
            <input type="text" class="form-control" ng-model="tpa.adjuster.FirstName" />
          </div>
        </div>

        <!-- NEW Adjuster Last Name -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Adjuster's Last Name</label>
            <input type="text" class="form-control" ng-model="tpa.adjuster.LastName" />
          </div>
        </div>
      </div>

      <div class="row">
        <!-- New Adjuster's email -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Adjuster's Email</label>
            <input type="text" class="form-control" ng-model="tpa.adjuster.Email" />
          </div>
        </div>

        <!-- Adjuster's Phone -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Adjuster's Phone</label>
            <input type="tel" class="form-control" ng-model="tpa.adjuster.Phone" data-mask="(999) 999 - 9999" />
          </div>
        </div>

        <!-- Adjuster's Phone Extention -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Extension</label>
            <input type="text" class="form-control" ng-model="tpa.adjuster.Extension" />
          </div>
        </div>
      </div>

      <!-- Save Adjuster Btn-->
      <div class="row">
        <div class="col-md-12">
          <div class="form-group pull-right">
            <label>&nbsp;</label>
            <button class="btn btn- ml10" ng-click="close()">
              Cancel
            </button>
            <button class="btn btn-cell" ng-click="addNewAdjuster()">
              Add Adjuster
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Error List-->
    <div ng-show="Errors.length > 0">
      <div class="alert alert-danger" style="margin: 30px 0 0 0;">
        <ul>
          <li ng-repeat="error in Errors">
            {{error}}
          </li>
        </ul>
      </div>
    </div>

  </div>
</script>

<script type="text/ng-template" id="publicAdjuster.html">
  <div class="modal-header">
    <h4 class="modal-title">Update Adjuster Company</h4>
  </div>

  <div class="modal-body">
    <!-- BREAD CRUMBS -->
    <!--Success message -->
    <div ng-show="success" class="hidethis col-md-12">
      <div class="bg-success pull-right" style="padding: 5px; text-align: center; width: 100px;">
        Success!
      </div>
    </div>

    <!-- ADD PUBLIC ADJUSTER BLOCK -->
    <div class="p10">
      <!-- NEW Adjuster Company Name -->
      <div class="col-md-12">
        <div class="form-group">
          <label>Adjuster Company Name</label>
          <input type="text" class="form-control" ng-model="publicAdjuster.Name" />
        </div>
      </div>
    </div>

    <!-- Save Adjuster Btn-->
    <div class="row">
      <div class="col-md-12 margin-top-20">
        <div class="form-group pull-right">
          <label>&nbsp;</label>
          <button class="btn btn-cancel ml10" ng-click="close()">
            Cancel
          </button>
          <button class="btn btn-cell" ng-click="addNewAdjuster()">
            Add Adjuster
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Error List-->
  <div ng-show="Errors.length > 0">
    <div class="alert alert-danger" style="margin: 30px 0 0 0;">
      <ul>
        <li ng-repeat="error in Errors">
          {{error}}
        </li>
      </ul>
    </div>
  </div>

</script>