#form-eligibility {
    padding-bottom: 20px;
}

.eligibility .form-group {
    padding-bottom: 10px;
    margin-bottom: 5px;
}

    .eligibility .form-group:hover {
        background-color: #d9edf7;
        cursor: pointer;
    }

    .eligibility .form-group label {
        cursor: pointer;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
    }

.eligibility-show-more {
    vertical-align: middle;
    margin-top: 10px;
}


.breakdown-address {
    color: #3075ae;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 4px;
}


.eligiblity {
    cursor: pointer;
}

.eligiblity-title {
    color: #000 !important;
    font-weight: 500;
    font-size: 1.1em;
}

    .eligiblity-title:hover {
        color: #fff;
    }


/* Panels */
.eligibility .panel-primary {
    border-color: #fff;
}

    .eligibility .panel-primary > .panel-heading {
        border-color: #fff;
        background-color: #fff;
    }


/* Tooltip */
.tooltip table td {
    padding-right: 10px;
}

.tooltip .tooltip-inner {
    text-align: left;
    max-width: none;
}


.hover-label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.exposure {
    font-weight: bold;
    color: #337ab7;
    font-size: 1.1em;
    margin-bottom: 10px;
}

label {
    font-size: 1em;
}

hr {
    margin: 2px;
}


div .blue-steel {
    background-color: #4B77BE;
}

    div .blue-steel .btn {
        color: #fff;
    }

        div .blue-steel .btn:hover {
            color: #fff;
        }


@media (min-width: 992px) {
    .eligibilityModal .modal-dialog {
        width: 1200px;
    }
}
