<div class="row">
    <div class="col-md-8">
        <form class="form-horizontal" style="margin-top: 30px;">
            <div class="form-group">
                <label for="BusinessDescription" class="col-sm-3 control-label">Effective<span style="color: red;"> *</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control " id="effectiveDate" ng-disabled=" !parent.canModify() || (parent.SubmitForBind() && submitReviewer == false)" ng-model="parent.Policy.Effective" jqdatepicker ng-if="lateBinder" datechange="effectiveDateChanged()" ng-blur="effectiveDateChanged()" />
                    <input type="text" class="form-control " id="effectiveDate" ng-disabled=" !parent.canModify() || parent.Policy.Endorsement != null || (parent.SubmitForBind() && submitReviewer == false)" ng-model="parent.Policy.Effective" jqdatepickerterm ng-if="!lateBinder" datechange="effectiveDateChanged()" ng-blur="effectiveDateChanged()" />
                </div>
            </div>

            <div class="form-group">
                <label for="BusinessDescription" class="col-sm-3 control-label">Expiration<span style="color: red;"> *</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control " id="expirationDate" ng-disabled=" !parent.canModify() || (parent.SubmitForBind() && submitReviewer == false)" ng-model="parent.Policy.Expiration" jqdatepickerterm />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Licensed Agent<span style="color: red;"> *</span></label>
                <div class="col-sm-9">
                    <ui-select ng-model="parent.Policy.ProducingAgencyLicense"
                               append-to-body="true"
                               theme="bootstrap"
                               reset-search-input="false"
                               ng-disabled="!parent.canModify()">
                        <ui-select-match placeholder="Select Licensed Agent">{{$select.selected.LicenseeName + ($select.selected.LicenseNumber ? ' - ' + $select.selected.LicenseNumber : '')}}</ui-select-match>
                        <ui-select-choices repeat="value.LicenseNumber as value in LicensedAgents | filter: $select.search">
                            <div ng-bind-html="value.LicenseeName + (value.LicenseNumber ? ' - ' + value.LicenseNumber : '') | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            
            <!-- Renewal Of -->
            <!--
            <div class="form-group">
                <label class="col-sm-3 control-label">Renewal Of</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Enter Renewal Of" ng-model="parent.Policy.RenewalOf" class="form-control" ng-disabled="parent.Policy.Issued">
                </div>
            </div>
            -->

            <div class="form-group">
                <label class="col-sm-3 control-label">Referral Number</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Enter Referral Number" ng-model="parent.Policy.ReferralNumber" class="form-control" ng-disabled="!parent.canModify()">
                </div>
            </div>
        </form>
        <form class="form-horizontal" style="margin-top: 25px;" ng-if="hasInspectionFee()">
            <div class="col-md-12" style="padding-left: 51px; padding-bottom: 8px;">
                <label><strong>Inspection Order</strong></label>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Contact<span style="color: red;"> *</span></label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Enter Contact Name" ng-model="parent.Policy.InspectionContact" class="form-control" ng-disabled="!parent.canModify()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Phone<span style="color: red;"> *</span></label>
                <div class="col-sm-9">
                    <input type="text" placeholder="Enter Phone Number" ng-model="parent.Policy.InspectionPhone" class="form-control" ng-disabled="!parent.canModify()" data-mask="999-999-9999">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Inspector Notes</label>
                <div class="col-sm-9">
                    <textarea class="form-control" style="height:100px; resize: none;" ng-model="parent.Policy.InspectionNotes" ng-disabled="!parent.canModify()"></textarea>
                </div>
            </div>
        </form>
        
        <div class="elany-coverage" style="margin: 0; padding: 0;" ng-if="isNyQuote()">      
            <!-- ELANY Coverage -->
            <form class="form-horizontal" style="margin-top: 25px;">
                <div class="col-md-12" style="padding-left: 51px; padding-bottom: 8px;">
                    <label><strong>ELANY Coverage</strong></label>
                </div>

                <div class="col-md-12 font-blue-sharp" style="padding-left: 51px; padding-bottom: 8px;"  ng-if="isCustomPackageRiskCompany(parent.Policy.CurrentVersion.FocusedRiskCompanyId)">
                    <label><strong>{{getCustomPackageRiskCompanies(parent.Policy.CurrentVersion.FocusedRiskCompanyId)[0].Name}}</strong></label>
                </div>

                <!-- Coverage Code -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Coverage Code<span style="color: red;"> *</span></label>
                    <div class="col-sm-9">
                        <ui-select ng-model="parent.Policy.CoverageCode"
                                   theme="bootstrap"
                                   ng-disabled="!parent.canModify()"
                                   reset-search-input="false">
                            <ui-select-match placeholder="Select a Coverage Code">{{$select.selected.Code}} - {{$select.selected.Value}}</ui-select-match>
                            <ui-select-choices repeat="coverage.Code as coverage in parent.ElanyCoverage.Coverages | filter: $select.search">
                                <div ng-bind-html="coverage.Code + ' - ' + coverage.Value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!-- Risk Code -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Risk Code<span style="color: red;"> *</span></label>
                    <div class="col-sm-9">
                        <ui-select ng-model="parent.Policy.RiskCode"
                                   theme="bootstrap"
                                   ng-disabled="!parent.canModify()"
                                   reset-search-input="false">
                            <ui-select-match placeholder="Select a Risk Code">{{$select.selected.Code}} - {{$select.selected.Value}}</ui-select-match>
                            <ui-select-choices repeat="risk.Code as risk in parent.ElanyCoverage.Risks | filter: $select.search">
                                <div ng-bind-html="risk.Code + ' - ' + risk.Value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-12 font-blue-sharp" style="padding-left: 51px; padding-bottom: 8px;" ng-if="isCustomPackageRiskCompany(parent.Policy.CurrentVersion.FocusedRiskCompanyId)">
                    <label><strong>{{getCustomPackageRiskCompanies(parent.Policy.CurrentVersion.FocusedRiskCompanyId)[1].Name}}</strong></label>
                </div>

                <!-- Coverage Code 2 -->
                <div class="form-group"  ng-if="isCustomPackageRiskCompany(parent.Policy.CurrentVersion.FocusedRiskCompanyId)">
                    <label class="col-sm-3 control-label">Coverage Code<span style="color: red;"> *</span></label>
                    <div class="col-sm-9">
                        <ui-select ng-model="parent.Policy.CoverageCode2"
                                   theme="bootstrap"
                                   ng-disabled="!parent.canModify()"
                                   reset-search-input="false">
                            <ui-select-match placeholder="Select a Coverage Code">{{$select.selected.Code}} - {{$select.selected.Value}}</ui-select-match>
                            <ui-select-choices repeat="coverage.Code as coverage in parent.ElanyCoverage.Coverages | filter: $select.search">
                                <div ng-bind-html="coverage.Code + ' - ' + coverage.Value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!-- Risk Code 2 -->
                <div class="form-group" ng-if="isCustomPackageRiskCompany(parent.Policy.CurrentVersion.FocusedRiskCompanyId)">
                    <label class="col-sm-3 control-label">Risk Code<span style="color: red;"> *</span></label>
                    <div class="col-sm-9">
                        <ui-select ng-model="parent.Policy.RiskCode2"
                                   theme="bootstrap"
                                   ng-disabled="!parent.canModify()"
                                   reset-search-input="false">
                            <ui-select-match placeholder="Select a Risk Code">{{$select.selected.Code}} - {{$select.selected.Value}}</ui-select-match>
                            <ui-select-choices repeat="risk.Code as risk in parent.ElanyCoverage.Risks | filter: $select.search">
                                <div ng-bind-html="risk.Code + ' - ' + risk.Value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </form> 
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <div>
                <label class="control-label" ng-hide="IsCenturySuretyFocused && !IncludeTria">
                    <input type="checkbox" ng-change="addRemoveIndcludeTria()" ng-disabled="!parent.canModify() || (parent.SubmitForBind() && submitReviewer == false)" ng-model="IncludeTria">
                    <span style="padding-left:10px">Include TRIA</span>
                </label>
            </div>
            <div>
                <div style="margin-top: 2px; padding: 9px 8px 8px 8px; background-color: #16216c; color: white;"><strong>{{getRiskCompanyName(parent.Policy.CurrentVersion.FocusedRiskCompanyId)}}</strong></div>
                <table class="table table-condensed-tight" style="margin-top: 10px;">

                    <tbody id="premium-details-table" ng-repeat="premium in parent.Policy.CurrentVersion.Premiums" ng-if="premium.RiskCompanyId == parent.Policy.CurrentVersion.FocusedRiskCompanyId && !isCustomPackageRiskCompany(parent.Policy.CurrentVersion.FocusedRiskCompanyId)">
                        <tr>
                            <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Total Premium</strong></td>
                            <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>{{premium.PremiumAfterFeesAndTaxes | currency}}</strong></td>
                        </tr>
                        <tr ng-repeat="breakdown in premium.Breakdown | orderBy:'Index'">
                            <td style="padding: 4px">{{breakdown.Name}}</td>
                            <td style="padding: 4px">{{breakdown.Amount | currency}}</td>
                        </tr>
                    </tbody>
                    
                    <!-- CUSTOM PACKAGE -->

                    <tbody id="premium-details-table" ng-repeat="premium in parent.Policy.CurrentVersion.Premiums" ng-if="premium.RiskCompanyId == parent.Policy.CurrentVersion.FocusedRiskCompanyId && isCustomPackageRiskCompany(parent.Policy.CurrentVersion.FocusedRiskCompanyId)">
                    <tr>
                        <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Total Premium</strong></td>
                        <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>{{premium.PremiumAfterFeesAndTaxes | currency}}</strong></td>
                    </tr>
                    <tr ng-repeat="breakdown in premium.Breakdown | orderBy:'Index'">
                        <td style="padding: 4px">
                            <div class="pull-left">{{breakdown.Name}}</div>
                            <div ng-if="getCustomPackageCoverageRiskCompanyShortName(breakdown.Coverage, premium.RiskCompanyId)" class="pull-left font-blue-sharp" style="display: inline-block;">&nbsp;({{getCustomPackageCoverageRiskCompanyShortName(breakdown.Coverage, premium.RiskCompanyId)}})</div>
                        </td>
                        <td style="padding: 4px">
                            {{breakdown.Amount | currency}}
                            <div ng-if="breakdown.Name == 'Policy Fee' && parent.Policy.HomeStateCode == 'TX'" class="pull-right" style="display: inline-block;">TX 50/50</div>
                            <input ng-if="breakdown.Name == 'Policy Fee' && parent.Policy.HomeStateCode == 'TX'" type="checkbox" ng-disabled="Policy.Bound" ng-checked="IsTexasSplit" ng-click="addRemoveTexasSplit()" class="pull-right" style="margin-right: 4px; margin-top: 2px;">
                        </td>
                    </tr>
                    </tbody>
                
                    <!-- END -->
                </table>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 5px;">
            <label class="control-label" ng-if="LateBind.IsLateBind || LateBind.IsForcedLateBind">
                <input type="checkbox" ng-disabled="parent.Policy.Issued || (parent.SubmitForBind() && submitReviewer == false)" ng-model="LateBind.UserHasAcknowledged" ng-change="updateApprovedByField()" class="col-md-1">
                <span style="padding-left: 10px;" class="col-md-11">I have received carrier approval for this bind request and printed the correspondence into the file.</span>
            </label>
        </div>
        <div class="form-group" ng-if="LateBind.IsLateBind || LateBind.IsForcedLateBind">
            <label for="BusinessDescription" class="control-label">Late Bind Approved By<span style="color: red;"> *</span></label>
            <div style="margin-bottom: 12px;">
                <input type="text" class="form-control" placeholder="Enter Name" ng-disabled="parent.Policy.Issued || parent.Policy.Endorsement != null || (parent.SubmitForBind() && submitReviewer == false) || !LateBind.UserHasAcknowledged" ng-model="parent.Policy.LateBindApprovedBy" />
            </div>
        </div>
        <div style="clear: both" ng-show="InfoMessages.length > 0" class="alert alert-info">
            <ul>
                <li ng-repeat="message in InfoMessages | unique">
                    {{message}}
                </li>
            </ul>
        </div>
        <div style="clear:both" ng-show="ValidationErrorList.length > 0">
            <div class="alert alert-danger" role="alert">
                <h4>Oops...</h4>
                <h5>In order to bind please correct the following:</h5>
                <ul>
                    <li ng-repeat="error in ValidationErrorList | unique">
                        {{error}}
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear:both" ng-show="ErrorList.length > 0">
            <div class="alert alert-danger" role="alert">
                <h4>Oops...</h4>
                <ul>
                    <li ng-repeat="error in ErrorList | unique">
                        {{error}}
                    </li>
                </ul>
            </div>
        </div>
        <!--this was taken out because it is forcing Errorlist error to print out twice-->

        <!--<div style="clear:both" ng-show="checkForBindErrors().length > 0">
            <div class="alert alert-danger" role="alert">
                <h4>Oops...</h4>
                <ul>
                    <li ng-repeat="error in checkForBindErrors() | unique">
                        {{error}}
                    </li>
                </ul>
            </div>
        </div>-->
        <label ng-if="isNyQuote() && AffidavitCSigned" class="control-label col-md-12" style="text-align: right">Affidavit C Signed and Uploaded.</label>

        <div style="margin: 0; padding: 0" ng-if="!parent.IsCommercialPortalQuote()">
            <button class="btn yellow-casablanca pull-right" ng-click="saveChanges()" ng-show="hasAnyPremium()" ng-if="checkForBindErrors().length > 0">Save</button>
            <button class="btn yellow-casablanca pull-right" ng-click="confirmRenewal(false)" ng-show="hasAnyPremium()" ng-if="canBind()">Save &amp; Bind</button>
            <button class="btn yellow-casablanca pull-right" ng-click="confirmIssue(false)" ng-show="hasAnyPremium()" ng-if="canIssue()">Save &amp; Bind</button>
            <button class="btn yellow-casablanca pull-right" ng-click="uploadAffidavitC()" ng-show="hasAnyPremium()" ng-if="canUploadAffidavitC()">Upload Affidavit C</button>
        </div>
        <div style="margin: 0; padding: 0" ng-if="parent.IsCommercialPortalQuote()">
            <button class="btn yellow-casablanca pull-right" ng-click="saveChanges()" ng-show="hasAnyPremium()" ng-if="checkForBindErrors().length > 0">Save</button>
            <button class="btn btn-success pull-right" ng-click="confirmRenewal(false)" ng-show="hasAnyPremium()" ng-if="canBind()">Save &amp; Bind</button>
            <button class="btn btn-danger pull-right" style="margin-right: 10px" ng-click="declineBindRequest()" ng-show="hasAnyPremium()" ng-if="canBind()">Decline Bind</button>
            <button class="btn yellow-casablanca pull-right" ng-click="confirmIssue(false)" ng-show="hasAnyPremium()" ng-if="canIssue()">Save &amp; Bind</button>
            <button class="btn yellow-casablanca pull-right" ng-click="uploadAffidavitC()" ng-show="hasAnyPremium()" ng-if="canUploadAffidavitC()">Upload Affidavit C</button>
        </div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="confirmRenewal.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <p ng-if="!HasSameEffective">By changing the effective date, this policy will no longer be a renewal.</p>
                    <p ng-if="!HasSameRiskCompany">By changing the risk company, this policy will no longer be a renewal.</p>
                    <p>Are you sure you want to continue?</p>
                </div>
            </div>
            <div class="modal-push"></div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close('cancel')">Cancel</button>
                <button type="button" class="btn yellow-casablanca" ng-click="close('continue')">Continue</button>
            </div>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="test_Commercial_Lines_confirmBind.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <!--
                    <p style="text-align: center"><font size="5">You are binding with</font></p>
                    <p style="text-align: center; color:blue"><font size="6">{{riskCompany}}</font></p>
                    <p style="text-align: center"><font size="5">With total premium of</font></p>
                    <p style="text-align: center; color:green" class="green-jungle"><font size="6">{{totalPremium | currency}}</font></p>
                    -->
                    <div class="panel panel-default">
                        <div class="panel-body" style="border-color:none">
                            <p style="text-align: center; margin: 0">
                                <font size="5" style="text-align: center">You are binding with <span style="color: #495fe6">{{riskCompany}}</span></font>
                            </p>
                            <p style="text-align: center; margin: 0">
                                <font size="5">effective {{effectiveDate}} with a total premium of</font>
                            </p>
                        </div>
                        <div class="panel-footer" style="background-color: #4bc8b5">
                            <p style="text-align: center; margin-top: 10px; margin-bottom: 10px">
                                <span style="color:white; font-size:3em">{{totalPremium | currency}}</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Please make sure all quote revisions have been made before binding coverage.</p>
                    <p>Are you sure you want to bind and issue?</p>
                </div>
            </div>
            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="button" class="btn yellow-casablanca" ng-click="add()">Bind</button>
            </div>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="confirmIssue.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <!--
                    <p style="text-align: center"><font size="5">You are issuing with</font></p>
                    <p style="text-align: center; color:blue"><font size="6">{{riskCompany}}</font></p>
                    <p style="text-align: center"><font size="5">With total premium of</font></p>
                    <p style="text-align: center; color:green" class="green-jungle"><font size="6">{{totalPremium | currency}}</font></p>
                    -->
                    <div class="panel panel-default" style="border-color: #4bc8b5">
                        <div class="panel-body">
                            <p style="text-align: center; margin: 0">
                                <font size="5" style="text-align: center">You are issuing with <span style="color: #495fe6">{{riskCompany}}</span></font>
                            </p>
                            <p style="text-align: center; margin: 0">
                                <font size="5">with a total premium of</font>
                            </p>
                        </div>
                        <div class="panel-footer" style="background-color: #4bc8b5">
                            <p style="text-align: center; margin-top: 10px; margin-bottom: 10px">
                                <font size="6" color="white">{{totalPremium | currency}}</font>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Are you sure you want to issue?</p>
                </div>
            </div>
            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="button" class="btn yellow-casablanca" ng-click="add()">Bind</button>
            </div>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="aimSubmission.html">
        <div class="modal-header">
            <h4 class="modal-title">AIM Submission</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-weight:bold">If you have an existing AIM submission, please enter the submission number below.</p>
                    <div class="input-group" ng-if="submission.noExistingSubmission != true">
                        <input type="text" class="form-control" ng-model="submission.Number">
                        <div class="input-group-btn">
                            <button type="button" class="btn yellow-casablanca" ng-click="search()">Search</button>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->

                    <div ng-if="submissionInfo != null && !submissionInfo.DoesNotExist" class="well" style="margin-top:10px">
                        <div><strong>Named Insured:</strong> {{submissionInfo.NamedInsured}}</div>
                        <div ng-if="submissionInfo.IsBound" style="margin-top:10px; color:red;"><strong>This submission is already bound.</strong> Please make sure the submission number you entered is correct</div>
                        <div ng-if="!submissionInfo.IsBound"><label style="margin-top:10px"><input type="checkbox" ng-model="submission.Confirmed" style="margin-right:5px" />I confirm the named insured and the submission number is correct.</label> </div>
                    </div>

                    <div ng-if="submissionInfo != null && submissionInfo.DoesNotExist" class="well">
                        <div>Submission does not exist in AIM.</div>
                    </div>

                    <label style="margin-top:10px" ng-if="!submission.Confirmed"><input style="margin-right:5px" type="checkbox" ng-model="submission.noExistingSubmission" />An existing AIM submission does not exist.</label>
                </div>
            </div>

            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="button" class="btn yellow-casablanca" ng-click="add()" ng-disabled="!submission.noExistingSubmission && !submission.Confirmed">Bind</button>
            </div>.
        </div>
    </script>
</div>
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
<script type="text/ng-template" id="showBoundPolicies.html">
    <div class="modal-header">
        <h4 class="modal-title">Custom Package</h4>
    </div>
    <div class="modal-body" id="custom-package-bound">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <center><h3 style="font-family: 'Lato' !important; margin-bottom: 20px;">Your quote has been successfully bound!</h3></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-left: 20px;">
                    <div style="display: inline-block; width: 5%;"><span class="glyphicon glyphicon-home"></span></div>
                    <div style="display: inline-block; width: 35%;"><h4 style="font-family: 'Lato' !important;">Monoline Property Policy:</h4></div>
                    <div style="display: inline-block;"><a href="#" style="text-decoration: none;"><h4 style="font-family: 'Lato' !important;"><strong>{{PropertySubmissionNumber}}</strong></h4></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-left: 20px;">
                    <div style="display: inline-block; width: 5%;"><span class="liability-ico" style="margin-right: 0px;"></span></div>
                    <div style="display: inline-block; width: 35%;"><h4 style="font-family: 'Lato' !important;">Monoline Liability Policy:</h4></div>
                    <div style="display: inline-block;"><a href="#" style="text-decoration: none;"><h4 style="font-family: 'Lato' !important;"><strong>{{LiabilitySubmissionNumber}}</strong></h4></a></div>
                </div>
            </div>
        </div>
        <div class="modal-push">
        </div>
    </div>
    <div class="modal-footer">
        <div id="modal_commands">
            <button id="modalProperty_close" type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Return to Policy Dashboard</button>
        </div>
    </div>
</script>

<div>
    <script type="text/ng-template" id="validateAffidavitC.html">
        <div class="modal-header">
            <h4 class="modal-title">Affidavit C</h4>
        </div>
        <div class="modal-body">
            <tabset>
                <tab ng-repeat="company in Companies" heading="Company {{$index + 1}}" active="company.active" ng-init="company.active = $index == 0">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="control-label">Name of Company</label>
                            <ui-select ng-model="company.Info"
                                       append-to-body="true"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       ng-change="setCompanyInfo(company, $select.selected)">
                                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="info in CompanyInfo | filter: $select.search">
                                    <div ng-bind-html="info.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="control-label">NAIC Code</label>
                            <input class="form-control" ng-model="company.NaicCode" />
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Date Declining</label>
                            <input class="form-control" ng-model="company.DateDeclining" jqdatepicker />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 control-label">Name of Representative</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="company.FirstNameOfRepresentative" placeholder="First Name" />
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="company.LastNameOfRepresentative" placeholder="Last Name" />
                        </div>
                    </div>
                    <div ng-if="Errors.length > 0" class="alert alert-danger" role="alert" style="text-align:left;">
                        <ul>
                            <li ng-repeat="error in Errors">{{error}}</li>
                        </ul>
                    </div>
                </tab>
                <tab heading="Document" active="Document.Active">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="control-label">Upload Document:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" ng-model="Document.Name"
                                   placeholder="Click 'Browse' to upload a document." readonly="readonly" />
                            <input type="file" id="affCFile" style="width: 1px; visibility: hidden;"
                                   accept="application/pdf" onchange="angular.element(this).scope().onFileUploaded(this)" />
                        </div>
                        <div class="col-sm-3">
                            <label for="affCFile" class="btn btn-sm btn-success">
                                <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Browse
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox" required style="float:left" ng-model="Document.NelpChecked" />
                            <div class="col-sm-11">
                                I agree to be responsible for placing a signed copy of the NELP form signed by the insured into the ImageRight file.
                            </div>
                        </div>
                    </div>
                    <div ng-if="Errors.length > 0" class="alert alert-danger" role="alert" style="text-align:left;">
                        <ul>
                            <li ng-repeat="error in Errors">{{error}}</li>
                        </ul>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" ng-click="close()">Cancel</button>
            <button ng-if="!Companies[0].active" type="button" class="btn btn-default" ng-click="back()">Back</button>
            <button ng-if="(Companies | filter: {active: true}).length == 1" type="button" class="btn yellow-casablanca" ng-click="next()">Next</button>
            <button ng-if="(Companies | filter: {active: true}).length == 0" type="button" class="btn yellow-casablanca" ng-click="confirm()">Bind</button>
        </div>
    </script>
</div>