<div class="row" ng-if="parent.Policy.Endorsement != null && EndorsementRecord !=null">
    <div class="col-sm-6" style="margin: 0 auto; width: 600px; display: block; float: none;">
        <form class="form-horizontal" style="margin-top: 30px;">
            <div class="form-group">
                <label for="EndorsementEffective" class="col-sm-4 control-label" style="text-align: left; font-weight: bold">Endorsement Effective</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control " id="EndorsementEffective" ng-model="EndorsementRecord.EndorsementEffective" jqdatepickerendorsement datebeforeshow="effectiveDateBeforeShow()" dateonclose="effectiveDateClosed()" datechange="endorsementEffectiveDateChanged(true)" ng-disabled="!parent.canModify()" ng-blur="endorsementEffectiveDateChanged(false)" ng-min-date="parent.Policy.Effective" ng-max-date="parent.Policy.Expiration" />
                </div>
            </div>

            <div class="form-group" ng-show="EndorsementRecord.PremiumAfterFeesAndTaxes != 0 || togglePremium">
                <label class="col-sm-4 control-label" style="text-align: left; font-weight: bold">Pro-Rata Factor</label>
                <div class="col-sm-8">
                    <input type="text" placeholder="Enter Referral Number" ng-model="EndorsementRecord.DevelopedRate" class="form-control" ng-disabled="true">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label" style="text-align: left; font-weight: bold">Referral Number</label>
                <div class="col-sm-8">
                    <input type="text" placeholder="Enter Referral Number" ng-model="parent.Policy.ReferralNumber" class="form-control" ng-disabled="!parent.canModify()">
                </div>
            </div>
        </form>


        <div class="alert alert-info" role="alert" style="font-size: 1.2em; margin-top: 30px;" ng-if="EndorsementRecord.IsMinimumPremiumChange && EndorsementRecord.PremiumAfterFeesAndTaxes > 0">
            <div>
                The system has detected this is a minimum premium policy. You may need to manually calculate developed premium, please adjust the below premium accordingly.
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="alert alert-info" role="alert" style="font-size: 1.2em; margin-top: 30px;" ng-if="isUserAdjustedPremium()">
            <div>
                This policy premium was user adjusted. You may need to manually calculate the endorsement premium for this policy change transaction.
            </div>
            <div style="clear: both"></div>
        </div>

        <div ng-show="!parent.Policy.Bound || EndorsementRecord.IsFullyEarned">
            <input type="checkbox" ng-model="EndorsementRecord.IsFullyEarned" ng-change="updateEndorsementPremium()" ng-disabled="!parent.canModify()" /> Fully Earned
        </div>

        <table class="table table-condensed-tight" style="margin-top: 30px;">
            <thead ng-click="toggleReturnPremium = !toggleReturnPremium">
                <tr>
                    <th colspan="3" style="text-align: center; color: #1BA39C">
                        Return Premium Transaction
                        <span ng-if="!toggleReturnPremium && EndorsementRecord.ReturnPremiumAfterFeesAndTaxes == 0" style="font-size: 12px; text-decoration: underline; color: lightblue">(show)</span>
                        <span ng-if="toggleReturnPremium && EndorsementRecord.ReturnPremiumAfterFeesAndTaxes == 0" style="font-size: 12px; text-decoration: underline; color: lightblue">(hide)</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="canAdjustPremium && (EndorsementRecord.ReturnPremiumAfterFeesAndTaxes != 0 || toggleReturnPremium)">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 60%;"><strong> </strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 20%;"><strong>Developed</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 20%;"><strong>User Adjusted</strong></td>
                </tr>
                <tr ng-repeat="breakdown in EndorsementRecord.PremiumBreakdowns | orderBy:'Index'" ng-if="breakdown.PremiumType == 2 && breakdown.Coverage != 'Fee' && breakdown.Coverage != 'Tax'" ng-show="EndorsementRecord.ReturnPremiumAfterFeesAndTaxes != 0 || toggleReturnPremium">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 60%;"><strong>{{breakdown.Name}} - {{breakdown.Coverage}}</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 40%;" ng-if="!canAdjustPremium">{{breakdown.DevelopedAmount | currency}}</td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 20%;" ng-if="canAdjustPremium">{{breakdown.DevelopedAmount | currency}}</td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 20%;" ng-if="canAdjustPremium">
                        <input class="form-control input-sm" data-mask="#" ng-model="breakdown.Amount" placeholder="Adjust Premium Here" ng-blur="updateEndorsementPremium()" ng-if="parent.canModify() && parent.Policy.CurrentVersion.RiskCompanyId != 'b216d262-52f0-4864-aec9-3411acf7c218'" />
                        <div ng-if="!parent.canModify()">{{breakdown.Amount | currency}}</div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed-tight" style="margin-top: 30px;">
            <thead ng-click="toggleAdditionalPremium = !toggleAdditionalPremium">
                <tr>
                    <th colspan="3" style="text-align: center; color: #1BA39C">
                        Additional Premium Transaction
                        <span ng-if="!toggleAdditionalPremium && EndorsementRecord.AdditionalPremiumAfterFeesAndTaxes == 0" style="font-size: 12px; text-decoration: underline; color: lightblue">(show)</span>
                        <span ng-if="toggleAdditionalPremium && EndorsementRecord.AdditionalPremiumAfterFeesAndTaxes == 0" style="font-size: 12px; text-decoration: underline; color: lightblue">(hide)</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="canAdjustPremium && (EndorsementRecord.AdditionalPremiumAfterFeesAndTaxes != 0 || toggleAdditionalPremium)">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 60%;"><strong> </strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 20%;"><strong>Developed</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 20%;"><strong>User Adjusted</strong></td>
                </tr>

                <tr ng-repeat="breakdown in EndorsementRecord.PremiumBreakdowns | orderBy:'Index'" ng-if="breakdown.PremiumType == 1 && breakdown.Coverage != 'Fee' && breakdown.Coverage != 'Tax'" ng-show="EndorsementRecord.AdditionalPremiumAfterFeesAndTaxes != 0 || toggleAdditionalPremium">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 60%;"><strong>{{breakdown.Name}} - {{breakdown.Coverage}}</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 40%;" ng-if="!canAdjustPremium">{{breakdown.DevelopedAmount | currency}}</td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 20%;" ng-if="canAdjustPremium">{{breakdown.DevelopedAmount | currency}}</td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 20%;" ng-if="canAdjustPremium">
                        <input class="form-control input-sm" data-mask="#" ng-model="breakdown.Amount" placeholder="Adjust Premium Here" ng-blur="updateEndorsementPremium()" ng-if="parent.canModify() && parent.Policy.CurrentVersion.RiskCompanyId != 'b216d262-52f0-4864-aec9-3411acf7c218'" />
                        <div ng-if="!parent.canModify()">{{breakdown.Amount | currency}}</div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-condensed-tight" style="margin-top: 30px;">
            <thead ng-click="togglePremium = !togglePremium">
                <tr>
                    <th colspan="3" style="text-align: center; color: #1BA39C">Total Premium  <span ng-if="!togglePremium && EndorsementRecord.PremiumAfterFeesAndTaxes == 0" style="font-size: 12px; text-decoration: underline; color: lightblue">(show)</span><span ng-if="togglePremium && EndorsementRecord.PremiumAfterFeesAndTaxes == 0" style="font-size: 12px; text-decoration: underline; color: lightblue">(hide)</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="EndorsementRecord.PremiumAfterFeesAndTaxes != 0 || togglePremium">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 60%;"><strong>Premium</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 40%;">{{EndorsementRecord.Premium | currency}}</td>
                </tr>

                <tr ng-repeat="breakdown in EndorsementRecord.PremiumBreakdowns | orderBy:'Index'" ng-if="breakdown.PremiumType == 0 && breakdown.Name != 'Additional Premium' && breakdown.Name != 'Return Premium' && breakdown.Name != 'Premium'" ng-show="EndorsementRecord.PremiumAfterFeesAndTaxes != 0 || togglePremium">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 60%;"><strong>{{breakdown.Name}}</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 40%;">{{breakdown.DevelopedAmount | currency}}</td>
                </tr>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 60%;"><strong>Total Premium</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em; width: 40%;"><strong>{{EndorsementRecord.PremiumAfterFeesAndTaxes | currency}}</strong></td>
                </tr>
            </tbody>
        </table>
        <div style="clear: both"></div>
    </div>
    <div class="col-sm-6" style="margin: 0 auto; width: 600px; display: block; float: none;">

        <table class="table table-condensed-tight" style="margin-top: 30px;">
            <tbody></tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <h3 style="text-align: center">
                <strong>Endorsement Activity</strong>
            </h3>

            <div class="panel panel-default" ng-if="(parent.Policy.CurrentVersion.Forms | filter: { SuggestToDelete:true, IsRemoved: false } ).length > 0">
                <div class="panel-heading">Forms Suggested to Remove</div>
                <div class="panel-body">
                    <table style="width:100%">
                        <tr ng-repeat="form in parent.Policy.CurrentVersion.Forms | filter: { SuggestToDelete:true, IsRemoved: false }">
                            <td>{{form.Number}} - {{form.Edition}}</td>
                            <td>{{form.Description}}</td>
                            <td style="width:100px" ng-if="parent.canModify()">
                                <button class="btn btn-link" tooltip="Remove" style="color: #0096db;" ng-click="deleteForm(form)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>


            <accordion close-others="true">
                <div accordion-group class="panel-default" is-open="EndorsementRecord.isAddedOpen" ng-if="(EndorsementRecord.EndorsementActivityGroups | filter:{ Action: 0}).length > 0">
                    <accordion-heading>
                        Added<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': EndorsementRecord.isAddedOpen, 'glyphicon-chevron-right': !EndorsementRecord.isAddedOpen}"></i>
                    </accordion-heading>
                    <div style="margin-bottom: 5px; padding: 5px;" ng-repeat="record in EndorsementRecord.EndorsementActivityGroups | filter: { Action: 0 } | orderBy:['ActivityType', 'Message']">
                        <div style="background-color: #0096db; color: White; padding: 5px; font-size: 1.1em">{{record.Message}}</div>
                        <div ng-if="record.Activities.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><strong>Value</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activity in record.Activities">
                                        <td>{{activity.Name}}</td>
                                        <td>{{activity.NewValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div accordion-group class="panel-default" is-open=" EndorsementRecord.isUpdatedOpen" ng-if="(EndorsementRecord.EndorsementActivityGroups | filter:{ Action: 1}).length > 0">
                    <accordion-heading>
                        Updated<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': EndorsementRecord.isUpdatedOpen, 'glyphicon-chevron-right': !EndorsementRecord.isUpdatedOpen}"></i>
                    </accordion-heading>
                    <div style="margin-bottom: 5px; padding: 5px;" ng-repeat="record in EndorsementRecord.EndorsementActivityGroups | filter: { Action: 1 } | orderBy:['ActivityType', 'Message']">
                        <div style="background-color: #0096db; color: White; padding: 5px; font-size: 1.1em">{{record.Message}}</div>
                        <div ng-if="record.Activities.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><strong>Previous Value</strong></th>
                                        <th><strong>New Value</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activity in record.Activities">
                                        <td>{{activity.Name}}</td>
                                        <td>{{activity.OldValue}}</td>
                                        <td>{{activity.NewValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div accordion-group class="panel-default" is-open="EndorsementRecord.isDeletedOpen" ng-if="(EndorsementRecord.EndorsementActivityGroups | filter:{ Action: 2}).length > 0">
                    <accordion-heading>
                        Removed<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': EndorsementRecord.isDeletedOpen, 'glyphicon-chevron-right': !EndorsementRecord.isDeletedOpen}"></i>
                    </accordion-heading>
                    <div style="margin-bottom: 5px; padding: 5px;" ng-repeat="record in EndorsementRecord.EndorsementActivityGroups | filter: { Action: 2 } | orderBy:['ActivityType', 'Message']">
                        <div style="background-color: #0096db; color: White; padding: 5px; font-size: 1.1em">{{record.Message}}</div>
                        <div ng-if="record.Activities.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><strong>Value</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activity in record.Activities">
                                        <td>{{activity.Name}}</td>
                                        <td>{{activity.OldValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </accordion>

            <h4><strong>Endorsement Summary</strong></h4>
            <div>
                <textarea class="form-control" ng-model="EndorsementRecord.Summary" style="height: 300px" ng-disabled="!parent.canModify()"></textarea>
            </div>


            <div class="alert alert-info" role="alert" style="font-size: 1.2em; margin-top: 10px;">
                <div><strong>Underwriting Acknowledgement</strong></div>
                <!--<div>I hereby confirm that I understand and agree with each of the following statements are true:</div>-->
                <ul style="display: block; margin-top: 10px">
                    <li>I have reviewed the rate and premium for the endorsement and confirmed it is within carrier guidelines.</li>
                    <li>I have reviewed the endorsement summary and confirmed it aligns with the agent policy change request.</li>
                </ul>
                <div>
                    <input type="text" class="form-control" ng-model="EndorsementRecord.SignedBy" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" placeholder="Sign Your Full Name Here" ng-disabled="!parent.canModify()" />
                </div>
                <div style="clear: both"></div>
            </div>

            <button class="btn btn-primary pull-left" style="margin-top: 20px" ng-click="downloadEndorsement()">Download Endorsement Doc</button>

            <div ng-if="parent.canModify()">
                <div ng-if="isRliPortalApp">
                    <div class="btn-group pull-right" role="group">
                        <button type="button" style="margin-top: 20px" class="btn yellow-casablanca" ng-click="bindEndorsement(false)" ng-disabled="isNullOrEmpty(EndorsementRecord.SignedBy)">
                            Bind Endorsement
                        </button>
                    </div>
                </div>
                <div ng-if="!isRliPortalApp">
                    <div class="btn-group pull-right dropup" role="group">
                        <button type="button" style="margin-top: 20px" class="btn yellow-casablanca dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="EndorsementRecord.SignedBy == null || EndorsementRecord.SignedBy == '' || Policy.Bound">
                            Bind Endorsement
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="margin-bottom:-15px;">
                            <li ng-click="confirmBindEndorsementContact()"><a href="#">Send to Agent</a></li>
                            <li ng-click="bindEndorsement(false)"><a href="#">Do not send to Agent</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>

            <div class="row" ng-show="Errors.length > 0" style="margin-top:10px">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul>
                            <li ng-repeat="error in Errors track by $index">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="addEndorsementFee.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Fee</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="selected.Fee"
                                       append-to-body="true"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       on-select="">
                                <ui-select-match placeholder="Select a Fee">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="value in EndorsementRecord.AvailableFees | filter: $select.search">
                                    <div ng-bind-html="value.Name | highlight: $select.search">
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group" style="padding-top:20px;clear:both">
                        <label for="" class="col-sm-3 control-label">Amount</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="selected.Amount" data-mask="#" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="ErrorList.length > 0">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul>
                            <li ng-repeat="error in ErrorList">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn yellow-casablanca" ng-click="add()">Add</button>
            </div>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="confirmBindEndorsement.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <p>Please make sure all revisions have been made before binding the endorsement.</p>
                    <p>Are you sure you want to bind the endorsement?</p>
                </div>
            </div>

            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn yellow-casablanca" ng-click="bindEndorsement()">Bind</button>
            </div>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="confirmBindContact.html">
        <div class="modal-header">
            <h4 class="modal-title">Send to Contact</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        Send Endorsement info to the following
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <label style="margin-top: 15px;">Contact Email</label>
                        <input type="text" class="form-control" ng-model="emailTo" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" ng-init="contactEmail" ng-disabled="parent.Policy.Bound" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <label style="margin-top: 15px;">Contact Name</label>
                        <input type="text" class="form-control" ng-model="finalContactName" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" ng-init="contactName" ng-disabled="parent.Policy.Bound" />
                    </div>
                </div>
            </div>

            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn yellow-casablanca" ng-click="add()">Bind</button>
            </div>
        </div>
        <div class="row" ng-show="Errors.length > 0" style="margin-top:10px">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <ul>
                        <li ng-repeat="error in Errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </script>
</div>