
    <div class="well well-sm" style="margin-bottom:5px; background-color:#16216c; border:#4f5a67;color:white">
        <span style="font-weight:bold;" tooltip="MALACHI Submission Number or Policy Number">{{Policy.Number}}</span>
        <span style="margin-left:10px;" tooltip-html-unsafe="{{displayFullName(Policy.Insured.Name)}}" data-tooltip-placement="bottom">{{Policy.Insured.Name | limitTo:100 }}</span>
        <span class="pull-right" ng-show="Policy.Endorsement != null" style="margin-right:9px;"><span class="label label bg-purple-studio">Endorsement {{Policy.EndorsementNumber}}</span></span>
        <span class="pull-right" ng-show="Policy.Bound && Policy.Issued == false" style="margin-right:9px;"><span class="label bg-yellow-casablanca 
                                                                                                                  -casablanca">Bound</span></span>
        <span class="pull-right" ng-show="Policy.Issued" style="margin-right:9px;"><span class="label" style="background-color: #f05f2a">Issued</span></span>
        <span class="pull-right" ng-show="!SubmitApproved(Policy.CurrentVersion.FocusedRiskCompanyId) && SubmitRequested(Policy.CurrentVersion.FocusedRiskCompanyId) && SubmitRequired(Policy.CurrentVersion.FocusedRiskCompanyId)" style="margin-right:9px;"><span class="label bg-yellow-casablanca bg-font-yellow-casablanca">Submit Requested</span></span>
        <span class="pull-right" ng-show="SubmitApproved(Policy.CurrentVersion.FocusedRiskCompanyId) && SubmitRequested(Policy.CurrentVersion.FocusedRiskCompanyId) && SubmitRequired(Policy.CurrentVersion.FocusedRiskCompanyId)" style="margin-right:9px;"><span class="label bg-green-jungle bg-font-green-jungle">Submit Approved</span></span>
        <span class="pull-right" ng-show="SubmitForBind() && Policy.Bound == false" style="margin-right:9px;"><span class="label bg-yellow-casablanca bg-font-yellow-casablanca">Submitted For Bind</span></span>
        <span class="pull-right" ng-show="Policy.RenewalOf != null && Policy.RenewalOf.length > 0" style="margin-right:9px;"><span class="label" style="background-color: #f05f2a">Renewal of {{Policy.RenewalOf}}</span></span>
        <span class="pull-right" ng-show="PolicyInWorkflow()" style="margin-right:9px;"><span class="label" style="background-color: #ea4f5e">Workflow</span></span>
        <span class="pull-right" ng-show="OnHoldForClaims()" style="margin-right:9px;"><span class="label" style="background-color: #ea4f5e">On Hold Due To Claim</span></span>
    </div>

<nav class="navbar navbar-default">
  <div class="container-fluid" style="padding-left: 0">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="padding-left: 0">
        <span class="pull-left" style="margin-top: 15px; margin-left: 8px; font-size: 1.1em; color: #16216c;" ng-show="Policy.Endorsement == null && Policy.LateEffectiveDate && !Policy.Bound && Policy.RenewalOf == null"><strong>Effective Date is in the Past</strong></span><button class="btn yellow-casablanca pull-left" style="margin-top: 7px; margin-left: 8px;" ng-show="Policy.Endorsement == null && Policy.LateEffectiveDate && !Policy.Bound && Policy.RenewalOf == null" ng-click="updatePolicyTermToToday()">Set to Today</button>

        <button class="btn yellow-casablanca pull-left" ng-show="Policy.Id.length > 0" style="margin-top: 7px; margin-left: 8px;" ng-click="openPolicyNotes()">
            Policy Notes
        </button>

        <button class="btn yellow-casablanca pull-left" ng-show="Policy.Id.length > 0 && Policy.Bound" style="margin-top: 7px; margin-left: 8px;" ng-click="openUploadDocuments()">
            Upload Documents
        </button>

        <button class="btn yellow-casablanca pull-left" ng-show="OnHoldForClaims()" style="margin-top: 7px; margin-left: 8px;" ng-click="confirmRelease()">
            Release to Agent
        </button>

        <form class="navbar-form navbar-right ng-pristine ng-valid" style="padding-right: 0;">
            <div ng-show="showDocumentsDropdown()">
                <div class="btn-group" style="background-color: #fff; color: #000; border:1px solid #4bc8b5;" role="group">
                    <button style="border: none;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-download" style="margin-right:5px">
                        </span>Documents
                    </button>
                    <button style="border: none; border-left: #ccc 1px solid;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-show="canDownloadQuoteDoc()" ng-click="downloadQuoteDocument(true)"><a href="#">Quote Doc</a></li>
                        <li ng-show="canDownloadRatesheet()" ng-click="downloadRateSheet()"><a href="#">Ratesheet</a></li>
                        <li ng-show="canDownloadApplication()" ng-click="getApplication()"><a href="#">Application</a></li>
                        <li ng-show="canDownloadPolicy()" ng-click="downloadPolicy()"><a href="#">Policy</a></li>
                    </ul>
                </div>
                <div class="btn-group" style="background-color: #fff; color: #000; border:1px solid #4bc8b5;" role="group">
                    <button style="border: none;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-envelope" style="margin-right:5px">
                        </span>Email
                    </button>
                    <button style="border: none; border-left: #ccc 1px solid;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-show="canDownloadQuoteDoc()" ng-click="emailDocument(Policy.CurrentVersion.FocusedRiskCompanyId, ['Quote Document', 'Application Document'], false)"><a href="#">Quote Document</a></li>
                    </ul>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right"></ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" ng-show="policyMenuVisible">
      <li ng-class="{active:$state.includes('policy.'+App.Url+'.submission')}"><a id="lnkSubmission" class="quoteTabLinks" ng-href="{{$state.href('policy.'+App.Url+'.submission', { appId: AppId, policyId: PolicyId })}}"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-list-alt"></span>Submission Info</span><span class="glyphicon glyphicon-list-alt visible-xs visible-sm"></span></a></li>
      <li ng-class="{active:$state.includes('policy.'+App.Url+'.locations')}"><a id="lnkLocations" class="quoteTabLinks" ng-href="{{PolicyId == null ? '#' : $state.href('policy.'+App.Url+'.locations', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null}"><span class="hidden-xs  hidden-sm"><span class="glyphicon glyphicon-map-marker"></span>Locations</span><span class="glyphicon glyphicon-map-marker visible-xs visible-sm"></span></a></li>
      <li ng-class="{active:$state.includes('policy.'+App.Url+'.property')}"><a id="lnkProperty" class="quoteTabLinks" ng-href="{{PolicyId == null ? '#' : $state.href('policy.'+App.Url+'.property', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null}"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-home"></span>Property</span><span class="glyphicon glyphicon-home visible-xs visible-sm"></span></a></li>
      <li ng-class="{active:$state.includes('policy.'+App.Url+'.claims')}"><a id="lnkProperty" class="quoteTabLinks" ng-href="{{PolicyId == null ? '#' : $state.href('policy.'+App.Url+'.claims', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null}"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-folder-open"></span>Claims</span><span class="glyphicon glyphicon-home visible-xs visible-sm"></span></a></li>
      <li ng-class="{active:$state.includes('policy.'+App.Url+'.eligibility')}"><a id="lnkEligibility" class="quoteTabLinks" ng-href="{{ PolicyId == null || !getPropertiesCount() || windDeductibleWithoutAmount() || hasClaimsandNotAdded() ? '#' : $state.href('policy.'+App.Url+'.eligibility', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || !getPropertiesCount() || windDeductibleWithoutAmount() || hasClaimsandNotAdded() }"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-bookmark"></span>Rate</span><span class="glyphicon glyphicon-bookmark visible-xs visible-sm"></span></a></li>
      <li ng-class="{active:$state.includes('policy.'+App.Url+'.forms')}"><a id="lnkForms" class="quoteTabLinks" ng-href="{{PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) ? '#' : $state.href('policy.'+App.Url+'.forms', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) }"><span class="hidden-xs hidden-sm"><span class="fa fa-file-text" style="margin-right: 10px;"></span>Forms</span><span class="fa fa-file-text visible-xs visible-sm"></span></a></li>
      <li ng-class="{active:$state.includes('policy.'+App.Url+'.finalize')}"><a id="lnkFinalize" class="quoteTabLinks" ng-href="{{PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) ? '#' : $state.href('policy.'+App.Url+'.finalize', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) }"><span class="hidden-xs hidden-sm"><span class="fa fa-pencil-square-o"></span>Proposal</span><span class="fa fa-pencil-square-o visible-xs visible-sm"></span></a></li>
      <li ng-if="Policy.Endorsement == null && App.Id != '001d0418-a168-4be3-84a8-0168eda970fd'" ng-class="{active:$state.includes('policy.'+App.Url+'.bind')}"><a id="lnkBind" class="quoteTabLinks" ng-href="{{PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) || !CanBindSubmitQuote(Policy.CurrentVersion.FocusedRiskCompanyId) || ProposalTabIncomplete() ? '#' : $state.href('policy.'+App.Url+'.bind', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) || !CanBindSubmitQuote(Policy.CurrentVersion.FocusedRiskCompanyId) || ProposalTabIncomplete() }"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-check"></span>{{Policy.Bound == true ? 'Premium' : Policy.Issued == true ? 'Premium' : 'Bind'}}</span><span class="glyphicon glyphicon-check visible-xs visible-sm"></span></a></li>
      <li ng-if="Policy.Endorsement != null" ng-class="{active:$state.includes('policy.'+App.Url+'.bindendorsement')}"><a class="quoteTabLinks" id="lnkBindEndorsement" ng-href="{{PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) ? '#' : $state.href('policy.'+App.Url+'.bindendorsement', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) }"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-check"></span>Bind Endorsement</span><span class="glyphicon glyphicon-check visible-xs visible-sm"></span></a></li>
      <!--<li ng-class="{active:$state.includes('policy.'+App.Url+'.invoices')}" ng-show="Policy.Bound"><a ng-href="{{PolicyId == null ? '#' : $state.href('policy.'+App.Url+'.invoices', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null}"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-check"></span>Invoices</span><span class="glyphicon glyphicon-check visible-xs visible-sm"></span></a></li>-->
      <li style="margin-left: 20px; margin-top: 10px">
        <span>
          <span id="policy-status-icon" class="label right-buffer"></span>
          <span id="policy-status-text" class="visible-lg-inline-block" style="vertical-align: middle;"></span>
        </span>
      </li>
      <li class="pull-right" style="margin-left: 10px">
        <button ng-disabled="PolicyId == null || $state.includes('policy.' + App.Url + '.bind') == true" class="btn btn-default btn-sm" ng-click="nextTab()" style="width:90px">Next<i class="glyphicon glyphicon-chevron-right" style="margin-left:15px"></i></button>
      </li>
      <li class="pull-right">
        <button ng-disabled="PolicyId == null || $state.includes('policy.' + App.Url + '.submission') == true" class="btn btn-default btn-sm" ng-click="prevTab()" style="width:90px"><i class="glyphicon glyphicon-chevron-left" style="margin-right:15px"></i>Back</button>
      </li>
    </ul>

    <div class="page-header visible-xs">
    </div>

    <div ui-view>
    </div>
  </div>
</div>

<script type="text/ng-template" id="policyClaims.html">
  <!-- JACK'S -->
  <!-- HEADER -->
  <div class="modal-header">
    <h4 class="modal-title">Policy Claims Summary</h4>
  </div>

  <!-- Claims Table -->
  <div class="row" style="padding: 20px; margin: 0;">
    <div class="col-md-12" ng-if="claims.length > 0 && !unableToGetClaims" style="padding: 0;">
      <table class="table table-hover">
        <tr style="background-color: #e8e8e8;">
          <th>Claim Number</th>
          <th>Claimant Name</th>
          <th>Loss Type</th>
          <th>Date of Loss</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat="claim in claims">
          <td>
            <a href="#" ng-click="close(claim.Id)">{{claim.ClaimOfficialNumber}}</a>
          </td>
          <td>{{claim.ClaimantName}}</td>
          <td>{{claim.LossType}}</td>
          <td>{{claim.DateOfLoss | date : 'longDate'}}</td>
          <td style="color: {{getStatusColor(claim.Status)}}">{{getStatus(claim.Status)}}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-12" ng-if="unableToGetClaims" style="padding: 0;">
      <p>There was a problem getting the policy and claims history for this policy. Please check the claims module for outstanding claims or contact support for help.</p>
    </div>

    <!-- BUTTON CLOSE -->
    <div class="col-md-12 plr0" style="padding: 20px 0 0 0; text-align: right;">
      <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>

  </div>

  <!-- END OF JACK'S -->
</script>

<script type="text/ng-template" id="policyNotes.html">
  <div class="modal-header">
    <h4 class="modal-title">Policy Notes</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <form class="form-horizontal" role="form">
        <div class="scrollable">
          <div class="col-md-12">
            <div class="col-md-12" style="margin-bottom: 15px;">
              <div ng-repeat="note in PolicyNotes">
                <div class="row" style="margin-bottom: 10px; margin-bottom: 10px; border-bottom-width: 2px;border-bottom-color: #0096db;border-bottom-style: solid;">
                  <div class="col-sm-4">
                    {{note.UserName}}<br />
                    <span style="font-style: italic;">{{note.CreatedDate}}</span>
                  </div>
                  <div class="col-sm-8">
                    {{note.Note}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12" style="margin-bottom: 10px;">
              <div class="form-group">
                <textarea type="text" class="form-control" ng-model="noteToAdd" placeholder="Add note..."></textarea>
              </div>
              <button id="modalProperty_ok" type="button" class="btn btn-primary pull-right" ng-click="add()">Insert Note</button>
            </div>

            <div class="col-sm-12 alert alert-danger" ng-show="ErrorList.length > 0">
              <ul>
                <li ng-repeat="error in ErrorList">{{error}}</li>
              </ul>
            </div>


          </div>
        </div>
      </form>
    </div>

    <div class="modal-push">
    </div>
  </div>
  <div class="modal-footer">
    <div id="modalProperty_commands">
      <button id="modalProperty_close" type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
    </div>
  </div>
</script>

<div>
  <script type="text/ng-template" id="submissionClearanceModelContent.html">
    <div class="modal-header">
      <h4 class="modal-title">
        Submission Clearance
        <button data-select2-open="single-append-text" ng-click="expandModal()" style="float: right; background-color: rgba(0, 0, 0, 0); border: none;"></button>
      </h4>
    </div>
    <div class="modal-body" id="form-body">
      <div class="row" style="margin-bottom: 10px">

        <div class="col-sm-12" style="margin-bottom:20px">
          <div class="form-group">
            <label class="col-sm-6" style="display: inline-block; margin-top: 8px;"><strong>Search by Named Insured or DBA</strong></label>
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" style="width: 100%" ng-keyup="keyPress($event.keyCode)" placeholder="Search for..." ng-model="searchTerm">
                <span class="input-group-btn">
                  <!--<button class="btn btn-default" type="button" ng-click="getSubmissions()">Search</button>-->
                  <button class="btn yellow-casablanca" type="button" ng-click="getSubmissions()">Search</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div id="tableHolder" style="padding: 12px; overflow-y: scroll; max-height: 500px; max-width: 880px; margin-bottom: 8px;" ng-if="submissions.length > 0">
          <div ng-repeat="submission in submissions" ng-class="{'info' : submission.isSelected}" ng-click="submissionClicked(submission)" style="cursor:pointer">
            <div class="row subSelected" style="height: auto; padding: 20px; border: 1px solid #ddd; margin: 15px; border-radius: 5px !important;" ng-class="{ 'submissionSelected' : submission.isSelected  }">
              <div class="row">
                <div class="col-md-2" style="color: #0096db; width: 20%"><strong tooltip-placement="top" tooltip="Aim Submission Number">{{submission.Number}}</strong></div>
                <div class="col-md-8" style="font-size: 1.08em; width: 60%; font-weight: bold;" tooltip-placement="left" tooltip="Insured Name">{{submission.Name | limitTo : 60}}</div>
                <div class="col-md-2" style="font-size: 1.08em; width: 20%" tooltip-placement="top" tooltip="Effective Date">Eff: {{submission.Effective}}</div>
              </div>
              <div style="padding-top: 8px;" class="row" ng-if="submission.DBA">
                <div class="col-md-2" style="font-size: 1.08em; width: 20%" tooltip-placement="top" tooltip="Coverage: {{submission.Product}}">{{CheckProduct(submission.Product)}}</div><!--AbbrTerm(submission.Product)-->
                <div class="col-md-6" style="width: 60%" tooltip-placement="left" tooltip="DBA"><span>{{submission.DBA | limitTo : 90}}</span></div>
                <div class="col-md-2" style="width: 20%"><span ng-if="submission.AccountExec" tooltip-placement="right" tooltip="Account Executive"><i style="margin-right: 10px;" class="fa fa-user" aria-hidden="true"></i>{{submission.AccountExec | limitTo : 13}}</span></div>
              </div>
              <div style="padding-top: 8px;" class="row">
                <div class="col-md-2" style="width: 20%" ng-if="submission.DBA">&nbsp;</div>
                <div class="col-md-2" style="font-size: 1.08em; width: 20%" ng-if="!submission.DBA" tooltip-placement="top" tooltip="Coverage: {{submission.Product}}">{{CheckProduct(submission.Product)}}</div><!--AbbrTerm(submission.Product)-->
                <div class="col-md-8" style="font-size: 1.08em; width: 60%"><span tooltip-placement="bottom" tooltip-html-unsafe="Physical Address"><i style="margin-right: 10px;" class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>{{CheckAddress(submission)}}</span></div>
                <div class="col-md-2" style="width: 20%" ng-if="!submission.DBA"><span ng-if="submission.AccountExec" tooltip-placement="right" tooltip="Account Executive"><i style="margin-right: 10px;" class="fa fa-user" aria-hidden="true"></i>{{submission.AccountExec | limitTo : 13}}</span></div>
                <div class="col-md-2" style="width: 20%" ng-if="submission.DBA">Status: {{CheckStatus(submission.Status)}}</div>
              </div>
              <div style="padding-top: 8px;" class="row">
                <div class="col-md-2" style="width: 20%"></div>
                <div class="col-md-8" style="width: 60%"><span tooltip-placement="bottom" tooltip-html-unsafe="Mailing Address"><i style="margin-right: 10px;" class="fa fa-envelope-o" aria-hidden="true"></i>{{CheckAddress(submission)}}</span></div>
                <div class="col-md-2" style="width: 20%" ng-if="!submission.DBA">Status: {{CheckStatus(submission.Status)}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger" ng-show="ErrorList.length > 0" style="margin: 10px;">
              <h4>Oops...</h4>
              <ul>
                <li ng-repeat="error in ErrorList">
                  {{error}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="modal-push">
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-default" style="float:left" ng-click="goBack()">Back</button>
          <!--<button type="button" class="btn btn-default" ng-click="newSubmit()" ng-disabled="selectedSubmission == null">New Submit</button>
          <button type="button" class="btn btn-default" ng-click="newInsured()">New Insured</button>-->
          <button type="button" class="btn yellow-casablanca" ng-click="newSubmit()" ng-disabled="selectedSubmission == null">New Submit</button>
          <button type="button" class="btn yellow-casablanca" ng-click="newInsured()">New Insured</button>
        </div>
      </div>
    </div>
  </script>
</div>

<script type="text/ng-template" id="homeowners_emailDocument.html">
  <div class="email-modal">
    <div class="modal-header">
      <h4 class="modal-title">Email Document</h4>
    </div>
    <div class="modal-body">
      <form>
        <label class="control-label">Email To</label>
        <input type="text" class="form-control input-md" style="margin-bottom:5px;" ng-model="EmailTo" />
        <label class="control-label">CC</label>
        <input type="text" class="form-control input-md" style="margin-bottom:5px;" ng-model="EmailCc" />
        <label class="control-label">Subject</label>
        <input type="text" class="form-control input-md" style="margin-bottom:5px;" ng-model="Subject" />
        <label class="control-label">Attachments</label>
        <input multiple id="attachment" style="display:none;" type="file" onchange="angular.element(this).scope().addAttachment(this)" accept="application/pdf" />
        <ul class="list-inline">
          <li class="btn btn-default btn-xs" style="margin-left:5px;margin-bottom:2px;" ng-repeat="attachment in InitialAttachments | filter: {Active: true}">
            {{attachment.Name}}
            <a href="#" style="color:#d22;" ng-click="attachment.Active = false">&times;</a>
          </li>
          <li class="btn btn-default btn-xs" style="margin-bottom:2px;" ng-repeat="attachment in Attachments">
            {{attachment.FileName}}
            <a href="#" style="color:#d22;" ng-click="removeAttachment(attachment)">&times;</a>
          </li>
          <li><label for="attachment" class="btn btn-default btn-xs" style="margin-bottom:2px;">Add</label></li>
        </ul>
        <label class="control-label">Body</label>
        <textarea class="form-control input-lg" id="body-editor" ng-model="Body"></textarea>
      </form>
    </div>
    <div class="modal-footer">
      <div>
        <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Cancel</button>
        <button type="button" data-dismiss="modal" class="btn yellow-casablanca" ng-click="send()">Send</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="releaseQuote.html">
    <div class="email-modal">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to release this quote? Once you release it, the agent will be able to search for this quote in the portal and bind it if they choose to.</p>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close('Cancel')">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn yellow-casablanca" ng-click="close('Release')">Release</button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="uploadDocuments.html">
    <div class="modal-header">
        <h4 class="modal-title">Upload Documents</h4>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-sm-9">
                <ui-select ng-model="TypeSelected.Name"
                           theme="bootstrap">
                    <ui-select-match placeholder="Select a Document Type">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="value in Types | filter: $select.search: searchByBeginsWith">
                        <div ng-bind-html="value | highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>

                <input type="file" id="documentFile" style="width: 1px; visibility: hidden;"
                       onchange="angular.element(this).scope().onFileUploaded(this)" ng-disabled="!TypeSelected.Name" />
            </div>
            <div class="col-sm-3">
                <label for="documentFile" class="btn btn-md btn-success" ng-disabled="!TypeSelected.Name" title="{{ !TypeSelected.Name ? 'Select a Document Type' : 'Browse'}}">
                    <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Browse
                </label>
            </div>
        </div>
        <div style="width: 100%; display: block; text-align: center; margin-top:40px" ng-if="!DocumentsFlag"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> <span style="display: inline-block;vertical-align: top;">Loading...</span></div>
        <div class="row" ng-if="Documents.length > 0">
            <h4 class="col-sm-10"><strong>To Upload: {{Documents.length}}</strong></h4>
        </div>
        <div class="row" style="height:200px;overflow:auto;">
            <div class="col-sm-10">
                <table ng-if="Documents.length > 0" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="col-md-4">Type</th>
                            <th class="col-md-5">File Name</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doc in Documents | orderBy: 'Type'">
                            <td>{{doc.Type}}</td>
                            <td>{{doc.Name}}</td>
                            <td>
                                <i class="fa fa-times" aria-hidden="true" ng-click="deleteDoc(doc)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="Errors.length > 0" class="alert alert-danger" role="alert" style="text-align:left;">
            <ul>
                <li ng-repeat="error in Errors">{{error}}</li>
            </ul>
        </div>
        <hr ng-if="Documents.length > 0 || UploadedDocumentTypes.length > 0" />
        <div class="row" ng-if="UploadedDocumentTypes.length > 0">
            <h4 class="col-sm-10"><strong>Uploaded Documents:  {{UploadedDocumentTypes.length}}</strong></h4>
        </div>
        <div class="row" style="height:200px; overflow:auto;">
            <div class="col-sm-10">
                <table ng-if="UploadedDocumentTypes.length > 0" class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="col-md-4">Type</th>
                            <th class="col-md-4">File Name</th>
                            <th class="col-md-1">Date</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="doc in UploadedDocumentTypes | orderBy: ['Type', 'CreatedDate']">
                            <td>{{doc.Type}}</td>
                            <td>{{doc.Name}}</td>
                            <td>{{doc.CreatedDate | date : "MM.dd.y"  }}</td>
                            <td>
                                <i class="fa fa-download" aria-hidden="true" ng-click="downloadDoc(doc)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="close()">Cancel</button>
        <button type="button" class="btn yellow-casablanca" ng-click="confirm()" ng-disabled="Documents.length == 0" title="{{ Documents.length == 0 ? 'Select a Document' : 'Upload'}}">Upload</button>
    </div>
</script>