<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/Insurer">Insurers</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer" ng-show="newInsurer == false">
            <div class="portlet box blue-soft" style="border-bottom: none;border-left: none;border-right: none;margin-bottom: 0;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i>Insurers
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewInsurer()">
                                    <i class="fa fa-plus margin-right"></i>New Insurer
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="searchName" ng-change="searchNameChanged()" placeholder="Search for insurers...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="searchInsurers(searchName, 0, 0)"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <table class="table table-stats table-condensed table-striped" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th style="width: 5%"></th>
                                <th style="width: 35%">Name</th>
                                <th style="width: 20%">Enabled</th>
                                <th style="width: 40%"></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-stats table-condensed table-striped" infinite-scroll='insurerscroller.nextPage()' infinite-scroll-disabled='insurerscroller.busy' infinite-scroll-distance='0' infinite-scroll-use-document-bottom="true">
                            <tr ng-repeat="insurer in insurerscroller.items">
                                <td  style="width: 5%">{{$index+1}}</td>
                                <td  style="width: 35%">{{insurer.Name}}</td>
                                <td  style="width: 20%">{{insurer.Enabled ? 'Enabled' : 'Disabled'}}</td>
                                <td style="text-align: right; width: 40%">
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a ng-click="selectInsurer(insurer)">
                                                    Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="goTo(insurer, 'zoneGroups')">
                                                    Zone Groups
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--<button class="btn default" type="button" ng-click="deleteInsurer(insurer)">Delete</button>-->
                                </td>
                            </tr>
                    </table>                    

                </div>
            </div>
        </div>

        <div class="col-md-12 bottom-buffer" ng-show="newInsurer == true">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> Insurer {{Insurer.Name}}
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" ng-model="Insurer.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Code</label>
                                        <input type="text" class="form-control" ng-model="Insurer.Code">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Risk Company</label>
                                        <div>
                                            <ui-select ng-model="Insurer.RiskCompanyId"
                                                       append-to-body="true"
                                                       theme="bootstrap"
                                                       reset-search-input="false">
                                                <ui-select-match placeholder="Select a Risk Company">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="value.Id as value in RiskCompanies | propsFilter: { Name: $select.search }">
                                                    <div ng-bind-html="value.Name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label>Settings</label>
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="Insurer.Enabled">
                                        Enabled
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right" style="margin-top: 10px">
                                    <button class="btn btn-danger btn-sm" ng-click="cancelInsurer(Insurer)">
                                        <i class="fa fa-ban margin-right"></i>Cancel
                                    </button>
                                    <button class="btn btn-success btn-sm" ng-click="saveInsurer(Insurer)">
                                        <i class="fa fa-save margin-right"></i>Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
