<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/ManagingGeneralAgent">Managing General Agents</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer" ng-show="newManagingGeneralAgent == false">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i>Managing General Agents
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewManagingGeneralAgent()">
                                    <i class="fa fa-plus margin-right"></i>New Managing General Agent
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Enabled</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mga in ManagingGeneralAgents">
                                <td>{{$index+1}}</td>
                                <td>{{mga.Name}}</td>
                                <td>{{mga.Enabled ? 'Enabled' : 'Disabled'}}</td>
                                <td style="text-align: right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a ng-click="linkToPage('retailagencies', mga)">
                                                    Retail Agencies
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="linkToPage('fees', mga)">
                                                    Fees
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="linkToPage('offices', mga)">
                                                    Offices
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="linkToPage('mgaStateSignatures', mga)">
                                                    State Signatures
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <button class="btn default margin-right" type="button" ng-click="selectManagingGeneralAgent(mga)">Edit</button>
                                    <button class="btn default" type="button" ng-click="deleteManagingGeneralAgent(mga)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 bottom-buffer" ng-show="newManagingGeneralAgent == true">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> ManagingGeneralAgent {{ManagingGeneralAgent.Name}}
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" ng-model="ManagingGeneralAgent.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Code</label>
                                        <input type="text" class="form-control" ng-model="ManagingGeneralAgent.Code">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" ng-model="ManagingGeneralAgent.Email">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" ng-model="ManagingGeneralAgent.Phone">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input type="text" class="form-control" ng-model="ManagingGeneralAgent.Fax">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Commission</label>
                                        <input type="text" class="form-control" ng-model="ManagingGeneralAgent.Commission">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="mailing-address" class="control-label">Address</label>
                                    <div class="">
                                        <label style="color:#0096db">Search Address</label>
                                        <input id="mailing-address" ng-autocomplete class="form-control input-sm" ng-model="ManagingGeneralAgent.ShortAddress" details="details" />
                                    </div>
                                    <div class="" style="margin-top: 10px">
                                        <label style="color:#337ab7"><a ng-click="toggleManaulAddressEntry = !toggleManaulAddressEntry">Manually Enter Address</a></label>
                                        <input ng-show="toggleManaulAddressEntry" class="form-control input-sm" ng-model="ManagingGeneralAgent.StreetAddress1" ng-disabled="parent.Policy.Issued" placeholder="Address 1" />
                                    </div>
                                    <div class="" style="margin-top: 10px" ng-show="toggleManaulAddressEntry">
                                        <input class="form-control input-sm" ng-model="ManagingGeneralAgent.StreetAddress2" ng-disabled="parent.Policy.Issued" placeholder="Address 2" />
                                    </div>
                                    <div class="" style="margin-top: 10px" ng-show="toggleManaulAddressEntry">
                                        <input class="form-control input-sm" ng-model="ManagingGeneralAgent.Zip" ng-disabled="parent.Policy.Issued" placeholder="Zip" />
                                    </div>
                                    <div class="" style="margin-top: 10px" ng-show="toggleManaulAddressEntry">
                                        <input class="form-control input-sm" ng-model="ManagingGeneralAgent.City" ng-disabled="parent.Policy.Issued" placeholder="City" />
                                    </div>
                                    <div class="" style="margin-top: 10px" ng-show="toggleManaulAddressEntry">
                                        <input class="form-control input-sm" ng-model="ManagingGeneralAgent.State" ng-disabled="parent.Policy.Issued" placeholder="State" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label style="padding-top: 20px;">Settings</label>
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="ManagingGeneralAgent.Enabled">
                                        Enabled
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="ManagingGeneralAgent.CornerstoneAgency">
                                        Cornerstone Agency
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Allowed Email Domains</label>
                                    <textarea class="form-control" ng-model="ManagingGeneralAgent.Domains" style="margin: 0px 0.5px 0px 0px; width: 100%; height: 60px;"></textarea>
                                    <div class="alert alert-warning" role="alert">Seperate each domain by comma (Ex: domain1.com, domain2.net).<br />Do not add generic email address domains such as gmail, ymail and so on!</div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Assigned to Insurers</label>
                                    <ul class="check-listbox">
                                        <li ng-repeat="insurer in Insurers | orderBy: 'Name'">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" checklist-model="ManagingGeneralAgent.AssignedInsurers" checklist-value="insurer.Id">
                                                    {{insurer.Name}}
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Assigned to Brokers</label>
                                    <ul class="check-listbox">
                                        <li ng-repeat="broker in Brokers | orderBy: 'Name'">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" checklist-model="ManagingGeneralAgent.AssignedBrokers" checklist-value="broker.Id">
                                                    {{broker.Name}}
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right" style="margin-top: 10px">
                                    <button class="btn btn-danger btn-sm" ng-click="cancelManagingGeneralAgent(ManagingGeneralAgent)">
                                        <i class="fa fa-ban margin-right"></i>Cancel
                                    </button>
                                    <button class="btn btn-success btn-sm" ng-click="saveManagingGeneralAgent(ManagingGeneralAgent)">
                                        <i class="fa fa-save margin-right"></i>Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
