<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/MGAStateSignature">State Signatures</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer" ng-show="newMGAStateSignature == false">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i>State Signatures
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewMGAStateSignature()">
                                    <i class="fa fa-plus margin-right"></i>New State Signature
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Signature</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stateSignature in MGAStateSignatures">
                                <td>{{$index+1}}</td>
                                <td>{{stateSignature.StateCode}}</td>
                                <td><img ng-src="{{'data:image/png;base64,' + stateSignature.File}}" style="height:24px;" /></td>
                                <td style="text-align: right">
                                    <button class="btn default margin-right" type="button" ng-click="selectMGAStateSignature(stateSignature)">Edit</button>
                                    <button class="btn default" type="button" ng-click="deleteMGAStateSignature(stateSignature)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 bottom-buffer" ng-show="newMGAStateSignature == true">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> State Signature {{MGAStateSignature.StateCode}}
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="portlet-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Home State</label>
                                <div class="col-sm-4">
                                    <ui-select ng-model="MGAStateSignature.StateCode"
                                               theme="bootstrap"
                                               reset-search-input="false"
                                               ng-required="true">
                                        <ui-select-match placeholder="Select Home State">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="state.Code as state in States | filter: { Name: $select.search}">
                                            <div ng-bind-html="state.Name | highlight: $select.search">
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div class="col-sm-12" style="margin-top:10px">
                                <label>Upload Signature (Image): </label>
                                <input type="file" ngf-select="" ng-model="signatureFile" name="file" accept="'image/*'" ngf-pattern="'image/*'">
                            </div>
                            <div class="col-sm-12" style="margin-top:10px">
                                <label>Current Signature: </label>
                                <img ng-src="{{'data:image/png;base64,' + MGAStateSignature.File}}" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right" style="margin-top: 10px">
                                    <button class="btn btn-danger btn-sm" ng-click="cancelMGAStateSignature(MGAStateSignature)">
                                        <i class="fa fa-ban margin-right"></i>Cancel
                                    </button>
                                    <button class="btn btn-success btn-sm" ng-click="saveMGAStateSignature(MGAStateSignature)">
                                        <i class="fa fa-save margin-right"></i>Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
