<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/Office">Offices</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer" ng-show="newOffice == false">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i>Offices
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewOffice()">
                                    <i class="fa fa-plus margin-right"></i>New Office
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Enabled</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="office in Offices">
                                <td>{{$index+1}}</td>
                                <td>{{office.Name}}</td>
                                <td>{{office.Enabled ? 'Enabled' : 'Disabled'}}</td>
                                <td style="text-align: right">
                                    <button class="btn default margin-right" type="button" ng-click="selectOffice(office)">Edit</button>
                                    <button class="btn default" type="button" ng-click="deleteOffice(office)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 bottom-buffer" ng-show="newOffice == true">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> Office {{Office.Name}}
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" ng-model="Office.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Code</label>
                                        <input type="text" class="form-control" ng-model="Office.Code">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label>Settings</label>
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="Office.Enabled">
                                        Enabled
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" ng-model="Office.StreetAddress1">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Suite/Bldg/Apt #</label>
                                        <input type="text" class="form-control" ng-model="Office.StreetAddress2">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" ng-model="Office.City">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input type="text" class="form-control" ng-model="Office.State">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Zip</label>
                                        <input type="text" class="form-control" ng-model="Office.Zip">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>County</label>
                                        <input type="text" class="form-control" ng-model="Office.County">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" ng-model="Office.Country">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right" style="margin-top: 10px">
                                    <button class="btn btn-danger btn-sm" ng-click="cancelOffice(Office)">
                                        <i class="fa fa-ban margin-right"></i>Cancel
                                    </button>
                                    <button class="btn btn-success btn-sm" ng-click="saveOffice(Office)">
                                        <i class="fa fa-save margin-right"></i>Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
