<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/riskcompanies">Risk Company</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/PolicyRegisters">Policy Registers {{RiskCompany.Name}}</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer" ng-show="newPolicyRegister == false">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i>Policy Registers {{RiskCompany.Name}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewPolicyRegister()">
                                    <i class="fa fa-plus margin-right"></i>New Policy Register
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Policy Number</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="policyRegister in PolicyRegisters | filter: { CoverageId: Coverage.Id }">
                                <td>{{$index+1}}</td>
                                <td>{{policyRegister.LastUsedPolicyNumber}}</td>
                                <td style="text-align: right">
                                    <button class="btn default margin-right" type="button" ng-click="selectPolicyRegister(policyRegister)">Edit</button>
                                    <button class="btn default" type="button" ng-click="deletePolicyRegister(policyRegister)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 bottom-buffer" ng-show="newPolicyRegister == true">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> Policy Registers
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-body">
                                <label>Prefix</label>
                                <input type="text" class="form-control" ng-model="PolicyRegister.Prefix" placeholder="Prefix">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Suffix</label>
                                    <input type="text" class="form-control" ng-model="PolicyRegister.Suffix" placeholder="Suffix">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Start Range</label>
                                    <input type="text" class="form-control" ng-model="PolicyRegister.StartRange" placeholder="Start Range">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>End Range</label>
                                    <input type="text" class="form-control" ng-model="PolicyRegister.EndRange" placeholder="End Range">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="clear:both;">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Coverages</label>
                                    <div style="max-height:200px;overflow-y:auto;">
                                        <div class="col-xs-12" ng-repeat="value in Coverages">
                                            <label>
                                                <input type="checkbox" checklist-model="PolicyRegister.Coverages" checklist-value="value.Id"> {{value.Name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Skip Numbers</label>
                                <textarea class="form-control" ng-model="PolicyRegister.ExcludeNumbers" style="margin: 0px 0.5px 0px 0px; width: 677px; height: 126px;"></textarea>
                                <div class="alert alert-warning" role="alert">Seperate each number by comma or new line.</div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>App</label>
                                    <select class="form-control" ng-options="app.Id as app.Name for app in Apps" ng-model="PolicyRegister.AppId"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Conditions</label>
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" ng-click="newConditionalGroup()">New Condition Group </button>
                                        </div>
                                    </div>

                                    <accordion close-others="true">
                                        <accordion-group ng-repeat="group in PolicyRegister.Conditions | orderBy: 'GroupIndex'">
                                            <accordion-heading>
                                                {{group.Name}}
                                            </accordion-heading>

                                            <div class="row" ng-repeat="condition in group.Conditions | orderBy: 'Index'">
                                                <div ng-include src="'views/contracts/ContractConditions.html'"></div>
                                                <div class="col-sm-1 pull-right">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <button class="btn btn-danger" ng-click="deleteCondition(condition, group)" ng-mouseenter="hoverParent($event,true)" ng-mouseleave="hoverParent($event,false)" ng-if="group[0] != condition" style="margin-top:25px">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <button class="btn btn-warning" ng-click="newCondition(group)">And Condition</button>
                                                            <button class="btn btn-danger pull-right" ng-click="deleteGroup(group, PolicyRegister.Conditions)">Delete Group</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right" style="margin-top: 10px">
                                <button class="btn btn-danger btn-sm" ng-click="cancelPolicyRegister()">
                                    <i class="fa fa-ban margin-right"></i>Cancel
                                </button>
                                <button class="btn btn-success btn-sm" ng-click="savePolicyRegister()">
                                    <i class="fa fa-save margin-right"></i>Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
