<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/Agency">Agencies</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer" ng-show="newAgency == false">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i>Agencies
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewAgency()">
                                    <i class="fa fa-plus margin-right"></i>New Agency
                                </button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Enabled</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="agency in Agencies">
                                <td>{{$index+1}}</td>
                                <td>{{agency.Name}}</td>
                                <td>{{agency.Enabled ? 'Enabled' : 'Disabled'}}</td>
                                <td style="text-align: right">
                                    <button class="btn default margin-right" type="button" ng-click="linkToPage('agents', agency)">Agents</button>
                                    <button class="btn default margin-right" type="button" ng-click="selectAgency(agency)">Edit</button>
                                    <button class="btn default" type="button" ng-click="deleteAgency(agency)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 bottom-buffer" ng-show="newAgency == true">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings"></i> Agency {{Agency.Name}}
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-body">
                                    <div class="form-group col-sm-4">
                                        <label>Name</label>
                                        <input type="text" class="form-control" ng-model="Agency.Name">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Comission</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span>%</span>
                                            </span>
                                            <input type="text" class="form-control" ng-model="Agency.Commission">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Settings</label>
                                        <div class="checkbox-list">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" ng-model="Agency.Enabled">
                                                Enabled
                                            </label>
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>
                                    <div class="form-group col-sm-4">
                                        <label>Mailing Address 1</label>
                                        <input type="text" class="form-control" ng-model="Agency.StreetAddress1">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Mailing Address 2</label>
                                        <input type="text" class="form-control" ng-model="Agency.StreetAddress2">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>City</label>
                                        <input type="text" class="form-control" ng-model="Agency.City">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>State</label>
                                        <input type="text" class="form-control" ng-model="Agency.State">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Zip</label>
                                        <input type="text" class="form-control" ng-model="Agency.Zip">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" ng-model="Agency.Phone">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Fax</label>
                                        <input type="text" class="form-control" ng-model="Agency.Fax">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>Email</label>
                                        <input type="text" class="form-control" ng-model="Agency.Email">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right" style="margin-top: 10px">
                                    <button class="btn btn-danger btn-sm" ng-click="cancelAgency(Agency)">
                                        <i class="fa fa-ban margin-right"></i>Cancel
                                    </button>
                                    <button class="btn btn-success btn-sm" ng-click="saveAgency(Agency)">
                                        <i class="fa fa-save margin-right"></i>Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
