<!-- Main content -->
<section class="content">
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="icon-home"></i>
        <a href="#/dashboard">Dashboard</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a href="#/User">Users</a>
      </li>
    </ul>
  </div>


  <div class="row">
    <div class="col-md-12 bottom-buffer" ng-show="newUser == false">
      <div class="portlet box blue-soft" style="border-bottom: none;border-left: none;border-right: none;margin-bottom: 0;">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-settings"></i>Users
          </div>
        </div>
        <div class="portlet-body">
          <div class="page-bar">
            <div class="page-toolbar" style="width: 100%;" ng-if="!isBassOnline">
              <div class="btn-group pull-left">
                <button class="btn btn-fit-height green-meadow" type="button" ng-click="showImportUsersModal()">
                  <i class="fa fa-cloud-upload margin-right"></i>Import
                </button>
              </div>
              <div class="btn-group pull-right">
                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewUser()">
                  <i class="fa fa-plus margin-right"></i>New User
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 pull-left">
              <ui-select ng-model="OrganizationType.Name"
                         append-to-body="true"
                         theme="bootstrap"
                         reset-search-input="false"
                         ng-change="loadOrganizations()">
                <ui-select-match placeholder="Select an Organization Type">{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="value in AllOrganizations | filter: $select.search">
                  <div ng-bind-html="value.Name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="col-md-3 pull-left">
              <ui-select ng-model="DDOrganizationName.Name"
                         append-to-body="true"
                         theme="bootstrap"
                         ng-disabled="OrgsByType.length < 1"
                         reset-search-input="false">
                <ui-select-match placeholder="Select an Organization">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="value in OrgsByType | filter: $select.search">
                  <div ng-bind-html="value | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="col-md-3 pull-right">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="userSearch" placeholder="Search for users...">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="userscroller.search(userSearch, OrganizationType.Name.Name, DDOrganizationName.Name)"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>

        </div>


      </div>

      <table class="table table-stats table-condensed table-striped" style="margin-bottom: 0;">
        <thead>
          <tr>
            <th style="width:5%;"></th>
            <th style="width:30%;">Name</th>
            <th style="width:20%;">Organization</th>
            <th style="width:20%;">Office</th>
            <th style="width:10%;">Enabled</th>
            <th style="width:15%;"></th>
          </tr>
        </thead>
      </table>

      <div class="alert alert-warning" ng-show="userscroller.items < 1">
        <p>Could not locate any users with the given criteria.</p>
      </div>

      <table class="table table-stats table-condensed table-striped" infinite-scroll='userscroller.nextPage(userSearch, OrganizationType.Name.Name, DDOrganizationName.Name)' infinite-scroll-disabled='userscroller.busy || userscroller.noResult' infinite-scroll-distance='0' infinite-scroll-use-document-bottom="true">
        <tr ng-repeat="user in userscroller.items">
          <td style="width:5%;">{{$index+1}}</td>
          <td style="width:30%;">{{user.FirstName + ' ' + user.LastName}}</td>
          <td style="width:20%;">{{user.OrganizationName}}</td>
          <td style="width:20%;">{{user.OfficeName}}</td>
          <td style="width:10%;">{{user.Enabled ? 'Enabled' : 'Disabled'}}</td>
          <td style="text-align: right; width:15%">
            <button class="btn default margin-right" type="button" ng-click="selectUser(user)">Edit</button>
            <button class="btn default" type="button" ng-click="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </table>

    </div>

    <div class="col-md-12 bottom-buffer" ng-show="newUser == true">
      <div class="portlet box blue-soft">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-settings"></i> User {{User.FirstName}} {{User.LastName}}
          </div>
        </div>
        <div class="portlet-body">

          <div class="portlet-body">
            <div class="row">
              <div class="col-sm-3">
                <div class="form-body">
                  <div class="form-group">
                    <label>User Type</label>
                    <ui-select ng-model="User.UserType"
                               theme="bootstrap"
                               reset-search-input="false"
                               append-to-body="true">
                      <ui-select-match placeholder="Select the user type">{{ $select.selected.Name }}</ui-select-match>
                      <ui-select-choices repeat="type.Id as type in AgentTypes"
                                         refresh-delay="0">
                        <div ng-bind-html="type.Name | highlight: $select.search">
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-body">
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" ng-model="User.FirstName" ng-disabled="isBassOnline">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-body">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" ng-model="User.LastName" ng-disabled="isBassOnline">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-body">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-model="User.Email" ng-disabled="isBassOnline">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <label>Settings</label>
                <div class="checkbox-list">
                  <label class="checkbox-inline">
                    <input type="checkbox" ng-model="User.Enabled">
                    Enabled
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" ng-model="User.IsUnderwriterExec">
                    Underwriter Exec
                  </label>
                </div>
              </div>

              <div class="col-sm-3" ng-show="userIsGlobal" style="clear: both">
                <div class="form-body">
                  <div class="form-group">
                    <label>Organization Type</label>
                    <select class="form-control" ng-model="User.OrganizationType" ng-change="organizationTypeChange()">
                      <option value="MGA">Managing General Agent</option>
                      <option value="Broker">Broker</option>
                      <option value="Insurer">Insurer</option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-body">
                  <div class="form-group">
                    <label>Organization</label>
                    <ui-select ng-model="User.OrganizationId"
                               theme="bootstrap"
                               reset-search-input="false"
                               ng-change="getAgentsByOrg(User.OrganizationId, User.OrganizationType)"
                               append-to-body="true">
                      <ui-select-match placeholder="Enter a organization name">{{ $select.selected.Name }}</ui-select-match>
                      <ui-select-choices repeat="org.Id as org in Organizations"
                                         refresh="refreshOrganizations($select.search)"
                                         refresh-delay="0">
                        <div ng-bind-html="org.Name | highlight: $select.search">
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>


              <div class="col-sm-3" ng-if="User.OrganizationType == 'MGA'">
                <div class="form-body">
                  <div class="form-group">
                    <label>Office</label>
                    <ui-select ng-model="User.OfficeId"
                               theme="bootstrap"
                               reset-search-input="false"
                               append-to-body="true">
                      <ui-select-match placeholder="Enter office name">{{ $select.selected.Name }}</ui-select-match>
                      <ui-select-choices repeat="office.Id as office in Offices"
                                         refresh="refreshOffices($select.search)"
                                         refresh-delay="0">
                        <div ng-bind-html="office.Name | highlight: $select.search">
                        </div>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>

              <div class="col-sm-3" ng-if="!isBassOnline">
                <div class="form-body">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" ng-model="User.Password" placeholder="If blank, system will auto assign 10 character password">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="form-body">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" ng-model="User.PhoneNumber" placeholder="Enter phone number" ng-disabled="isBassOnline">
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-body">
                  <div class="form-group">
                    <label>Fax</label>
                    <input type="text" class="form-control" ng-model="User.FaxNumber" placeholder="Enter fax number" ng-disabled="isBassOnline">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Roles -->
            <div class="col-sm-4 form-group">
              <div class="form-group">
                <label>Assigned to Roles</label>
                <ul class="check-listbox">
                  <li ng-repeat="role in Roles">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" checklist-model="User.Roles" checklist-value="role">
                        <span style="font-weight: bold">{{role}}</span>
                        <span style="clear: both; display: block; margin-left: 15px;"><em>{{RoleDescriptions[role]}}</em></span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Categories -->
            <div class="col-sm-3">
              <div class="form-group">
                <label>Quick Selection</label>
                <ul style="padding: 0">
                  <li ng-repeat="category in RoleCategories.types" style="list-style: none; display: block; margin: 0; padding-top: 4px; padding-bottom: 4px">
                    <div>
                      <label>
                        <input type="radio" name="category" ng-model="RoleCategories.selection" ng-value="category.name" ng-change="selectRolesByCategory()">
                        <span style="font-weight: bold">{{category.name}}</span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Team Members -->
            <div class="col-sm-4 pull-right" style="margin-right:20px;">
              <div class="form-body" ng-if="User.UserType=='1'">
                <div class="form-group">
                  <label>Team Members</label>
                  <input class="form-control" type="text" ng-model="searchName" placeholder="Search User Name" style="margin-bottom: 3px" ng-init="searchName = ''" />
                  <ul class="check-listbox">
                    <li ng-repeat="user in FilteredUsers | orderBy: 'FirstName' | filter : {'FullName' : searchName}">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" checklist-model="User.MemberUserIds" checklist-value="user.Id" />
                          {{user.FullName}}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div ng-show="Errors.length > 0" class="pull-left col-sm-4 alert alert-danger alert-dismissible fade in" role="alert" style="margin-top:10px; margin-left:15px;">
              <ul>
                <li ng-repeat="error in Errors">{{error}}</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="pull-left" style="margin-top: 10px" ng-if="User.Id != null && User.UserType=='1'">
                <button class="btn btn-danger btn-sm" ng-click="emailResetPasswordToUser(User)">
                  <i class="fa fa-envelope-o margin-right"></i>Email Password Reset
                </button>
              </div>
              <div class="pull-right" style="margin-top: 10px">
                <button class="btn btn-danger btn-sm" ng-click="cancelUser(User)">
                  <i class="fa fa-ban margin-right"></i>Cancel
                </button>
                <button class="btn btn-success btn-sm" ng-click="saveUser(User)">
                  <i class="fa fa-save margin-right"></i>Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
<!-- /.content -->


<div>
  <script type="text/ng-template" id="uploadfile.html">
    <div class="modal-header">
      <h4 class="modal-title">Import Users From Excel</h4>
    </div>
    <div class="modal-body" id="form-body">
      <div class="row" style="margin-bottom: 10px">
        <div class="col-md-6">
          <form method="POST" id="importusersform" name="13" class="form-horizontal wpc_contact" novalidate="novalidate" enctype="multipart/form-data">
            <input class="input-file" id="fileInput" type="file" name="file">
          </form>
        </div>

        <div class="col-md-12" ng-show="Errors.length > 0">
          <div class="alert alert-danger">
            <h4>Oops...</h4>
            <ul>
              <li ng-repeat="error in Errors">
                {{error}}
              </li>
            </ul>
          </div>
        </div>


      </div>
      <div class="modal-push">
      </div>
    </div>
    <div class="modal-footer">
      <div>
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn yellow-casablanca" ng-disabled="busy" ng-click="import()">Import</button>
      </div>
    </div>
  </script>
</div>
