<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/insurers">Insurers</a>
            </li>
            <li>
                <a href="#">Zones {{Contract.Name}}</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-6 bottom-buffer">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>Map
                    </div>
                </div>
                <div class="portlet-body" style="height: 700px;">
                    <div id="map" style="height: 680px;">
                        <div id="currentZone">
                            <strong>Current Zone:</strong> <span>{{selectedZone.Name}}</span>
                        </div>

                        <div id="customControls" style="display: none">
                            <button id="polygon">Add Polygon</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bottom-buffer">
            <div class="portlet box blue-soft" ng-show="addNewZone==true">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-sitemap"></i>New Zones
                    </div>
                </div>
                <div class="portlet-body" id="form-body" style="max-height: 700px; overflow-y: hidden">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="#">All Zones</a>
                                <i class="fa fa-angle-right" ng-show="breadcrumbs.length > 0"></i>
                            </li>
                            <li ng-repeat="zone in breadcrumbs">
                                <a href="#">{{zone.Name}}</a>
                                <i class="fa fa-angle-right" ng-show="zone.Id != activeZone.Id"></i>
                            </li>
                        </ul>
                    </div>
                    <form>
                        <div style="clear: both; margin-bottom: 10px"></div>
                        <div ng-show="newZone.ZoneType == 'States'">
                            <div class="form-group">
                                <label>Select the states you would like to add.</label>
                                <div class="form-group">
                                    <div class="input-icon right">
                                        <i class="fa fa-filter"></i>
                                        <input type="text" placeholder="Filter States" class="form-control" ng-model="stateFilter">
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-link btn-xs" ng-click="checkAllStates()">Check All</button>
                                    /
                                    <button class="btn btn-link btn-xs" ng-click="uncheckAllStates()">Uncheck All</button>
                                </div>
                                <div class="checkbox-list">
                                    <div ng-repeat="state in States | filter:stateFilter">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-change="changeState(state)" ng-model="state.Checked">
                                            {{state.Name}} ({{state.Code}})
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="newZone.ZoneType == 'Counties'">
                            <div class="form-group">
                                <label>Select the state to see the counties:</label>
                                <select class="form-control" ng-options="state.Name for state in States track by state.Name" ng-change="uncheckAllCounties()" ng-model="selectedCountyState"></select>
                            </div>
                            <div class="form-group" ng-if="selectedCountyState">
                                <label>Select the counties you would like to add.</label>
                                <div class="form-group">
                                    <div class="input-icon right">
                                        <i class="fa fa-filter"></i>
                                        <input type="text" placeholder="Filter Counties" class="form-control" ng-model="countyFilter">
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-link btn-xs" ng-click="checkAllCounties(selectedCountyState)">Check All</button>
                                    /
                                    <button class="btn btn-link btn-xs" ng-click="uncheckAllCounties(selectedCountyState)">Uncheck All</button>
                                </div>
                                <div class="checkbox-list">
                                    <div ng-repeat="county in selectedCountyState.Counties | filter:countyFilter">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-change="changeCounty(selectedCountyState, county)" ng-model="county.Checked">
                                            {{county.Name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="newZone.ZoneType == 'Zips'">
                            <div class="form-group">
                                <label>Add the 5-digit zips here, separate them by commas:</label>
                                <textarea class="form-control" rows="3" ng-change="changeZipCodes()" ng-model="zipCodes"></textarea>
                            </div>
                        </div>

                        <hr />
                        <div class="form-group" ng-show="newZone.ZoneType == 'Empty' || newZone.ZoneType == 'Custom'">
                            <input type="text" placeholder="Zone Name" class="form-control" ng-model="newZone.Name">
                        </div>
                        <div style="clear: both; margin-bottom: 10px"></div>
                        <div class="modal-footer">
                            <div id="modalDeleteLocation_commands">
                                <button type="button" class="btn btn-default" ng-click="closeNewZone()">Close</button>
                                <button type="button" class="btn btn-default" ng-click="addZone()">Add New Zone</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="portlet box blue-soft" ng-show="addNewZone==false">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-sitemap"></i>Zones
                    </div>
                </div>
                <div class="portlet-body" style="height: 700px;">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="#" ng-click="allZones()">All Zones</a>
                                <i class="fa fa-angle-right" ng-show="breadcrumbs.length > 0"></i>
                            </li>
                            <li ng-repeat="zone in breadcrumbs">
                                <a href="#" ng-click="childZones(zone)">{{zone.Name}}</a>
                                <i class="fa fa-angle-right" ng-show="zone.Id != activeZone.Id"></i>
                            </li>
                        </ul>

                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button data-close-others="true" data-delay="1000" data-toggle="dropdown" class="btn btn-fit-height yellow-casablanca dropdown-toggle" type="button" aria-expanded="false">
                                    <i class="fa fa-plus margin-right"></i>New {{activeZone.Name}} Zones  <i class="fa fa-angle-down margin-left"></i>
                                </button>
                                <ul role="menu" class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" ng-click="showNewZone('Empty')">Group</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" ng-click="showNewZone('States')">States</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="showNewZone('Counties')">Counties</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="showNewZone('Zips')">Zips</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" ng-click="showNewZone('Custom')">Custom</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <input type="checkbox" ng-model="viewChildShapes" style="margin-right: 10px" tabindex="-1" ng-change="loadZones(selectedZone, selectedZone.Children)"> Child Shapes
                    <div style="overflow-y: auto; height:600px">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Excludes</th>
                                    <th>
                                        <input type="checkbox" ng-model="zoneCheckAll" ng-click="checkUncheckAll(groupedZones, singleZones)" style="margin-right: 10px">
                                        Wind
                                    </th>
                                    <th>Limit</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="zone in groupedZones | orderBy: 'Name'">
                                    <td>{{zone.Name}}</td>
                                    <td>
                                        <label ng-show="zone.ZoneType != 'Empty'">
                                            <input type="checkbox" ng-model="zone.Excludes" style="margin-right: 10px" tabindex="-1" ng-change="saveZone(zone)">
                                            Excludes
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" ng-model="zone.Wind" style="margin-right: 10px" tabindex="-1" ng-disabled="zone.Excludes" ng-change="saveZone(zone)">
                                            Wind
                                        </label>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Leave blank if no limit." class="form-control input-sm" ng-model="zone.Limit" ng-disabled="zone.Wind != true && zone.Excludes" mask data-mask="#" ng-blur="saveZone(zone)">
                                    </td>

                                    <td style="text-align: right">
                                        <button class="btn default margin-right" type="button" ng-click="childZones(zone)" tabindex="-1">Open</button>
                                        <button class="btn default" type="button" ng-click="deleteZone(zone, groupedZones)" tabindex="-1">Delete</button>
                                    </td>
                                </tr>
                                <tr ng-repeat="zone in singleZones | orderBy: 'Name'">
                                    <td>{{zone.Name}}</td>
                                    <td>
                                        <label ng-show="zone.ZoneType != 'Empty'">
                                            <input type="checkbox" ng-model="zone.Excludes" style="margin-right: 10px" tabindex="-1" ng-change="saveZone(zone)">
                                            Excludes
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" ng-model="zone.Wind" style="margin-right: 10px" tabindex="-1" ng-disabled="zone.Excludes" ng-change="saveZone(zone)">
                                            Wind
                                        </label>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Leave blank if no limit." class="form-control input-sm" ng-model="zone.Limit" ng-disabled="zone.Wind != true || zone.Excludes" mask data-mask="#" ng-blur="saveZone(zone)">
                                    </td>
                                    <td style="text-align: right">
                                        <button class="btn default margin-right" type="button" ng-click="childZones(zone)" tabindex="-1">Open</button>
                                        <button class="btn default" type="button" ng-click="deleteZone(zone, singleZones)" tabindex="-1">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
