<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div> 
        <a href="#/">
            <img ng-src="{{'data:image/png;base64,' + rootScope.Organization['PageLogo']}}"  alt="logo" class="logo-default" /> 
        </a>       
    </div>
    <!-- END LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <form class="search-form hide" action="#" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="query">
            <span class="input-group-btn">
                <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
            </span>
        </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar" ng-show="false">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <i class="icon-bell"></i>
                    <span class="badge badge-default">
                        {{notifications.length}}
                    </span>
                </a>
                <ul class="dropdown-menu" style="max-width:400px; width:400px">
                    <li class="external">
                        <h3><span class="bold">{{notifications.length}}</span> notification(s)</h3>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                            <li ng-repeat="n in notifications">
                                <a href="javascript:;">
                                    <span class="time" style="max-width:100px">{{n.dateTime | prettyDateFilter}}</span>
                                    <span class="details">
                                        <span class="label label-sm label-icon" ng-class="n.type == 'success' ? 'label-success' : n.type == 'error'  ? 'label-danger' : n.type == 'warning' ? 'label-warning' : 'label-info'">
                                            <i class="fa" ng-class="n.type == 'success' ? 'fa-check' : n.type == 'error'  ? 'icon-warning-sign' : n.type == 'warning' ? 'icon-warning-sign' : 'fa-info-circle'"></i>
                                        </span>
                                        <span ng-bind-html="n.title"></span>: <span ng-bind-html="n.message"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user" ng-show="true">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <span class="user-bubble-team" style="background-color: rgb(1, 150, 219) !important; font-size: 1.0383em; margin-right: 3px;">{{User.Initials}}</span>
                    <span class="username username-hide-on-mobile">{{User.FirstName}}
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                  <li>
                    <a href="javascript:;" ng-click="logOut()">
                      <i class="icon-logout"></i> Log Out
                    </a>
                  </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->