<!-- BEGIN LOGIN -->
<div>
    <div class="content" style="width: 300px;margin: 40px auto;">
        <form class="login-form">
            
            <div class="row">
                <img ng-src="{{'data:image/png;base64,' + rootScope.Organization['LoginLogo']}}" class="img-responsive center-block" style="margin-bottom: 20px;" />
            </div>

            <h3 class="form-title">Change Password</h3>

            <!-- Current Password -->
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Current Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control" type="password" autocomplete="off" placeholder="Current Password" ng-model="OldPassword" required />
                </div>
            </div>
    
            <!-- New Password -->
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">New Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control" type="password" autocomplete="off" placeholder="New Password" ng-model="NewPassword" required />
                </div>
            </div>

            <!-- Confirm New Password -->
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Repeat Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control" type="password" autocomplete="off" placeholder="Confirm New Password" ng-model="ConfirmPassword" required />
                </div>
            </div>

            <div class="alert alert-danger" ng-show="Errors.length > 0">
                <ul><li ng-repeat="error in Errors">{{error}}</li></ul>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn green-haze btn-block" ng-click="changePassword()" ng-disabled="!passwordFieldsFilled()">Change Password</button>
            </div>
        </form>
    </div>
</div>
