<!-- BEGIN LOGIN -->

<div data-ng-controller="ForgotPasswordController" ng-if="authentication.isAuth == false">
    <div class="content" style="margin-top:200px">
        <form class="login-form">
            <div class="row">
                <img ng-src="{{'data:image/png;base64,' + rootScope.Organization['LoginLogo']}}" class="img-responsive center-block" style="margin-bottom: 20px;" />
            </div>

            <h3 class="form-title">Forgot Password</h3>

            <div class="alert alert-danger" ng-show="Errors.length > 0">
                <ul>
                    <li ng-repeat="error in Errors">{{error}}</li>
                </ul>
            </div>


            <div class="form-group" ng-show="emailVerified">
                <p class="text-success">An email has been sent to reset your password to {{Email}}.</p>
            </div>


            <div class="form-group" ng-show="emailVerified  == false">
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" ng-disabled="emailVerified" type="text" autocomplete="off" placeholder="Your Email" data-ng-model="Email" required />
                </div>
            </div>


            <div class="form-actions" ng-show="emailVerified == false">
                <button type="submit" class="btn green-haze btn-block" data-ng-click="resetpassword()">
                    Send New Password
                </button>
            </div>

            <div class="forget-password">
                <p>
                    Back to <a href="#/login">Login </a>
                </p>
            </div>
        </form>
    </div>
</div>
