<!-- BEGIN LOGIN -->

<div data-ng-controller="RegisterController" ng-if="authentication.isAuth == false">
    <div class="content" style="margin-top:200px">
        <form class="login-form">
            <h3 class="form-title">Register</h3>

            <div class="alert alert-danger" ng-show="Errors.length > 0">
                <ul>
                    <li ng-repeat="error in Errors">{{error}}</li>
                </ul>
            </div>

            <div class="form-group" ng-show="emailVerified">
                <label class="control-label" style="font-weight:bold">Managing General Agency</label>
                <div>{{ManagingGeneralAgent}}</div>
            </div>

            <div class="form-group" ng-class="{'has-success': emailVerified }">
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" ng-disabled="emailVerified" type="text" autocomplete="off" placeholder="Your Email" data-ng-model="User.Email" required />
                </div>
            </div>


            <div class="form-actions" ng-show="emailVerified == false">
                <button type="submit" class="btn green-haze btn-block" data-ng-click="verify()">
                    Verify Email
                </button>
            </div>

            <div ng-show="emailVerified">
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">First Name</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="First Name" data-ng-model="User.FirstName" required autofocus />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Last Name</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Last Name" data-ng-model="User.LastName" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Office</label>
                    <div class="input-icon">
                        <i class="fa fa-building-o "></i>
                        <select class="form-control" ng-model="User.OfficeId" ng-options="office.Id as office.Name for office in Offices | orderBy: 'Name'"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" data-ng-model="User.Password" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password Again</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password Again" data-ng-model="User.PasswordAgain" required />
                    </div>
                </div>
                <div class="form-actions">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="User.IsUnderwriterExec" />
                        Check this if your are an account executive.
                    </label>
                    <button type="submit" class="btn green-haze pull-right" data-ng-click="register()">
                        Register <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
