<!-- BEGIN LOGIN -->

<div data-ng-controller="ResetPasswordController" ng-if="authentication.isAuth == false">
    <div class="content" style="width: 300px;margin: 40px auto;">
        <form class="login-form">
            <div class="row">
                <img ng-src="{{'data:image/png;base64,' + rootScope.Organization['LoginLogo']}}" class="img-responsive center-block" style="margin-bottom: 20px;" />
            </div>
            {{$scope.token}}
            <h3 class="form-title">Password Reset</h3>

            <div class="alert alert-danger" ng-show="Errors.length > 0">
                <ul>
                    <li ng-repeat="error in Errors">{{error}}</li>
                </ul>
            </div>

            <div class="form-group" ng-show="emailVerified  == false">
                <label class="control-label visible-ie8 visible-ie9">New Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="New Password" data-ng-model="Password" required />
                </div>
            </div>


            <div class="form-group" ng-show="emailVerified  == false">
                <label class="control-label visible-ie8 visible-ie9">Repeat Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Repeat New Password" data-ng-model="RepeatPassword" required />
                </div>
            </div>


            <div class="alert alert-danger" ng-show="Password != RepeatPassword">
                Passwords do not match.
            </div>

            <div class="form-actions" ng-show="emailVerified == false">
                <button type="submit" class="btn green-haze btn-block" data-ng-click="setPasswordWithToken()" ng-disabled="Password != RepeatPassword">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>
