
    <div class="well well-sm" style="margin-bottom:5px; background-color:#16216c; border:#4f5a67;color:white">
        <span style="font-weight:bold;" ng-if="canSeeBound()" tooltip="Policy Number">{{Policy.Number }}</span>
        <span style="font-weight:bold;" ng-if="!canSeeBound()" tooltip="MALACHI Submission Number">{{Policy.SubmissionNumber}}</span>
        <span ng-if="Policy.MGASubmissionNumber != null" style="margin-left: 10px; margin-right: 10px;">|</span>
        <span ng-if="Policy.MGASubmissionNumber != null" tooltip="AIM Submission Number">{{Policy.MGASubmissionNumber}}</span>
        <span style="margin-left:10px;" tooltip-html-unsafe="{{displayFullName(Policy.Insured.Name)}}" data-tooltip-placement="bottom">{{Policy.Insured.Name | limitTo:100 }}</span>

        <span class="pull-right" ng-show="!Policy.Bound && IsRequestedToBind() && !IsRequestedToBindDeclined()" style="margin-right:9px;"><span class="label bg-yellow-casablanca bg-font-yellow-casablanca">Bind Requested</span></span>
        <span class="pull-right" ng-show="!Policy.Bound && IsRequestedToBind() && IsRequestedToBindDeclined()" style="margin-right:9px;"><span class="label" style="background-color: #e23b30">Bind Request Declined</span></span>
        <span class="pull-right" ng-show="IsCommercialPortalQuote()" style="margin-right:9px;"><span class="label" style="background-color: #339a3d">Commercial Portal Quote</span></span>
        <span class="pull-right" ng-show="Policy.Endorsement != null" style="margin-right:9px;"><span class="label label bg-purple-studio">Endorsement {{Policy.EndorsementNumber}}</span></span>
        <span class="pull-right" ng-show="canSeeBound() && Policy.Bound && Policy.Issued == false" style="margin-right:9px;"><span class="label bg-yellow-casablanca bg-font-yellow-casablanca">Bound</span></span>
        <span class="pull-right" ng-show="Policy.Issued" style="margin-right:9px;"><span class="label" style="background-color: #ef8200">Issued</span></span>
        <span class="pull-right" ng-show="Policy.RenewalOf != null && Policy.RenewalOf.length > 0" style="margin-right:9px;"><span class="label" style="background-color: #ffc82e;color:#16216c ">Renewal of {{Policy.RenewalOf}}</span></span>
        <span class="pull-right" ng-show="!SubmitApproved(Policy.CurrentVersion.FocusedRiskCompanyId) && SubmitRequested(Policy.CurrentVersion.FocusedRiskCompanyId) && SubmitRequired(Policy.CurrentVersion.FocusedRiskCompanyId)" style="margin-right:9px;"><span class="label bg-yellow-casablanca bg-font-yellow-casablanca">Submit Requested</span></span>
        <span class="pull-right" ng-show="SubmitApproved(Policy.CurrentVersion.FocusedRiskCompanyId) && SubmitRequested(Policy.CurrentVersion.FocusedRiskCompanyId) && SubmitRequired(Policy.CurrentVersion.FocusedRiskCompanyId)" style="margin-right:9px;"><span class="label bg-green-jungle bg-font-green-jungle">Submit Approved</span></span>
        <span class="pull-right" ng-show="SubmitForBind(Policy.CurrentVersion.FocusedRiskCompanyId) && Policy.Bound == false" style="margin-right:9px;"><span class="label bg-yellow-casablanca bg-font-yellow-casablanca">Submitted For Bind</span></span>
        <span class="pull-right" ng-show="Policy.SourceOrganizationName.length > 0" style="margin-right:9px;"><span class="label" style="background-color: #f05f2a">{{Policy.SourceOrganizationName}}</span></span>
        <span class="pull-right" ng-show="PolicyInWorkflow()" style="margin-right:9px;"><span class="label" style="background-color: #e23b30">Workflow</span></span>
    </div>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="padding-left: 0">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" style="padding-left: 0">
            <!--<button class="btn yellow-casablanca pull-left" style="margin-top: 8px; margin-left: 8px;" ng-show="!Policy.Bound && {{Policy.Effective | date: 'shortDate'}} < {{currentDate | date: 'shortDate'}}">Set Date</button>-->

            <span class="pull-left" style="margin-top: 15px; margin-left: 8px; font-size: 1.1em; color: #16216c;" ng-show="Policy.LateEffectiveDate && Policy.Endorsement == null && !Policy.Bound && Policy.RenewalOf == null"><strong>Effective Date is in the Past</strong></span><button class="btn yellow-casablanca pull-left" style="margin-top: 7px; margin-left: 8px;" ng-show="Policy.LateEffectiveDate && Policy.Endorsement == null && !Policy.Bound && Policy.RenewalOf == null" ng-click="updatePolicyTermToToday()">Set to Today</button>

            <button class="btn yellow-casablanca pull-left" ng-show="Policy.Id.length > 0" style="margin-top: 7px; margin-left: 8px;" ng-click="openPolicyNotes()">
                Policy Notes
            </button>
            <button class="btn yellow-casablanca pull-left" ng-show="Policy != null && IsCommercialPortalQuote()" 
                    style="margin-top: 7px; margin-left: 8px;" ng-click="copyPolicy()">
                <i class="fa fa-copy margin-right"></i>Copy to New Submission
            </button>

            <form class="navbar-form navbar-right ng-pristine ng-valid" style="padding-right: 0;">
                <div ng-show="showDocumentsDropdown()">
                    <div class="btn-group" style="background-color: #fff; color: #000; border:1px solid #16216c;" role="group">
                        <button style="border: none;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-download" style="margin-right:5px">
                            </span>Download
                        </button>
                        <button style="border: none; border-left: #ccc 1px solid;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-show="canDownloadRatesheet()" ng-click="downloadRateSheet(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Ratesheet</a></li>
                            <li ng-show="canDownloadQuoteDocWithFinance()" ng-click="downloadQuoteDocument(Policy.CurrentVersion.FocusedRiskCompanyId, true)"><a href="#">Quote Doc w/ Finance</a></li>
                            <li ng-show="canDownloadQuoteDoc()" ng-click="downloadQuoteDocument(Policy.CurrentVersion.FocusedRiskCompanyId, false)"><a href="#">Quote Doc w/o Finance</a></li>
                            <li ng-show="canDownloadAcordDoc()" ng-click="downloadAcordDocument(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Acord Doc</a></li>
                            <li ng-show="canDownloadBinder()" ng-click="downloadBinderDocument(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Binder</a></li>
                            <li ng-show="canDownloadPolicy()" ng-click="downloadPolicy(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Policy</a></li>
                            <li ng-show="canDownloadInvoice()" ng-click="downloadInvoice(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Invoice</a></li>
                            <li ng-show="canDownloadSOV()" ng-click="downloadSOV()"><a href="#">SOV</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" style="background-color: #fff; color: #000; border:1px solid #16216c;" role="group">
                        <button style="border: none;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-envelope" style="margin-right:5px">
                            </span>Email
                        </button>
                        <button style="border: none; border-left: #ccc 1px solid;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <!--<li ng-show="canDownloadRatesheet()" ng-click="emailRateSheet(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Ratesheet</a></li>-->
                            <li ng-show="canDownloadQuoteDocWithFinance()" ng-click="emailDocument(Policy.CurrentVersion.FocusedRiskCompanyId, ['Quote Document', 'Acord Document'], true)"><a href="#">Quote Doc w/ Finance</a></li>
                            <li ng-show="canDownloadQuoteDoc()" ng-click="emailDocument(Policy.CurrentVersion.FocusedRiskCompanyId, ['Quote Document', 'Acord Document'], false)"><a href="#">Quote Doc w/o Finance</a></li>
                            <!--<li ng-show="canDownloadQuoteDoc()" ng-click="emailAcordDocument(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Acord Doc</a></li>
                            <li ng-show="canDownloadBinder()" ng-click="emailBinderDocument(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Binder</a></li>
                            <li ng-show="canDownloadPolicy()" ng-click="emailPolicy(Policy.CurrentVersion.FocusedRiskCompanyId)"><a href="#">Policy</a></li>-->
                        </ul>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="col-md-12" style="min-height:600px">
        <ul class="nav nav-tabs" ng-show="policyMenuVisible">
            <li ng-class="{active:$state.includes('policy.'+App.Url+'.submission')}"><a id="lnkSubmission" ng-href="{{$state.href('policy.'+App.Url+'.submission', { appId: AppId, policyId: PolicyId })}}"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-list-alt"></span>Submission Info</span><span class="glyphicon glyphicon-list-alt visible-xs visible-sm"></span></a></li>
            <li ng-class="{active:$state.includes('policy.'+App.Url+'.locations')}"><a class="quoteTabLinks" id="lnkLocations" ng-href="{{PolicyId == null ? '#' : $state.href('policy.'+App.Url+'.locations', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null}"><span class="hidden-xs  hidden-sm"><span class="glyphicon glyphicon-map-marker"></span>Locations</span><span class="glyphicon glyphicon-map-marker visible-xs visible-sm"></span></a></li>
            <li ng-if="(Coverages | filter:'Liability' ).length > 0" ng-class="{active:$state.includes('policy.'+App.Url+'.liability')}"><a class="quoteTabLinks" id="lnkLiability" ng-href="{{PolicyId == null || !Policy.CurrentVersion.Locations.length > 0 ? '#' : $state.href('policy.'+App.Url+'.liability', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || !Policy.CurrentVersion.Locations.length > 0 }"><span class="hidden-xs hidden-sm"><span class="liability-ico"></span>Liability</span><span class="liability-ico visible-xs visible-sm"></span></a></li>
            <li ng-if="(Coverages | filter:'Property' ).length > 0" ng-class="{active:$state.includes('policy.'+App.Url+'.property')}"><a class="quoteTabLinks" id="lnkProperty" ng-href="{{PolicyId == null || !Policy.CurrentVersion.Locations.length > 0 ? '#' : $state.href('policy.'+App.Url+'.property', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || !Policy.CurrentVersion.Locations.length > 0 }"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-home"></span>Property</span><span class="glyphicon glyphicon-home visible-xs visible-sm"></span></a></li>
            <li ng-class="{active:$state.includes('policy.'+App.Url+'.eligibility')}"><a class="quoteTabLinks" id="lnkEligibility" ng-href="{{(PolicyId == null || getClassCodesCount() == 0 || getPropertiesCount() == 0) ? '#' : $state.href('policy.'+App.Url+'.eligibility', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || getClassCodesCount() == 0 || getPropertiesCount() == 0}"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-bookmark"></span>Rate</span><span class="glyphicon glyphicon-bookmark visible-xs visible-sm"></span></a></li>
            <li ng-class="{active:$state.includes('policy.'+App.Url+'.forms')}"><a class="quoteTabLinks" id="lnkForms" ng-href="{{PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) ? '#' : $state.href('policy.'+App.Url+'.forms', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) }"><span class="hidden-xs hidden-sm"><span class="fa fa-file-text" style="margin-right:10px"></span>Forms</span><span class="fa fa-file-text visible-xs visible-sm"></span></a></li>
            <li ng-class="{active:$state.includes('policy.'+App.Url+'.finalize')}">
                <a class="quoteTabLinks" id="lnkFinalize" ng-href="{{PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) ? '#' : $state.href('policy.'+App.Url+'.finalize', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || Policy.CurrentVersion.RateProperty || invalidRiskCompanySelected(true) }">
                    <span class="hidden-xs hidden-sm"><span class="fa fa-pencil-square-o " style="margin-right: 10px"></span>Proposal</span>
                    <span class="fa fa-pencil-square-o visible-xs visible-sm"></span>
                </a>
            </li>
            <li ng-if="Policy.Endorsement == null" ng-class="{active:$state.includes('policy.'+App.Url+'.bind')}"><a class="quoteTabLinks" id="lnkBind" ng-href="{{PolicyId == null || Policy.CurrentVersion.RateProperty || checkForQuoteErrors().length > 0 || invalidRiskCompanySelected(true) || !CanBindSubmitQuote(Policy.CurrentVersion.FocusedRiskCompanyId) ? '#' : $state.href('policy.'+App.Url+'.bind', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || Policy.CurrentVersion.RateProperty || checkForQuoteErrors().length > 0 || invalidRiskCompanySelected(true) || !CanBindSubmitQuote(Policy.CurrentVersion.FocusedRiskCompanyId) }"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-check"></span>{{Policy.Bound == true ? 'Premium' : Policy.Issued == true ? 'Premium' : 'Bind'}}</span><span class="glyphicon glyphicon-check visible-xs visible-sm"></span></a></li>
            <li ng-if="Policy.Endorsement != null" ng-class="{active:$state.includes('policy.'+App.Url+'.bindendorsement')}"><a class="quoteTabLinks" id="lnkBindEndorsement" ng-href="{{PolicyId == null || Policy.CurrentVersion.RateProperty || checkForQuoteErrors().length > 0 || invalidRiskCompanySelected(true) ? '#' : $state.href('policy.'+App.Url+'.bindendorsement', { appId: AppId, policyId: PolicyId })}}" ng-class="{ disabled : PolicyId == null || Policy.CurrentVersion.RateProperty || checkForQuoteErrors().length > 0 || invalidRiskCompanySelected(true) }"><span class="hidden-xs hidden-sm"><span class="glyphicon glyphicon-check"></span>Bind Endorsement</span><span class="glyphicon glyphicon-check visible-xs visible-sm"></span></a></li>
            <li style="margin-left: 20px; margin-top: 10px">
                <span>
                    <span id="policy-status-icon" class="label right-buffer"></span>
                    <span id="policy-status-text" class="visible-lg-inline-block" style="vertical-align: middle;"></span>
                </span>
            </li>
            <li ng-if="canViewVersions && Policy.VersionSummary.length > 1" role="presentation" class="dropdown" style="float:right">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span ng-if="Policy.VersionNumber == 0"><i class="fa fa-history" aria-hidden="true" style="margin-right:5px"></i> Version: Current <span class="caret"></span></span>
                    <span ng-if="Policy.VersionNumber > 0"><i class="fa fa-history" aria-hidden="true" style="margin-right:5px"></i> Version: Archived {{Policy.VersionNumber}} <span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-click="changeVersion(0)">
                        <a href="#" ng-class="{selected: Policy.VersionNumber == 0}">Current Version</a>
                    </li>
                    <li ng-repeat="version in Policy.VersionSummary | orderBy:'-VersionNumber'" ng-if="version.VersionNumber > 0" ng-click="changeVersion(version.VersionNumber)">
                        <a href="#" ng-class="{selected: Policy.VersionNumber == version.VersionNumber }">Archived Version {{version.VersionNumber}} - {{version.CreatedDate}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="page-header visible-xs">
        </div>

        <div ui-view>
        </div>
    </div>
</div>


<script type="text/ng-template" id="test_Commercial_showPolicyCoverages.html">
    <div class="modal-header">
        <h4 class="modal-title">Setup</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="scrollable">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>AIM Submission Number <span style="font-size:0.8em">(Optional, import submission setup from AIM)</span></label>
                                <div class="input-group">
                                    <input class="form-control" ng-model="SubmissionNumber" placeholder="Leave blank if none" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn yellow-casablanca" ng-click="search()">Search</button>
                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                                <div ng-if="submissionInfo != null && !submissionInfo.DoesNotExist" class="well" style="margin-top:10px">
                                    <div><strong>Named Insured:</strong> {{submissionInfo.NamedInsured}}</div>
                                    <div ng-if="submissionInfo.IsBound" style="        margin-top: 10px;
        color: red;"><strong>This submission is already bound.</strong> Please make sure the submission number you entered is correct</div>
                                    <div ng-if="!submissionInfo.IsBound"><label style="margin-top:10px"><input type="checkbox" ng-model="submission.Confirmed" style="margin-right:5px" />I confirm the named insured and the submission number is correct.</label> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Select Coverages</label>
                                <ul class="check-listbox">
                                    <li ng-repeat="coverage in Coverages | orderBy: 'Name'">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checklist-model="SelectedCoverages" checklist-value="coverage">
                                                {{coverage}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-show="Errors.length > 0" class="alert alert-danger" role="alert" style="margin-top:10px;">
                                    <ul>
                                        <li ng-repeat="error in Errors">
                                            {{error}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-push">
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-default" style="float:left" ng-show="!IsCommercialPortalQuote" ng-click="goBack()">Back</button>
            <button type="button" class="btn btn-default" ng-show="IsCommercialPortalQuote" ng-click="close()">Cancel</button>
            <button type="button" class="btn yellow-casablanca" ng-click="save()" ng-disabled="SelectedCoverages.length == 0">OK</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="test_Commercial_Lines_chooseRiskCompany.html">
    <div class="modal-header">
        <h4 class="modal-title">Select A Risk Company</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <form class="form-horizontal" role="form">
                <div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Risk Company</label>
                                <div class="col-sm-8">
                                    <ui-select ng-model="SelectedRiskCompany.Company"
                                               theme="bootstrap"
                                               ng-disabled="$parent.Policy.Bound || ($parent.SubmitForBind(Policy.CurrentVersion.FocusedRiskCompanyId) && submitReviewer == false)"
                                               reset-search-input="false"
                                               ng-required="true">
                                        <ui-select-match placeholder="Select Risk Company">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="company in RiskCompanies | filter: { Name: $select.search}">
                                            <div ng-bind-html="company.Name | highlight: $select.search">
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-show="Errors.length > 0" class="alert alert-danger" role="alert" style="margin-top:10px;">
                                    <ul>
                                        <li ng-repeat="error in Errors">
                                            {{error}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-push">
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
            <button type="button" class="btn yellow-casablanca" ng-click="save()" ng-disabled="SelectedCoverages.length == 0">Ok</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="policyClaims.html">
    <!-- JACK'S -->
    <!-- HEADER -->
    <div class="modal-header">
        <h4 class="modal-title">Policy Claims Summary</h4>
    </div>

    <!-- Claims Table -->
    <div class="row" style="padding: 20px; margin: 0;">
      <div class="col-md-12" ng-if="claims.length > 0 && !unableToGetClaims" style="padding: 0;">
        <table class="table table-hover">
          <tr style="background-color: #e8e8e8;">
            <th>Claim Number</th>
            <th>Claimant Name</th>
            <th>Loss Type</th>
            <th>Date of Loss</th>
            <th>Status</th>
          </tr>
          <tr ng-repeat="claim in claims">
            <td>
              <a href="#" ng-click="close(claim.Id)">{{claim.ClaimOfficialNumber}}</a>
            </td>
            <td>{{claim.ClaimantName}}</td>
            <td>{{claim.LossType}}</td>
            <td>{{claim.DateOfLoss | date : 'longDate'}}</td>
            <td style="color: {{getStatusColor(claim.Status)}}">{{getStatus(claim.Status)}}</td>
          </tr>
        </table>
      </div>

      <div class="col-md-12" ng-if="unableToGetClaims" style="padding: 0;">
        <p>There was a problem getting the policy and claims history for this policy. Please check the claims module for outstanding claims or contact support for help.</p>
      </div>

      <!-- BUTTON CLOSE -->
      <div class="col-md-12 plr0" style="padding: 20px 0 0 0; text-align: right;">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
      </div>

    </div>

    <!-- END OF JACK'S -->
</script>



<div>
    <script type="text/ng-template" id="test_Commercial_Lines_submissionClearanceModelContent.html">
        <div class="modal-header">
            <h4 class="modal-title">Submission Clearance</h4>
        </div>
        <div class="modal-body" id="form-body">
            <div class="row" style="margin-bottom: 10px">

                <div class="col-sm-12" style="margin-bottom:20px">
                    <div class="form-group">
                        <label class="col-sm-4" style="display: inline-block;margin-top: 8px;"><strong>Search Named Insured and/or DBA</strong></label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." ng-model="searchTerm">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="getSubmissions()">Search</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:block; clear:both; overflow: scroll;max-height:500px" ng-if="submissions.length > 0">
                    <table class="table table-hover table-condensed" style="width: 1400px;margin: 2px;border: 1px solid #ddd;">
                        <!--add scrollbar-->
                        <tr>
                            <th>Number</th>
                            <!--<th>Submission Number</th>-->
                            <th>Name</th>
                            <!--<th>DBA</th>-->
                            <!--<th>Date Effective</th>-->
                            <th>Mailing Address</th>
                            <!--<th>Account Exec</th>
                            <th>Product</th>-->
                        </tr>
                        <tr ng-repeat="submission in submissions" ng-class="{'info' : selectedSubmission == submission}" ng-click="submissionClicked(submission)" style="cursor:pointer">
                            <td>{{submission.Number}}</td>

                            <!--<td>{{submission.SubmissionNumber}}</td>-->
                            <td>{{submission.Name}}</td>



                            <td>{{submission.Name}}</td>
                            <!--<td>{{submission.DBA}}</td>
                            <td>{{submission.Effective}}</td>-->
                            <td>{{submission.MailingAddress}}</td>

                            <!--<td>{{submission.AccountExec}}</td>
                            <td>{{submission.Product}}</td>-->
                        </tr>
                    </table>
                </div>
                <div class="row" ng-show="ErrorList.length > 0" style="margin-left: 10px;margin-right: 10px;">
                    <div class="col-md-12 alert alert-danger">
                        <h4>Oops...</h4>
                        <ul>
                            <li ng-repeat="error in ErrorList">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-default" style="float:left" ng-click="goBack()">Back</button>
                        <button type="button" class="btn btn-default" ng-click="newSubmit()" ng-disabled="selectedSubmission == null">New Submit</button>
                        <button type="button" class="btn btn-default" ng-click="newInsured()">New Insured</button>
                    </div>
                </div>
            </div>
    </script>
</div>

<script type="text/ng-template" id="policyNotes.html">
    <div class="modal-header">
        <h4 class="modal-title">Policy Notes</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="scrollable">
                    <div class="col-md-12">
                        <div class="col-md-12" style="margin-bottom: 15px;">
                            <div ng-repeat="note in PolicyNotes">
                                <div class="row" style="margin-bottom: 10px; margin-bottom: 10px; border-bottom-width: 2px;border-bottom-color: #0096db;border-bottom-style: solid;">
                                    <div class="col-sm-4">
                                        {{note.UserName}}<br />
                                        <span style="font-style: italic;">{{note.CreatedDate}}</span>
                                    </div>
                                    <div class="col-sm-8">
                                        {{note.Note}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-bottom: 10px;">
                            <div class="form-group">
                                <textarea type="text" class="form-control" ng-model="noteToAdd" placeholder="Add note..."></textarea>
                            </div>
                            <button id="modalProperty_ok" type="button" class="btn btn-primary pull-right" ng-click="add()">Insert Note</button>
                        </div>

                        <div class="col-sm-12 alert alert-danger" ng-show="ErrorList.length > 0">
                            <ul>
                                <li ng-repeat="error in ErrorList">{{error}}</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </form>
        </div>

        <div class="modal-push">
        </div>
    </div>
    <div class="modal-footer">
        <div id="modalProperty_commands">
            <button id="modalProperty_close" type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="commercial_emailDocument.html">
    <div class="email-modal">
        <div class="modal-header">
            <h4 class="modal-title">Email Document</h4>
        </div>
        <div class="modal-body">
            <form>
                <label class="control-label">Email To</label>
                <input type="text" class="form-control input-md" style="margin-bottom:5px;" ng-model="EmailTo" />
                <label class="control-label">CC</label>
                <input type="text" class="form-control input-md" style="margin-bottom:5px;" ng-model="EmailCc" />
                <label class="control-label">Subject</label>
                <input type="text" class="form-control input-md" style="margin-bottom:5px;" ng-model="Subject" />
                <label class="control-label">Attachments</label>
                <input multiple id="attachment" style="display:none;" type="file" onchange="angular.element(this).scope().addAttachment(this)" accept="application/pdf" />
                <ul class="list-inline">
                    <li class="btn btn-default btn-xs" style="margin-left:5px;margin-bottom:2px;" ng-repeat="attachment in InitialAttachments | filter: {Active: true}">
                        {{attachment.Name}}
                        <a href="#" style="color:#d22;" ng-click="attachment.Active = false">&times;</a>
                    </li>
                    <li class="btn btn-default btn-xs" style="margin-bottom:2px;" ng-repeat="attachment in Attachments">
                        {{attachment.FileName}}
                        <a href="#" style="color:#d22;" ng-click="removeAttachment(attachment)">&times;</a>
                    </li>
                    <li>
                        <label for="attachment" class="btn btn-default btn-xs" style="margin-bottom:2px;">Add</label>
                    </li>
                </ul>
                <label class="control-label">Body</label>
                <textarea class="form-control input-lg" id="body-editor" ng-model="Body"></textarea>
            </form>
        </div>
        <div ng-if="Errors.length > 0" class="alert alert-danger" role="alert" style="text-align:left;">
            <ul>
                <li ng-repeat="error in Errors">{{error}}</li>
            </ul>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn yellow-casablanca" ng-click="send()">Send</button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="test_Commercial_Lines_aimSubmission.html">
    <div class="modal-header">
        <h4 class="modal-title">
            Setup
        </h4>
    </div>
    <div class="modal-body" id="form-body">
        <div class="row" style="margin-bottom: 10px">

            <form class="form-horizontal" role="form">
                <div class="scrollable">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>AIM Submission Number <span style="font-size:0.8em">(Optional, link submission in AIM)</span></label>
                                <div class="input-group">
                                    <input class="form-control" ng-model="submission.SubmissionNumber" placeholder="Leave blank if none" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn yellow-casablanca" ng-click="search()">Search</button>
                                    </div><!-- /btn-group -->
                                </div><!-- /input-group -->
                                <div ng-if="submissionInfo != null && !submissionInfo.DoesNotExist" class="well" style="margin-top:10px">
                                    <div><strong>Named Insured:</strong> {{submissionInfo.NamedInsured}}</div>
                                    <div ng-if="submissionInfo.IsBound" style="margin-top:10px; color:red;"><strong>This submission is already bound.</strong> Please make sure the submission number you entered is correct</div>
                                    <div ng-if="!submissionInfo.IsBound"><label style="margin-top:10px"><input type="checkbox" ng-model="submission.Confirmed" style="margin-right:5px" />I confirm the named insured and the submission number is correct.</label> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-if ="submission.Coverages.length == 0">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Select Coverages</label>
                        <ul class="check-listbox">

                            <li ng-repeat="coverage in Coverages | orderBy: 'Name'">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="submission.SelectedCoverages" checklist-value="coverage">
                                        {{coverage}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="ErrorList.length > 0">
                <div class="col-md-12">
                    <div class="alert alert-danger" ng-show="ErrorList.length > 0" style="margin: 10px;">
                        <h4>Oops...</h4>
                        <ul>
                            <li ng-repeat="error in ErrorList">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn yellow-casablanca" ng-click="save()" ng-disabled="okayButtonDisabled()">Okay</button>
            </div>
        </div>
    </div>
</script>