<!-- BUTTON STYLE -->
<div ng-if="type == 'button'">
    <button class="btn yellow-casablanca" ng-click="openStructureInsightsModal()">
        <img src="../../Content/img/white UW insights.png" style="width:20px; margin-right:5px" />
        Underwriting Insights 
    </button>
</div>

<!-- SIMPLE STYLE -->
<div ng-click="openStructureInsightsModal()" style="display: inline-block; position: absolute; width: 235px; height: 40px; margin-left: -55px; margin-top: -10px;"></div>
<span ng-if="type == 'simple'">Underwriting Insights</span>
