
<link rel="stylesheet" type="text/css" href="Content/controllers/Policy/apps/Shared/structureInsights.css">
<div class="modal-header">
    <h4 class="modal-title">Underwriting Insights</h4>
</div>
<div class="col-md-12">
    <div class="modal-body">
        <div class="row">
            <form class="form" role="form">
                <div>
                    <div ng-if="Errors.length > 0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" style="margin-top: 10px; margin-bottom: 5px;">
                                    <ul>
                                        <li ng-repeat="error in Errors | unique">
                                            {{error}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="fromDashboard">
                        <div>
                            <div>
                                <!--<label style="color: #337ab7; margin-right:5px">Search Address</label>-->
                                <div class="col-lg-offset-2 col-lg-8">
                                    <span style="color:#0096db">Search Address</span>
                                    <div>
                                        <span style="color:red; font-weight:bold;">{{ errorList[0] }}</span>
                                    </div>
                                </div>
                                <div class="col-lg-offset-2 col-lg-6">
                                    <input id="mailing-address"
                                           ng-autocomplete
                                           class="form-control input-sm"
                                           ng-model="location.Address.ShortAddress"
                                           details="details"
                                           ng-change="requireSave()" />
                                </div>

                                <div ng-disabled="!location.canModify()" class="col-lg-2" style="padding-left: 0">
                                    <input class="form-control input-sm" ng-disabled="toggleManaulAddressEntry" ng-model="manualLocation.Address.StreetAddress2" placeholder="Unit" ng-change="requireSave()" />
                                </div>

                                <div ng-disabled="!location.canModify()" class="col-lg-offset-2 col-lg-6" style="margin-top: 10px">
                                    <label style="color:#337ab7"><a ng-click="toggleManaulAddressEntry = !toggleManaulAddressEntry">Manually Enter Address</a></label>
                                    <input ng-show="toggleManaulAddressEntry" class="form-control input-sm" ng-disabled="!toggleManaulAddressEntry" ng-model="manualLocation.Address.StreetAddress1" placeholder="Address 1" ng-change="requireSave()" />
                                </div>

                                <div ng-disabled="!location.canModify()" class="col-lg-2" style="margin-top: 35px; padding-left: 0">
                                    <input ng-show="toggleManaulAddressEntry" class="form-control input-sm" ng-disabled="!toggleManaulAddressEntry" ng-model="manualLocation.Address.StreetAddress2" placeholder="Unit" ng-change="requireSave()" />
                                </div>

                                <!--<div class="col-lg-offset-2 col-lg-8" style="margin-top: 10px" ng-show="toggleManaulAddressEntry">
                                        <input class="form-control input-sm" ng-disabled="!parent.canModify()" ng-model="Address.StreetAddress2" placeholder="Address 2" ng-change="requireSave()" />
                                    </div>-->

                                <div class="col-lg-offset-2 col-lg-8" style="margin-top: 10px" ng-show="toggleManaulAddressEntry">
                                    <input class="form-control input-sm" ng-disabled="!toggleManaulAddressEntry" ng-model="manualLocation.Address.Zip" ng-blur="getStateByZip()" placeholder="Zip" ng-change="requireSave()" />
                                </div>

                                <div class="col-lg-offset-2 col-lg-8" style="margin-top: 10px" ng-show="toggleManaulAddressEntry">
                                    <input class="form-control input-sm" ng-disabled="!toggleManaulAddressEntry" ng-model="manualLocation.Address.City" placeholder="City" ng-change="requireSave()" />
                                </div>

                                <div class="col-lg-offset-2 col-lg-8" style="margin-top: 10px" ng-show="toggleManaulAddressEntry">
                                    <input class="form-control input-sm" ng-model="manualLocation.Address.State" ng-disabled="!toggleManaulAddressEntry" placeholder="State" ng-change="requireSave()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="isLoading">
                        <div class="col-md-12 loading">
                            <center><h2>Getting underwriting insights<span>.</span><span>.</span><span>.</span></h2></center>
                        </div>
                    </div>
                    <div ng-if="viewReport">
                        <div class="row" style="padding:0px 20px">
                            <div class="col-lg-12 insight-conditional-score alert" ng-class="getClassForInsight()">
                                <div>
                                    <label class="insight-label-md" style="font-size:1.5em">Condition Score:</label>
                                    <span class="insight-value" style="font-size:1.5em; font-weight:bold"> {{ structureInsights.RoofDetails.ConditionScore.Score }}</span>
                                </div>
                                <div>{{structureInsights.RoofDetails.ConditionScore.Description}}</div>
                            </div>
                        </div>
                        <!--Tabs-->
                        <div class="col-md-12 bottom-buffer">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" ng-class="showHighlightsBool ? 'active' : ''">
                                    <a href="#" aria-controls="highlights" role="tab" data-toggle="tab" ng-click="showHighlights()">Highlights</a>
                                </li>
                                <li role="presentation" ng-class="showAdditionalDetailsBool ? 'active' : ''">
                                    <a href="#" aria-controls="additionalDetails" role="tab" data-toggle="tab" ng-click="showAdditionalDetails()">Additional Details</a>
                                </li>
                                <li role="presentation" ng-class="showZillowHighlightsBool ? 'active' : ''">
                                    <a href="#" aria-controls="zillow" role="tab" data-toggle="tab" ng-click="showZillowHighlights()">Zillow</a>
                                </li>
                                <li role="presentation" ng-class="showYelpHighlightsBool ? 'active' : ''">
                                    <a href="#" aria-controls="yelp" role="tab" data-toggle="tab" ng-click="showYelpHighlights()">Yelp</a>
                                </li>
                                <li role="presentation" ng-if="fromDashboardCont" ng-class="showMapBool ? 'active' : ''">
                                    <a href="#" aria-controls="map" role="tab" data-toggle="tab" ng-click="showMap()">Map</a>
                                </li>
                            </ul>
                            <!--<div>
                                <button id="street-view-btn" ng-click="toggleStreetView()" style="position: absolute; margin-top: 10px; margin-right: -20px;">Building Street View</button>
                            </div>-->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade" id="highlights" ng-class="showHighlightsBool ? 'in active' : ''">
                                    <div>
                                        <!--General Info-->
                                        <div class="row" style="padding: 0px 20px; margin-bottom:20px">
                                            <div>
                                                <div style="margin-bottom:15px">
                                                    <h4 style="margin-bottom:5px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">General {{ '- ' + structureInsights.LongAddress }}</h4>
                                                    <!--<div class="pull-right" style="display: inline-block; margin-top: -37px;">
                                                        <button class="btn yellow-casablanca" style="margin-right:10px; height:28px;" ng-click="showMapcont()">
                                                            <span class="glyphicon glyphicon-map-marker"></span>
                                                            Map
                                                        </button>
                                                    </div>-->
                                                </div>
                                                <div class="col-md-6">
                                                    <div><label class="insight-label-md">Year Built:</label> <span class="insight-value"> {{ structureInsights.YearBuilt }}</span></div>
                                                    <div ng-if="structureInsights.RoofDetails.YearBuilt != 'Unknown'"><label class="insight-label-md">Roof Year:</label> <span class="insight-value"> {{ structureInsights.RoofDetails.YearBuilt }}</span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div><label class="insight-label-lg">Protection Class:</label> <span class="insight-value"> {{ structureInsights.ProtectionClass }}</span></div>
                                                    <div ng-if="structureInsights.RoofDetails.Shape != 'Non Applicable'"><label class="insight-label-lg">Roof Shape: </label><span class="insight-value"> {{ structureInsights.RoofDetails.Shape }}</span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div ng-if="structureInsights.RoofDetails.Age != 0"><label class="insight-label-md">Roof Age: </label><span class="insight-value"> {{ structureInsights.RoofDetails.Age }} </span></div>
                                                    <div ng-if="structureInsights.RoofDetails.Coverage != 'Non Applicable'"><label class="insight-label-md">Roof Coverage: </label><span class="insight-value"> {{ structureInsights.RoofDetails.Coverage }}</span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div tooltip="{{structureInsights.RoofDetails.AgeConfidenceDescription }}">
                                                        <label class="insight-label-lg">Roof Age Confidence:</label><span class="insight-value"> {{ structureInsights.RoofDetails.AgeConfidence }}</span>
                                                    </div>
                                                    <div ng-if="structureInsights.RoofDetails.AnchorType != 'Unknown'"><label class="insight-label-lg">Roof Anchor: </label><span class="insight-value"> {{ structureInsights.RoofDetails.AnchorType }}</span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div><label class="insight-label-lg">Square Feet: </label><span class="insight-value"> {{ structureInsights.SquareFeet }} </span></div>
                                                    <div ng-if="structureInsights.HasBasement != 'No'"><label class="insight-label-lg">Basement: </label><span class="insight-value"> {{ structureInsights.HasBasement }} </span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div><label class="insight-label-md">Construction: </label><span class="insight-value"> {{ structureInsights.Construction }}</span></div>
                                                    <div ng-if="structureInsights.IsElevated != 'No'"><label class="insight-label-md">Elevated: </label><span class="insight-value"> {{ structureInsights.IsElevated }} </span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div><label class="insight-label-lg">Property Crime: </label><span class="insight-value"> {{ structureInsights.PropertyCrime }}</span></div>
                                                    <div><label class="insight-label-lg">Number of Stories: </label><span class="insight-value"> {{ structureInsights.NumberOfStories }}</span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div><label class="insight-label-lg">Violent Crime: </label><span class="insight-value"> {{ structureInsights.ViolentCrime }}</span></div>
                                                    <div><label class="insight-label-lg">Distance to Coast: </label><span class="insight-value"> {{ structureInsights.DistanceToCoast }} mile(s)</span></div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div><label class="insight-label-lg">Latitude: </label><span class="insight-value"> {{ structureInsights.Latitude }}</span></div>
                                                    <div ng-if="structureInsights.Elevation != 'No Data'"><label class="insight-label-lg">Land Elevation: </label><span class="insight-value"> {{ structureInsights.Elevation }} ft.</span></div>
                                                    <div ng-if="structureInsights.Elevation == 'No Data'"><label class="insight-label-lg">Land Elevation: </label><span class="insight-value"> {{ structureInsights.Elevation }}</span></div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div><label class="insight-label-lg">Longitude: </label><span class="insight-value"> {{ structureInsights.Longitude }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Permits-->
                                        <div class="row" style="padding: 0px 20px">
                                            <div>
                                                <div style="margin-bottom:15px">
                                                    <h4 style="margin-bottom:5px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">Permits</h4>
                                                </div>

                                                <div class="col-sm-6" style="min-height: 153.82px; margin-bottom:10px" ng-repeat="permit in structureInsights.PermitSummaries">
                                                    <h4 class="modal-title" style="margin-bottom:5px; border-bottom:1px solid black;padding-bottom:5px; max-width:80%">
                                                        <img ng-if="permit.Name == 'Plumbing'" src="../../Content/img/icons8-piping-96.png" style="width:20px; margin-right:5px" />
                                                        <img ng-if="permit.Name == 'Electrical'" src="../../Content/img/icons8-electrical-96.png" style="width:20px; margin-right:5px" />
                                                        <img ng-if="permit.Name == 'Mechanical'" src="../../Content/img/icons8-air-quality-96.png" style="width:20px; margin-right:5px" />
                                                        <img ng-if="permit.Name == 'Building'" src="../../Content/img/icons8-real-estate-96.png" style="width:20px; margin-right:5px" />
                                                        <b>{{permit.Name}} Permits</b>
                                                    </h4>
                                                    <div ng-if="permit.EarliestDate != 'No data'">
                                                        <div><label class="insight-label-sm">Latest Date:</label> <span class="insight-value">{{ permit.LatestDate | date : "shortDate" }}</span></div>
                                                        <div ng-if="permit.LatestCost != 'No data'"><label class="insight-label-sm">Latest Cost:</label> <span class="insight-value">{{ permit.LatestCost | currency }}</span></div>
                                                        <div ng-if="permit.LatestCost == 'No data'"><label class="insight-label-sm">Latest Cost:</label> <span class="insight-value">{{ permit.LatestCost }}</span></div>
                                                        <div><label class="insight-label-sm">Earliest Date:</label><span class="insight-value"> {{ permit.EarliestDate | date : "shortDate" }}</span></div>
                                                        <div ng-if="permit.EarliestCost != 'No data'"><label class="insight-label-sm">Earliest Cost:</label><span class="insight-value"> {{ permit.EarliestCost | currency }}</span></div>
                                                        <div ng-if="permit.EarliestCost == 'No data'"><label class="insight-label-sm">Earliest Cost:</label><span class="insight-value"> {{ permit.EarliestCost }}</span></div>
                                                        <div><label class="insight-label-sm">Latest Description:</label><span class="insight-value"> {{ permit.Description }}</span></div>
                                                    </div>
                                                    <div ng-if="permit.EarliestDate == 'No data'">
                                                        No recent permit data found.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--Highlights-->
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="additionalDetails" ng-class="showAdditionalDetailsBool ? 'in active' : ''">
                                    <div>
                                        <input class="form-control" ng-model="detailsFilter" placeholder="Filter by category name..." />
                                    </div><!--Input-->
                                    <div style="height: 500px; overflow-x: hidden; overflow-y: auto;margin-top:10px;">
                                        <div ng-repeat="record in structureInsights.Records | orderBy: 'CategoryName' | filter:{ DisplayName: detailsFilter }">
                                            <h4 style="margin-bottom:5px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">
                                                {{record.DisplayName}}
                                            </h4>
                                            <div class="mouse-over-hover">
                                                <div ng-repeat="item in getRecordKeys(record)">
                                                    <label class="insight-label-sm" style="min-width:280px">{{getRecordItemName(item, record)}}</label>
                                                    <span class="insight-value">{{getRecordItemValue(item, record)}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--Repeat Records-->
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="zillow" ng-class="showZillowHighlightsBool ? 'in active' : ''">
                                    <div ng-if="ZillowErrors.length == 0" style="padding: 0px 0px 0px 0px; padding-left: 320px;">
                                        Provided via a Zillow API
                                    </div>
                                    <div ng-if="ZillowErrors.length == 0" style="padding: 0px 0px 0px 0px; padding-left: 290px;" tooltip="{{zillowZpid}}">
                                        <a href="{{zillowHomeDetailsUrl}}" target="_blank">
                                            <img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_200x50.gif" width="200" height="50"
                                                 alt="Zillow Real Estate Search" id="yui_3_18_1_1_1546533679956_302">
                                        </a>
                                    </div><!--Zillow Logo-->
                                    <div ng-if="ZillowErrors.length == 0" style="padding: 0px 10px 10px 0px; padding-left: 280px;">
                                        Data provided as is via the the Zillow API
                                    </div>
                                    <div ng-if="ZillowErrors.length == 0">
                                        <input class="form-control" ng-model="zillowDetailsFilter" placeholder="Filter by category name..." />
                                    </div><!--Zillow Filter-->
                                    <div>
                                        <div ng-if="ZillowErrors.length > 0">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="alert alert-info" style="margin-top: 10px; margin-bottom: 5px;">
                                                        <ul>
                                                            <li ng-repeat="error in ZillowErrors | unique">
                                                                {{error}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--Errors-->
                                    </div>
                                    <div ng-if="parcelsData.length <= 4" style="height: 500px; overflow-x: hidden; overflow-y: auto;margin-top:10px;">
                                        <div ng-repeat="record in parcelsData | orderBy: 'CategoryName' | filter:{ DisplayName: zillowDetailsFilter }">
                                            <h4 style="margin-bottom:5px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">
                                                {{record.DisplayName}}
                                            </h4>
                                            <div class="mouse-over-hover">
                                                <div ng-if="record.CategoryName === 'Area'" ng-repeat="area in record.Areas">
                                                    <label class="insight-label-sm" style="min-width:280px">{{getZillowRecordItemName(area.Type, area)}}</label>
                                                    <span class="insight-value">{{getZillowRecordItemValue(area.AreaSquareFeet, area)}} sq. ft</span>
                                                </div>
                                                <div ng-if="record.CategoryName !== 'Area'" ng-repeat="item in getRecordKeys(record)">
                                                    <label class="insight-label-sm" style="min-width:280px">{{getRecordItemName(item, record)}}</label>
                                                    <span class="insight-value">{{getRecordItemValue(item, record)}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--Zillow Records-->
                                    <div ng-if="parcelsData.length > 4" style="height: 500px; overflow-x: hidden; overflow-y: auto;margin-top:10px;">
                                        <div class="alert alert-info" style="margin-top: 10px; margin-bottom: 5px;">
                                            <ul>
                                                <li>
                                                    There are {{parcelsData.length/4}} results for this address
                                                </li>
                                            </ul>
                                        </div>
                                        <div ng-repeat="record in parcelsData | orderBy: ['BundleIndex','CategoryName'] | filter:{ DisplayName: zillowDetailsFilter }">
                                            <!--#1 OwnerName and Address-->
                                            <div ng-if="record.CategoryName === 'Area'" ng-repeat="name in record.OwnerName">
                                                <h4 style="margin-bottom:5px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">
                                                    Result {{record.BundleIndex}}
                                                    <br>
                                                    {{name}}
                                                    <br>
                                                    {{record.FullAddress}}
                                                </h4>
                                            </div>
                                            <h4 style="margin-bottom:5px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">
                                                {{record.DisplayName}}
                                            </h4>
                                            <div class="mouse-over-hover">
                                                <div ng-if="record.CategoryName === 'Area'" ng-repeat="area in record.Areas">
                                                    <label class="insight-label-sm" style="min-width:280px">{{getZillowRecordItemName(area.Type, area)}}</label>
                                                    <span class="insight-value">{{getZillowRecordItemValue(area.AreaSquareFeet, area)}} sq. ft</span>
                                                </div>
                                                <div ng-if="record.CategoryName !== 'Area'" ng-repeat="item in getRecordKeys(record)">
                                                    <label class="insight-label-sm" style="min-width:280px">{{getRecordItemName(item, record)}}</label>
                                                    <span class="insight-value">{{getRecordItemValue(item, record)}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!--If multiple Zillow Records-->
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="yelp" ng-class="showYelpHighlightsBool ? 'in active' : ''">
                                    <div>
                                        <div ng-if="YelpErrors.length > 0">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="alert alert-info" style="margin-top: 10px; margin-bottom: 5px;">
                                                        <ul>
                                                            <li ng-repeat="error in YelpErrors | unique">
                                                                {{error}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--Errors-->
                                        <div ng-if="YelpErrors.length == 0 && yelp !== null">
                                            <!--Title-->
                                            <div class="row" style="padding: 0px 20px">
                                                <div>
                                                    <div style="margin-bottom:15px">
                                                        <h4 style="margin-bottom:0px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">{{ yelp.BusinessDetail.Name + ' - ' + structureInsights.LongAddress }}</h4>
                                                        <h4></h4>
                                                    </div>
                                                    <div class="col-md-6" style="margin-top: 0px; margin-bottom: 5px;">
                                                        <div style="margin-top:0px;align-content:center;padding-bottom: 10px;">
                                                            <img align="middle" src="{{GetRatingImagePath(yelp.BusinessDetail.Rating)}}" style="width:130px; margin-right:5px" />
                                                            <label class="insight-label-sm">{{yelp.BusinessDetail.Review_Count}} Reviews</label>
                                                        </div>
                                                        <div>
                                                            <div><label class="yelp-insight-label-sm">Price:</label> <span class="insight-value">{{ yelp.BusinessDetail.Price }}</span></div>
                                                            <div><label class="yelp-insight-label-sm">Phone:</label> <span class="insight-value">{{ yelp.BusinessDetail.Display_Phone }}</span></div>
                                                            <div><label class="yelp-insight-label-sm">Open Now:</label> <span class="insight-value">{{ FormatBoolean(yelp.BusinessDetail.Hours[0].Is_Open_Now) }}</span></div>
                                                            <div><label class="yelp-insight-label-sm">Business Closed:</label> <span class="insight-value">{{ FormatBoolean(yelp.BusinessDetail.Is_Closed) }}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Hours-->
                                            <div class="row" style="padding: 0px 20px">
                                                <div>
                                                    <div style="margin-bottom:15px">
                                                        <h4 style="margin-bottom:5px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">Hours and Categories</h4>
                                                    </div>
                                                    <div class="col-md-6" style="margin-top: 0px; margin-bottom: 5px;">
                                                        <div ng-repeat="businessHour in yelp.BusinessHours">
                                                            <div><label class="yelp-insight-label-sm">{{getDayOfWeekByNumber(businessHour.Day)}}</label> <span class="insight-value">{{getTime(businessHour.Start)}} - {{getTime(businessHour.End)}}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="margin-top: 0px; margin-bottom: 5px;">
                                                        <div ng-repeat="category in yelp.Categories">
                                                            <label class="insight-label-sm">{{category}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Reviews-->
                                            <div class="row" style="padding: 0px 20px">
                                                <div>
                                                    <div style="margin-bottom:15px">
                                                        <h4 style="margin-bottom:5px;background-color:#0096db;border:#4f5a67;color:white;padding: 9px;">Reviews</h4>
                                                    </div>
                                                    <!--ng repeat-->
                                                    <div class="col-md-12" style="margin-top: 0px; margin-bottom: 5px;">
                                                        <div ng-repeat="review in yelp.Reviews">
                                                            <div style="align-content:center">
                                                                <img align="middle" src="{{GetRatingImagePath(review.Rating)}}" style="width:80px; margin-right:5px" />
                                                                <label class="insight-label-sm"> {{GetShortDate(review.Time_Created)}}</label>
                                                            </div>
                                                            <div>
                                                                <label class="insight-label-sm">{{review.User.Name}} </label>
                                                            </div>
                                                            <div style="padding-bottom: 15px">
                                                                <p>{{review.Text}}<a target="_blank" href="{{review.Url}}">more</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--Highlights-->
                                </div>
                                <!--Tab Map-->
                                <div ng-if="showMapBool">
                                    <div class="row clear">
                                        <div class="col-md-6" style="margin-top: 0px; left:10%">
                                            <div id="map_canvas" style="top:50%; left:1%; right: 50%; bottom:50%; width: 165%; height: 420px" tabindex="-1"></div>
                                        </div>
                                    </div><!--Tab Map-->
                                </div>
                                <!--Side Map-->
                                <div ng-if="showsidemap">
                                    <div class="row clear">
                                        <div class="col-md-6" style="margin-top: -600px; left:102%">
                                            <div style="background-color:white; padding:2px;">
                                                <div id="map_canvas" style="top:50%; left:0%; right: 50%; bottom:50%; width: 100%; height: 350px" tabindex="-1"></div>
                                            </div>
                                        </div>
                                    </div><!--Side Map-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-push">
        </div>
    </div>
</div>

<div class="modal-footer">
    <div>
        <button ng-if="viewReport && fromDashboardCont" id="modal-property-ok" type="button" class="btn btn-primary" ng-click="back()">Back</button>
        <button id="modal-property-close" type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button ng-if="fromDashboard" id="modal-property-ok" type="button" class="btn yellow-casablanca"
                ng-click="searchAddress()">
            Search
        </button>
        <!--<button id="modal-property-ok" type="button" class="btn btn-primary" ng-click="save()">Save</button>-->
    </div>
</div>