.modal-header {
    background-color: #0096db;
    border-bottom: 1px solid #eeeeee;
    color: #ffffff;
}

a.selected {
    color: #5b9bd1 !important;
}

.dropdown.dropup > .dropdown-menu, .dropdown-toggle.dropup > .dropdown-menu, .btn-group.dropup > .dropdown-menu {
    z-index: 999999;
}

.ui-datepicker {
    z-index: 999999 !important;
}

.select-box {
    position: relative;
    z-index: 1;
}

body > .ui-select-bootstrap {
    z-index: 99999 !important;
}

.hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.no-label {
    font-weight: inherit;
    font-size: inherit;
    display: inherit;
    margin-bottom: 0;
}

.checkbox-inline, .radio-inline {
    padding-left: 0;
}

table.tableSection {
    display: table;
    width: 100%;
}

    table.tableSection thead, table.tableSection tbody {
        float: left;
        width: 100%;
    }

    table.tableSection tbody {
        overflow: auto;
        height: 380px;
    }

    table.tableSection tr {
        width: 100%;
        display: table;
        text-align: left;
    }

    table.tableSection th, table.tableSection td {
        width: 33%;
    }

.table-pointer tr {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu-right {
    left: auto !important;
    right: 0 !important;
}

.ui-resizable-helper {
    border: 2px dotted gray;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: 0 !important;
    position: relative !important;
}


.pac-container {
    z-index: 999999 !important;
}


/* Check List Box*/
.check-listbox {
    border: 2px solid #ccc;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
}

    .check-listbox li {
        list-style: none;
        padding: 0px 5px;
        margin: 0;
        display: block;
    }

        .check-listbox li:hover {
            background-color: #e2e1dd;
        }

        .check-listbox li .checkbox {
            padding-left: 0;
        }

        .check-listbox li span {
            padding-left: 10px;
        }


        .check-listbox li label {
            display: block;
        }


.accordion-toggle {
    width: 100%;
    display: block;
}


div.hovering {
    background-color: #e2e1dd;
}


.disabled {
    cursor: not-allowed !important;
}

.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 55px !important;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
    width: 55px !important;
}

.page-sidebar .page-sidebar-menu > li > a > i {
    font-size: 24px;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
    float: left;
    margin: 11px 10px 0 0;
}

.pagination .active > a, .pagination .active > a:hover {
    background-color: #0096db;
    color: #fff;
}

.page-header.navbar .page-logo {
    width: 340px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #16216c;
}

.nav a {
    text-shadow: none;
    color: #2b3643;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
}

body.modal-open {
    overflow-x: hidden;
    overflow-y: hidden !important;
}

.user-bubble-team {
    background-color: #4bc8b5;
    border-radius: 18px !important;
    color: white !important;
    padding: 6px 7.1px 6px 7.1px;
    width: 45px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 1.03em;
}

.user-bubble-chat {
    background-color: rgb(13, 139, 226);
    border-radius: 15.5px !important;
    color: white !important;
    padding: 6px;
    display: inline-block;
    width: 31px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 1.03em;
}

.carrier-header, .question-header {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lato';
    margin-bottom: 10px;
    padding: 7px 0;
    background-color: #8c8d8e;
    color: white;
}

.carrier-header:hover {
    background-color: #e1e2dd;
    cursor: pointer;
    color: black;
}

.active.carrier-header, .active.question-header {
    background-color: #4bc8b5;
    color: white;
}

.declined.active.carrier-header, .declined.active.question-header {
    background-color: #e23b30 !important;
}

.safety.active.carrier-header, .safety.active.question-header {
    background-color: #5C9BD1 !important;
}

.box-bordered {
    border: 1px solid #4bc8b5 !important;
}

.focused-riskcompany > a {
    background-color: #4bc8b5 !important;
    color: white !important;
}

.declined.box-bordered {
    border: 1px solid #cb5a5e !important;
}

.declined.focused-riskcompany > a {
    background-color: #cb5a5e !important;
    color: white !important;
}

.safety.box-bordered {
    border: 1px solid #5C9BD1 !important;
}

.safety.focused-riskcompany > a {
    background-color: #5C9BD1 !important;
    color: white !important;
}

.property-option {
    color: #333333;
}

@keyframes blink {
    /**
    * At the start of the animation the dot
    * has an opacity of .2
    */
    0% {
        opacity: .2;
    }
    /**
    * At 20% the dot is fully visible and
    * then fades out slowly
    */
    20% {
        opacity: 1;
    }
    /**
    * Until it reaches an opacity of .2 and
    * the animation can start again
    */
    100% {
        opacity: .2;
    }
}

.loading span {
    /**
    * Use the blink animation, which is defined above
    */
    -webkit-animation-name: blink;
    -moz-animation-name: blink;
    -ms-animation-name: blink;
    -o-animation-name: blink;
    animation-name: blink;
    /**
    * The animation should take 1.4 seconds
    */
    -webkit-animation-duration: 1.4s;
    -moz-animation-duration: 1.4s;
    -ms-animation-duration: 1.4s;
    -o-animation-duration: 1.4s;
    animation-duration: 1.4s;
    /**
    * It will repeat itself forever
    */
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /**
    * This makes sure that the starting style (opacity: .2)
    * of the animation is applied before the animation starts.
    * Otherwise we would see a short flash or would have
    * to set the default styling of the dots to the same
    * as the animation. Same applies for the ending styles.
    */
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    font-weight: bolder;
    color: #51a47b;
}

    .loading span:nth-child(2) {
        /**
* Starts the animation of the third dot
* with a delay of .2s, otherwise all dots
* would animate at the same time
*/
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        -ms-animation-delay: .2s;
        -o-animation-delay: .2s;
        animation-delay: .2s;
    }

    .loading span:nth-child(3) {
        /**
* Starts the animation of the third dot
* with a delay of .4s, otherwise all dots
* would animate at the same time
*/
        -webkit-animation-delay: .4s;
        -moz-animation-delay: .4s;
        -ms-animation-delay: .4s;
        -o-animation-delay: .4s;
        animation-delay: .4s;
    }

#search-box {
    background-color: #2b3643;
}

.user-bubble-chat {
    background-color: rgb(13, 139, 226);
    border-radius: 15.5px !important;
    color: white !important;
    padding: 6px;
    display: inline-block;
    width: 31px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 1.03em;
}

.media-object {
    opacity: 1 !important;
}

.media {
    overflow: initial;
}

.media-object, .media-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.liability-ico {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../Content/img/liabilityico.png);
    background-size: 16px 16px;
    margin-right: 8px;
    margin-bottom: -3px;
}

#chartdiv{
    width: 100%;
    height: 550px;
}

@-webkit-keyframes am-moving-dashes {
    100% {
    stroke-dashoffset: -31px;
    }
}
@keyframes am-moving-dashes {
    100% {
    stroke-dashoffset: -31px;
    }
}


.lastBullet {
    -webkit-animation: am-pulsating 1s ease-out infinite;
    animation: am-pulsating 1s ease-out infinite;
}
@-webkit-keyframes am-pulsating {
    0% {
    stroke-opacity: 1;
    stroke-width: 0px;
    }
    100% {
    stroke-opacity: 0;
    stroke-width: 10px;
    }
}
@keyframes am-pulsating {
    0% {
    stroke-opacity: 1;
    stroke-width: 0px;
    }
    100% {
    stroke-opacity: 0;
    stroke-width: 10px;
    }
}

.amcharts-graph-column-front {
    -webkit-transition: all .3s .3s ease-out;
    transition: all .3s .3s ease-out;
}
.amcharts-graph-column-front:hover {
    fill: #496375;
    stroke: #496375;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.amcharts-graph-g0, .amcharts-graph-g1, .amcharts-graph-g2,
.amcharts-graph-g3, .amcharts-graph-g4, .amcharts-graph-g5,
.amcharts-graph-g6, .amcharts-graph-g7, .amcharts-graph-g8,
.amcharts-graph-g9, .amcharts-graph-g12 {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 500%;
    stroke-dasharray: 0 /;    /* fixes IE prob */
    stroke-dashoffset: 0 /;   /* fixes IE prob */
    -webkit-animation: am-draw 8s;
    animation: am-draw 8s;
}
@-webkit-keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
@keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}		

/* JACK'S */
.app-modal-window .modal-dialog {
	width: 800px;
}
/* END OF JACK'S */

.submissionSelected {
    background-color: #fbf7d0 !important;
    /*color: red !important;*/
}

.input-icon-overlay-container {
    position: relative;
}

.input-icon-overlay {
    position: absolute;
    top: 0;
    right: 10px;
    color: #cecece;
    padding: 5px;
    cursor: pointer;
}

.input-icon-overlay-selected {
    color: black;
}

.input-icon-overlay-field {
    padding-right: 40px !important;
}