<section>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/policyDashboard">Quote / Policy</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{Policy.Number}} Cancellation Endorsement</a>
            </li>
        </ul>
    </div>

    <div class="main-container">
        <div class="row">
            <div class="well well-sm col-sm-12" style="margin-bottom:10px; background-color:#16216c; border:#4f5a67;color:white">
                <span style="font-size:1.4em">Policy Information - {{Policy.PolicyNumber}}</span>
            </div>

            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Endorsement Number</strong></label>
                            <div class="col-md-4">
                                <input disabled type="text" class="form-control" ng-model="Policy.EndorsementNumber"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear:both">
            </div>

            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Insured</strong></label>
                            <div class="col-md-8" tooltip="{{Policy.InsuredName}}">
                                <div style="padding-top:10px;">{{Policy.InsuredName | limitTo:100 }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Effective Date</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.PolicyEffective | date: 'MM/dd/yyyy'  }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Full-Term Premium</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.TotalFullTermPremium | currency }}</div>
                            </div>
                        </div>

                        <!--Not showing Fees and Taxes right now-->
                        <!--<div class="form-group">
                            <label class="col-md-4 control-label"><strong>Total Fees</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.TotalFees | currency }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Total Taxes</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.TotalTaxes | currency }}</div>
                            </div>
                        </div>-->

                        <!--Commented out becuase TotalPremium is TotalPremiumAfterFeesAndTaxes-->
                        <!--<div class="form-group">
                            <label class="col-md-4 control-label"><strong>Policy Total</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.TotalPremium | currency }}</div>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Policy Total</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.TotalFullTermPremium | currency }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Policy Number</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.PolicyNumber }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Expiration Date</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.PolicyExpiration | date: 'MM/dd/yyyy'  }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>MEP</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.MinimumEarnedPremium }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="well well-sm col-sm-12" style="margin-bottom:10px; background-color:#16216c; border:#4f5a67;color:white">
                <span style="font-size:1.4em">Cancellation Information</span>
            </div>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label"><strong>Cancellation Reason</strong></label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="Policy.Reason" ng-disabled="Bound">
                                <option>Agency termination</option>
                                <option>Agent no longer represents broker</option>
                                <option>Bound in error</option>
                                <option>Carrier no longer writes this class of business</option>
                                <option>Change of exposure</option>
                                <option>Duplicate coverage</option>
                                <option>Failure to comply with audit conditions</option>
                                <option>Failure to comply with underwriting requirements</option>
                                <option>Increased hazard or material change in risk</option>
                                <option>Insured placed coverage elsewhere</option>
                                <option>Insured's request</option>
                                <option>Unacceptable loss history</option>
                                <option>Loss or reduction in available capacity</option>
                                <option>Material misrepresentation</option>
                                <option>No insurable interest</option>
                                <option>Non-payment of premium</option>
                                <option>Policy rewritten</option>
                                <option>Property sold</option>
                                <option>Risk does not meet eligibility</option>
                                <option>Risk is outside of binding authority</option>
                                <option>Risk is outside of Underwriting Guidelines</option>
                                <option>Unable to complete inspection</option>
                                <option>All other(s)</option>
                            </select>
                        </div>
                        <div class="col-md-offset-4 col-md-8" style="margin-top: 10px;" ng-if="Policy.Reason == 'Other'">
                            <textarea style="width: 100%" type="text" class="form-control" ng-model="Policy.Summary" ng-disabled="Bound"> </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"><strong>Requested By</strong></label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="Policy.RequestedBy" ng-disabled="Bound">
                                <option>ADDITIONAL INSURED/LIENHOLDER</option>
                                <option>AGENT/RETAIL BROKER</option>
                                <option>COMPANY/CARRIER</option>
                                <option>DEPARTMENT OF INSURANCE</option>
                                <option>EXECUTOR</option>
                                <option>FINANCE COMPANY</option>
                                <option>INSURED</option>
                                <option>MANAGING GENERAL AGENT</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"><strong>Cancellation Effective</strong></label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="Policy.EndorsementEffective" jqdatepickerendorsement ng-min-date="Policy.PolicyEffective" ng-max-date="Policy.PolicyExpiration" ng-blur="calculateCancellation(Policy, false)" datechange="calculateCancellation(Policy, true)" datebeforeshow="effectiveDateBeforeShow()" dateonclose="effectiveDateClosed()" ng-disabled="Bound" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" ng-if="isRated">
            <div class="well well-sm col-sm-12" style="margin-bottom:10px; background-color:#16216c; border:#4f5a67;color:white">
                <span style="font-size:1.4em">Cancellation Calculation</span>
            </div>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-group" ng-repeat="premium in Policy.PremiumBreakdowns | orderBy: 'Index'" ng-if="premium.Coverage != 'Fee' && premium.Coverage != 'Tax' && Policy.CancellationType != 'Manual'">
                        <label class="col-md-4 control-label"><strong>Fully Earned - {{premium.Coverage}}</strong></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="premium.FullyEarnedAmount" ng-disabled="Bound" ng-blur="calculateCancellation(Policy)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"><strong>Factor</strong></label>
                        <div class="col-md-4">
                            <span class="cancellation-label">{{Policy.DevelopedRate}}</span>
                        </div>
                        <div ng-if="Policy.CancellationType == 'Manual'">
                            <div class="col-md-4">
                                <input type="text" class="form-control" ng-model="Policy.Rate" placeholder="Adjust here/Leave blank if no adjustment" ng-disabled="Bound" ng-blur="calculateCancellation(Policy)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-repeat="premium in Policy.PremiumBreakdowns | orderBy: 'Index'" ng-if="premium.Coverage != 'Fee' && premium.Coverage != 'Tax'">
                        <label class="col-md-4 control-label"><strong>Premium - {{premium.Coverage}}</strong></label>
                        <div class="col-md-4">
                            <span class="cancellation-label"><span>(</span><span>{{premium.DevelopedAmount | currency }}</span><span>)</span></span>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group" ng-if="Policy.CancellationType == 'Manual'">
                                <input type="text" class="form-control" ng-model="premium.Amount" ng-disabled="Bound" ng-blur="calculateCancellation(Policy)" placeholder="Adjust here/Leave blank if no adjustment" />
                            </div>
                        </div>
                    </div>
                    <div style="font-weight: bold; font-size: 1.2em" ng-if="(Policy.PremiumBreakdowns | filter: {Coverage: 'Fee', PremiumType: 0}).length > 0">Fees</div>
                    <div class="form-group" ng-repeat="fee in Policy.PremiumBreakdowns | filter: {Coverage: 'Fee', PremiumType: 0} | orderBy:'Name'">
                        <label class="col-md-4 control-label"><strong>{{fee.Name }}</strong></label>
                        <div class="col-md-4">
                            <span class="cancellation-label"><span>(</span>{{fee.DevelopedAmount | currency }}<span>)</span></span>
                        </div>
                        <div class="col-md-4" ng-if="Policy.CancellationType == 'Manual'">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="fee.Amount" ng-disabled="Bound" ng-blur="calculateCancellation(Policy, false, fee)" placeholder="Adjust here/Leave blank if no adjustment" />
                            </div>
                        </div>
                    </div>
                    <div style="font-weight: bold; font-size: 1.2em">Taxes</div>
                    <div class="form-group" ng-repeat="tax in Policy.PremiumBreakdowns | filter: {Coverage: 'Tax', PremiumType: 0} | orderBy:'Name'">
                        <label class="col-md-4 control-label"><strong>{{tax.Name}}</strong></label>
                        <div class="col-md-4">
                            <span class="cancellation-label"><span></span><span>{{tax.DevelopedAmount | currency }}</span><span></span></span>
                        </div>
                        <div class="col-md-4" ng-if="Policy.CancellationType == 'Manual'">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="tax.Amount" ng-disabled="Bound" ng-blur="calculateCancellation(Policy, false, fee)" placeholder="Adjust here/Leave blank if no adjustment" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="font-weight: bold; font-size: 1.2em">Total Return</label>
                        <div class="col-md-4">
                            <span class="cancellation-label"><span></span><span>{{Policy.PremiumAfterFeesAndTaxes | currency }}</span><span></span></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Cancellation Type</label>
                            <div class="col-md-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="Policy.CancellationType" value="Flat Rate" ng-change="calculateCancellation(Policy)" ng-disabled="Bound">
                                       Flat
                                    </label>
                                </div>
                                <!--<div class="radio">
                                    <label>
                                        <input type="radio" ng-model="Policy.CancellationType" value="Manual" ng-change="calculateCancellation(Policy)" ng-disabled="Bound">
                                        Manual
                                    </label>
                                </div>-->

                                <div class="form-group" ng-if="Policy.CancellationType == 'Manual'">
                                    <label class="col-md-4 control-label"><strong>Reason</strong></label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="Policy.CancellationTypeManual" ng-change="calculateCancellation(Policy)" ng-disabled="Bound">
                                            <option>Pro-Rata</option>
                                            <option>Short-Rate</option>
                                            <option>Minimum Earned Premium</option>
                                            <option>Flat Rate</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--<label class="col-md-4 control-label" style="margin-top: 10px">Finance Chargeback?</label>
                            <div class="col-md-6" style="margin-top: 10px">
                                <div class="radio col-md-4" style="padding-left: 0px">
                                    <label>
                                        <input type="radio" ng-model="Policy.IsFinanceChargeBack" ng-value="true" ng-change="calculateCancellation(Policy)" ng-disabled="Bound">
                                        Yes
                                    </label>
                                </div>
                                <div class="radio col-md-4">
                                    <label>
                                        <input type="radio" ng-model="Policy.IsFinanceChargeBack" ng-value="false" ng-change="calculateCancellation(Policy)" ng-disabled="Bound">
                                        No
                                    </label>
                                </div>
                            </div>-->
                            <div ng-if="Policy.IsFinanceChargeBack">
                                <div class="col-md-12 row">
                                    <label class="row col-md-4 control-label" style="margin-top: 10px; margin-right: 10px; margin-left: 0px">Chargeback Amount </label>
                                    <div class="col-md-5" style="margin-top: 10px;">
                                        <input id="financeChargeBack" type="number" ng-model="Policy.FinanceChargeBackPremium" min="0.00" step="0.01" class="form-control" ng-blur="calculateCancellation(Policy)" ng-disabled="Bound" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="well well-sm col-sm-12" style="margin-bottom: 10px; background-color: #16216c; border: #4f5a67; color: white">
                <span style="font-size: 1.4em">Notes</span>
            </div>
            <div class="col-sm-12">
                <textarea ng-model="Policy.Notes" class="col-xs-12" style="height: 175px"></textarea>
            </div>
            <div class="col-sm-12" style="margin-top: 20px;">
                <button class="btn btn-default blue-steel pull-left" ng-click="backToDashboard()">Back To Dashboard</button>

                <div ng-if="!Bound && isRated">
                    <div class="btn-group pull-right dropup" role="group">
                        <button type="button" class="btn yellow-casablanca dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="bindCancellationEndorsement(false)">
                            Cancel Policy
                            <!--<span class="caret"></span>-->
                        </button>
                        <!--<ul class="dropdown-menu" style="margin-bottom: -15px;">
                            <li ng-click="confirmBindEndorsementContact()"><a href="#">Send to Agent</a></li>
                            <li ng-click="bindCancellationEndorsement(false)"><a href="#">Do not send to Agent</a></li>
                        </ul>-->
                    </div>
                </div>

                <!--<button class="btn btn-default btn-primary pull-right" ng-click="downloadCancellationEndorsement()" style="margin-right: 20px;" ng-show="!Bound && isRated">Preview Document</button>-->
                <button class="btn btn-default yellow-casablanca pull-right" ng-click="downloadEndorsement()" ng-show="Bound && isRated && canDownloadEndorsement()">Download Endorsement</button>
            </div>

            <div class="col-md-12" style="margin-top: 50px">
                <div class="alert alert-danger" ng-show="Errors.length > 0">
                    <h4>Oops...</h4>
                    <ul>
                        <li ng-repeat="error in Errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <script type="text/ng-template" id="confirmBindContact.html">
            <div class="modal-header">
                <h4 class="modal-title">Send to Contact</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            Send Endorsement info to the following
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label style="margin-top: 15px;">Contact Email</label>
                            <input type="text" class="form-control" ng-model="emailTo" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" ng-init="contactEmail" ng-disabled="parent.Policy.Bound" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label style="margin-top: 15px;">Contact Name</label>
                            <input type="text" class="form-control" ng-model="finalContactName" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" ng-init="contactName" ng-disabled="parent.Policy.Bound" />
                        </div>
                    </div>
                </div>

                <div class="modal-push">
                </div>
            </div>
            <div class="modal-footer">
                <div id="modalLiability_commands">
                    <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
                    <button type="button" class="btn yellow-casablanca" ng-click="add()">Bind</button>
                </div>
            </div>
            <div class="row" ng-show="Errors.length > 0" style="margin-top:10px">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul>
                            <li ng-repeat="error in Errors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </script>
    </div>
</section>