<section>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/policyDashboard">Quote / Policy</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{Policy.Number}} fee Endorsement</a>
            </li>
        </ul>
    </div>

    <div class="main-container">
        <div class="row">
            <div class="well well-sm col-sm-12" style="margin-bottom:10px; background-color:#0096db; border:#4f5a67;color:white">
                <span style="font-size:1.4em">Policy Information - {{Policy.PolicyNumber}}</span>
            </div>

            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Endorsement Number</strong></label>
                            <div class="col-md-4">
                                <input disabled type="text" class="form-control" ng-model="Policy.EndorsementNumber"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear:both">
            </div>

            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><strong>Policy Number</strong></label>
                            <div class="col-md-8">
                                <div style="padding-top:10px;">{{Policy.PolicyNumber}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="well well-sm col-sm-12" style="margin-bottom:10px; background-color:#0096db; border:#4f5a67;color:white">
                <span style="font-size:1.4em">Calculation</span>
            </div>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="form-group" ng-repeat="premium in Policy.PremiumBreakdowns | orderBy: 'Index'" ng-if="premium.Coverage != 'Fee' && premium.Coverage != 'Tax'">
                        <label class="col-md-4 control-label"><strong>Premium - {{premium.Coverage}}</strong></label>
                        <div class="col-md-4">
                            <span class="fee-label" style="display: block;margin-top: 8px;">{{premium.DevelopedAmount | currency }}</span>
                        </div>
                    </div>
                    <div style="font-weight: bold; font-size: 1.2em" ng-if="(Policy.PremiumBreakdowns | filter: {Coverage: 'Fee', PremiumType: 0}).length > 0">Fees</div>
                    <div class="form-group" ng-repeat="fee in Policy.PremiumBreakdowns | filter: {Coverage: 'Fee', PremiumType: 0} | orderBy:'Name'">
                        <label class="col-md-4 control-label"><strong>{{fee.Name }}</strong></label>
                        <div class="col-md-4">
                            <span class="fee-label" style="display: block;margin-top: 8px;">{{fee.DevelopedAmount | currency }}</span>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="fee.Amount" ng-disabled="Bound" ng-blur="calculateFeeEndorsement(Policy, false, fee)" placeholder="Adjust here/Leave blank if no adjustment" />
                            </div>
                        </div>
                    </div>
                    <div style="font-weight: bold; font-size: 1.2em">Taxes</div>
                    <div class="form-group" ng-repeat="tax in Policy.PremiumBreakdowns | filter: {Coverage: 'Tax', PremiumType: 0} | orderBy:'Name'">
                        <label class="col-md-4 control-label"><strong>{{tax.Name}}</strong></label>
                        <div class="col-md-4">
                            <span class="fee-label" style="display: block;margin-top: 8px;">{{tax.DevelopedAmount | currency }}</span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" ng-if="Policy.PremiumAfterFeesAndTaxes != 0">
                        <label class="col-md-4 control-label" ng-if="Policy.PremiumAfterFeesAndTaxes > 0" style="font-weight: bold; font-size: 1.2em">Total Additional</label>
                        <label class="col-md-4 control-label" ng-if="Policy.PremiumAfterFeesAndTaxes < 0" style="font-weight: bold; font-size: 1.2em">Total Return</label>
                        <div class="col-md-4">
                            <span class="fee-label" style="display: block;margin-top: 8px;">{{Policy.PremiumAfterFeesAndTaxes | currency }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="margin-top: 20px;">
                <button class="btn btn-default blue-steel pull-left" ng-click="backToDashboard()">Back To Dashboard</button>

                <div ng-show="!Bound && isRated">
                    <div class="btn-group pull-right dropup" role="group">
                        <button type="button" class="btn yellow-casablanca dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bind Endorsement
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="margin-bottom: -15px;">
                            <li ng-click="confirmBindEndorsementContact()"><a href="#">Send to Agent</a></li>
                            <li ng-click="bindFeeEndorsement(false)"><a href="#">Do not send to Agent</a></li>
                        </ul>
                    </div>
                </div>

                <button class="btn btn-default yellow-casablanca pull-right" ng-click="downloadEndorsement()" ng-show="Bound && isRated && canDownloadEndorsement()">Download Endorsement</button>
            </div>

            <div class="col-md-12" style="margin-top: 50px">
                <div class="alert alert-danger" ng-show="Errors.length > 0">
                    <h4>Oops...</h4>
                    <ul>
                        <li ng-repeat="error in Errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <script type="text/ng-template" id="confirmBindContact.html">
            <div class="modal-header">
                <h4 class="modal-title">Send to Contact</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            Send Endorsement info to the following
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label style="margin-top: 15px;">Contact Email</label>
                            <input type="text" class="form-control" ng-model="emailTo" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" ng-init="contactEmail" ng-disabled="parent.Policy.Bound" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label style="margin-top: 15px;">Contact Name</label>
                            <input type="text" class="form-control" ng-model="finalContactName" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" ng-init="contactName" ng-disabled="parent.Policy.Bound" />
                        </div>
                    </div>
                </div>

                <div class="modal-push">
                </div>
            </div>
            <div class="modal-footer">
                <div id="modalLiability_commands">
                    <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
                    <button type="button" class="btn yellow-casablanca" ng-click="add()">Bind</button>
                </div>
            </div>
            <div class="row" ng-show="Errors.length > 0" style="margin-top:10px">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul>
                            <li ng-repeat="error in Errors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </script>
    </div>
</section>