<section class="content" ng-if="App">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/policyDashboard">Quote / Policy</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{ App.Name }} App</a>
            </li>
        </ul>
    </div>

    <div class="main-container">

        <div ui-view>
        </div>
    </div>
</section>