<section>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/policyDashboard">Quote / Policy</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">{{EndorsementRecord.PolicyNumber}} Pay Endorsement</a>
            </li>
        </ul>
    </div>

    <div class="main-container">
        <div class="modal-header">
            <h4 class="modal-title">{{EndorsementRecord.PolicyNumber}} Endorsement Payment</h4>
        </div>
        <div class="modal-body" id="form-body">
            <!-- PAYMENT -->
            <div class="alert alert-success" ng-show="success">
                <h4><strong>Transaction Success!</strong></h4>
                <span>Click 'Back To Dashboard' to return...</span>
            </div>
            <div ng-show="!success" class="row" style="padding-left: 15px; padding-right: 15px;">
                <div>
                    <hr />
                    <h3>Pay</h3>
                    <hr />
                    <div class="col-xs-6" style="font-size: 1.2em">
                        <div class="form-group" style="border-top: 1px solid #dddddd; padding-top: 15px; padding-bottom: 15px">
                            <label class="col-xs-5" style="padding-left: 2px">
                                <input type="radio" ng-model="Payment.PaymentOption" value="Full"><span style="margin-right: 20px; width: 100px">Pay In-Full</span>
                            </label>
                            <div class="col-xs-4" style="margin-top: -10px">
                                <div style="font-weight: bold; margin-top: 10px"><span style="display: inline-block; width: 190px">Total </span><span class="text-success">{{EndorsementRecord.PremiumAfterFeesAndTaxes | currency}}</span></div>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div style="min-height: 700px;" ng-if="Payment.PaymentOption != null">
                        <div class="panel panel-default credit-card-box" style="width: 700px; margin: 10px auto">
                            <div class="panel-heading display-table" style="width: 100%">
                                <div class="row display-tr">
                                    <div class="display-td" style="float: right">
                                        <img src="../../../../../../Content/img/accepted_c22e0.png" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                    <div class="col-xs-7">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="cardNumber">CARD NUMBER</label>
                                                    <input ng-model="Payment.CreditCard.Number"
                                                           class="form-control"
                                                           name="cardNumber"
                                                           placeholder="Valid Card Number"
                                                           autocomplete="cc-number"
                                                           required autofocus />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="">EXPIRATION</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group col-xs-6" style="padding: 0 4px 0 0;">
                                                    <label for="">Month</label>
                                                    <select class="form-control" ng-model="Payment.CreditCard.ExpirationDateMonth" placeholder="Month">
                                                        <option>01</option>
                                                        <option>02</option>
                                                        <option>03</option>
                                                        <option>04</option>
                                                        <option>05</option>
                                                        <option>06</option>
                                                        <option>07</option>
                                                        <option>08</option>
                                                        <option>09</option>
                                                        <option>10</option>
                                                        <option>11</option>
                                                        <option>12</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-xs-6" style="padding: 0 4px 0 0;">
                                                    <label for="">Year</label>
                                                    <select class="form-control" ng-model="Payment.CreditCard.ExpirationDateYear" ng-options="year for year in Years" placeholder="Year">
                                                        <option>Year</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 pull-right">
                                                <div class="form-group">
                                                    <label for="cardCVC">CVV2 CODE</label>
                                                    <input ng-model="Payment.CreditCard.Code"
                                                           class="form-control"
                                                           name="cardCVC"
                                                           placeholder="CVC"
                                                           autocomplete="cc-csc"
                                                           required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input ng-model="Payment.FirstName"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="First Name" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input ng-model="Payment.LastName"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Last Name" />
                                                </div>
                                            </div>
                                            <div style="clear: both"></div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label>Street Address</label>
                                                    <input ng-model="Payment.StreetAddress"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Street Address" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input ng-model="Payment.City"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="City" />
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label>Zip</label>
                                                    <input ng-model="Payment.Zip"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="Zip" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <div class="form-group">
                                                    <label>AMOUNT</label>
                                                    <input class="form-control" ng-disabled="true" ng-value="EndorsementRecord.CreditFullTotal | currency" ng-if="Payment.PaymentOption == 'Full'" />
                                                </div>
                                            </div>

                                            <div style="clear: both"></div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label class="" style="margin-top: 25px; font-size: 1em;" ng-if="Payment.PaymentOption == 'Full'"><span>* {{EndorsementRecord.CreditFullFee | currency}}</span><button style="padding: 0 6px;" class="btn btn-link" ng-click="showConvenienceFee()">credit card processing fee</button><span> included.</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <img src="../../../../../../Content/img/creditCardvisa.png" style="float: right" />
                                            </div>
                                            <div class="col-xs-12" style="margin-top: 10px">
                                                <img src="../../../../../../Content/img/creditCardamex.png" style="float: right" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" ng-show="PaymentErrors.length > 0">
                        <h4>Oops...</h4>
                        <ul>
                            <li ng-repeat="error in PaymentErrors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button class="btn btn-primary pull-left" ng-click="downloadEndorsement()">Download Endorsement Doc</button>
                <button type="button" class="btn btn-default" ng-click="close()">Back To Dashboard</button>

                <div ng-if="!success">
                    <div class="btn-group pull-right dropup" role="group">
                        <button type="button" class="btn yellow-casablanca dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pay &amp; Bind
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="margin-bottom: -15px;">
                            <li ng-click="confirmBindEndorsementContact()"><a href="#">Send to Agent</a></li>
                            <li ng-click="payAndBind(false)"><a href="#">Do not send to Agent</a></li>
                        </ul>
                    </div>
                </div>

                <!--<button type="button" class="btn yellow-casablanca" ng-if="!success" ng-click="payAndBind()">Pay &amp; Bind</button>-->
            </div>
        </div>
    </div>
    <div>
        <script type="text/ng-template" id="confirmBindContact.html">
            <div class="modal-header">
                <h4 class="modal-title">Send to Contact</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            Send Endorsement info to the following
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label style="margin-top: 15px;">Contact Email</label>
                            <input type="text" class="form-control" ng-model="emailTo" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" ng-init="contactEmail" ng-disabled="parent.Policy.Bound" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label style="margin-top: 15px;">Contact Name</label>
                            <input type="text" class="form-control" ng-model="finalContactName" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" ng-init="contactName" ng-disabled="parent.Policy.Bound" />
                        </div>
                    </div>
                </div>

                <div class="modal-push">
                </div>
            </div>
            <div class="modal-footer">
                <div id="modalLiability_commands">
                    <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
                    <button type="button" class="btn yellow-casablanca" ng-click="add()">Bind</button>
                </div>
            </div>
            <div class="row" ng-show="Errors.length > 0" style="margin-top:10px">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul>
                            <li ng-repeat="error in Errors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </script>
    </div>
</section>