
.insight-conditional-score {
    margin-bottom: 10px;
}

.insight-label-sm {
    font-weight: bold;
    min-width: 100px;
}

.yelp-insight-label-sm {
    font-weight: bold;
    min-width: 130px;
}

.insight-label-md {
    font-weight: bold;
    min-width: 170px;
}

.insight-label-lg {
    font-weight: bold;
    min-width: 170px;
}

.insight-value {
}


.mouse-over-hover :hover {
    background-color: #cccccc;
}

.mouse-over-hover > div{
    padding:5px;
}