<!--Content-->
<section class="content">
    <!--Page Bar: Start-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/agentrequests">Agent Requests</a>
            </li>
        </ul>
    </div>
    <!--Page Bar: End-->    
    <!--Container: Start-->
    <div class="row">
        <div class="col-md-12 bottom-buffer">
            <!--Portlet-->
            <div class="portlet box blue-soft" style="border-bottom: none; border-left: none; border-right: none; margin-bottom: 0">
                <!--Title-->
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-clipboard"></i>Agent Requests</div>
                </div>
                <!--Refresh Button-->
                <div class="portlet-body" style="padding-left: 0; padding-right: 0; padding-bottom: 0">
                    <div class="page-bar" style="margin: 0">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="refresh()">
                                    <i class="fa fa-refresh margin-right"></i>Refresh
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tabs-->
            <div class="portlet-title" style="padding-top: 10px;">
                <ul class="nav nav-tabs pull-left">
                    <li ng-class="{ 'active': isOnTab(TabTypeEnum.SUBMISSIONS) }">
                        <a data-toggle="tab" href="#" ng-click="gotoTab(TabTypeEnum.SUBMISSIONS)">Submissions</a>
                    </li>
                    <li ng-class="{ 'active': isOnTab(TabTypeEnum.SUBMITS) }">
                        <a data-toggle="tab" href="#" ng-click="gotoTab(TabTypeEnum.SUBMITS)">Submits</a>
                    </li>
                    <li ng-class="{ 'active': isOnTab(TabTypeEnum.BIND_REQUESTS) }">
                        <a data-toggle="tab" href="#" ng-click="gotoTab(TabTypeEnum.BIND_REQUESTS)">Bind Requests</a>
                    </li>
                </ul>
            </div>
            <!--Search Bar-->
            <div class="row">
                <div class="col-md-3 pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="pageInfo.searchString" placeholder="Search by submission number or named insured..." />

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <!--Table-->
            <div>
                <!--Header-->
                <table class="table table-stats table-condensed table-striped" ng-if="pageInfo.items.length > 0">
                    <!--Submissions-->
                    <thead ng-if="isOnTab(TabTypeEnum.SUBMISSIONS)">
                        <tr>
                            <th style="width: 10%">Number</th>
                            <th style="width: 20%">Insured</th>
                            <th style="width: 10%">Coverage</th>
                            <th style="width: 10%">Effective</th>
                            <th style="width: 15%">Agency</th>
                            <th style="width: 10%">Agency ID</th>
                            <th style="width: 10%">Quoted By</th>
                            <th style="width: 10%">Premium</th>
                            <th style="width: 5%"></th>
                        </tr>
                    </thead>
                    <!--Submits-->
                    <thead ng-if="isOnTab(TabTypeEnum.SUBMITS)">
                        <tr>
                            <th style="width: 10%">Number</th>
                            <th style="width: 20%">Insured</th>
                            <th style="width: 10%">Coverage</th>
                            <th style="width: 10%">Effective</th>
                            <th style="width: 15%">Agency</th>
                            <th style="width: 10%">Agency ID</th>
                            <th style="width: 10%">Quoted By</th>
                            <th style="width: 10%">Premium</th>
                            <th style="width: 5%"></th>
                        </tr>
                    </thead>
                    <!--Bind Requests-->
                    <thead ng-if="isOnTab(TabTypeEnum.BIND_REQUESTS)">
                        <tr>
                            <th style="width: 10%">Number</th>
                            <th style="width: 20%">Insured</th>
                            <th style="width: 5%">Coverage</th>
                            <th style="width: 10%">Effective</th>
                            <th style="width: 10%">Agency</th>
                            <th style="width: 10%">Agency ID</th>
                            <th style="width: 10%">Requested On</th>
                            <th style="width: 10%">Requested By</th>
                            <th style="width: 10%">Premium</th>
                            <th style="width: 5%"></th>
                        </tr>
                    </thead>
                </table>
                <!--Body-->
                <table class="table table-stats table-condensed table-striped">
                    <!--Submissions-->
                    <tbody ng-if="isOnTab(TabTypeEnum.SUBMISSIONS)">
                        <tr ng-repeat="item in pageInfo.items" style="padding-bottom: 10px">
                            <td style="width: 10%; padding-bottom: 15px">
                                <a href="#" ng-click="openPolicy(item)">{{item.SubmissionNumber}}</a>
                            </td>
                            <td style="width: 20%; padding-bottom: 15px">{{item.NamedInsured | limitTo: 100}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.Coverage}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.EffectiveDate | date: 'MM/dd/yyyy'}}</td>
                            <td style="width: 15%; padding-bottom: 15px">{{item.AgencyName | limitTo: 100}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.AgencyCode}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.QuotedOrRequestedBy}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.Premium | currency: '$': 0}}</td>
                            <td style="width: 5%;  padding-bottom: 15px">
                                <!--Dropdown Menu-->
                                <div class="btn-group dropdown">
                                    <button class="btn btn-default dropdown-toggle btn-xs"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" ng-click="copyPolicy(item)">Copy to New Submission</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!--Submits-->
                    <tbody ng-if="isOnTab(TabTypeEnum.SUBMITS)">
                        <tr ng-repeat="item in pageInfo.items" style="padding-bottom: 10px">
                            <td style="width: 10%; padding-bottom: 15px">
                                <a href="#" ng-click="openPolicy(item)">{{item.SubmissionNumber}}</a>
                            </td>
                            <td style="width: 20%; padding-bottom: 15px">{{item.NamedInsured | limitTo: 100}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.Coverage}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.EffectiveDate | date: 'MM/dd/yyyy'}}</td>
                            <td style="width: 15%; padding-bottom: 15px">{{item.AgencyName | limitTo: 100}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.AgencyCode}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.QuotedOrRequestedBy}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.Premium | currency: '$': 0}}</td>
                            <td style="width: 5%;  padding-bottom: 15px">
                                <!--Dropdown Menu-->
                                <div class="btn-group dropdown">
                                    <button class="btn btn-default dropdown-toggle btn-xs"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" ng-click="clearSubmit(item)">Clear</a></li>
                                        <li role="separator" class="divider" style="margin: 0px"></li>
                                        <li><a href="#" ng-click="copyPolicy(item)">Copy to New Submission</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!--Bind Requests-->
                    <tbody ng-if="isOnTab(TabTypeEnum.BIND_REQUESTS)">
                        <tr ng-repeat="item in pageInfo.items" style="padding-bottom: 10px">
                            <td style="width: 10%; padding-bottom: 15px">
                                <a href="#" ng-click="openPolicy(item)">{{item.SubmissionNumber}}</a>
                            </td>
                            <td style="width: 20%; padding-bottom: 15px">{{item.NamedInsured | limitTo: 100}}</td>
                            <td style="width:  5%; padding-bottom: 15px">{{item.Coverage}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.EffectiveDate | date: 'MM/dd/yyyy'}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.AgencyName | limitTo: 100}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.AgencyCode}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.RequestedDate | date: 'MM/dd/yyyy'}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.QuotedOrRequestedBy}}</td>
                            <td style="width: 10%; padding-bottom: 15px">{{item.Premium | currency: '$': 0}}</td>
                            <td style="width: 5%;  padding-bottom: 15px">
                                <!--Dropdown Menu-->
                                <div class="btn-group dropdown">
                                    <button class="btn btn-default dropdown-toggle btn-xs"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-cog"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#" ng-click="clearBindRequest(item)">Clear</a></li>
                                        <li role="separator" class="divider" style="margin: 0px"></li>
                                        <li><a href="#" ng-click="copyPolicy(item)">Copy to New Submission</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12">
                        <!--Message that shows if there are no policies on the page.-->
                        <div role="alert" class="alert alert-warning alert-dismissible fade in" ng-if="isPageLoaded() && pageInfo.items.length == 0">
                            <span>{{getWarningMessage()}}</span>
                        </div>
                        <!--Errors-->
                        <div role="alert" class="alert alert-danger alert-dismissible fade in" ng-if="errors.length > 0">
                            <h4>Oops...</h4>
                            <ul><li ng-repeat="error in errors">{{error}}</li></ul>
                        </div>
                    </div>
                </div>
                <!--Pagination-->
                <div class="text-center" ng-if="pageInfo.items.length > 0">
                    <pagination class="pagination-sm" boundary-links="false" total-items="pageInfo.totalItems" items-per-page="pageInfo.itemsPerPage"
                                max-size="pageInfo.maxSize" ng-model="pageInfo.onPage" ng-change="onPageChanged()">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
    <!--Container: End-->
</section>

<!--Model: Select Coverage-->
<script type="text/ng-template" id="showPolicyCoverage.html">
    <!--Header-->
    <div class="modal-header">
        <h4 class="modal-title">Select Coverage</h4>
    </div>
    <!--Body-->
    <div class="modal-body">
        <div class="row">
            <!--AIM Submission-->
            <div class="col-md-12">
                <div class="form-group">
                    <label>AIM Submission Number <span style="font-size:0.8em">(Optional; import submission setup from AIM)</span></label>
                    <input class="form-control input-sm" ng-model="aimSubmissionNumber" placeholder="Leave blank if none." />
                </div>
            </div>
            <!--Coverage Selection-->
            <div class="col-md-12">
                <div class="form-group">
                    <label>Select Coverages</label>
                    <ul class="check-listbox">
                        <li ng-repeat="coverage in coverageTypes | orderBy: 'Name'">
                            <div style="margin: 5px">
                                <label><input type="checkbox" checklist-model="coverageSelected" checklist-value="coverage">{{coverage}}</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Errors-->
            <div class="row" ng-if="errors.length > 0">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" style="margin-top:10px;">
                        <ul><li ng-repeat="error in errors">{{error}}</li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-push"></div>
    <!--Footer-->
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn yellow-casablanca" ng-click="save()">OK</button>
    </div>
</script>
