<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Agent Activity</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>


<div class="row">
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <h2>Agent Activity</h2>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <label for="effectiveDate" class="control-label">From</label>
                </span>
                <input type="text" class="form-control " id="effectiveDate" ng-model="Effective" jqdatepicker />
                <span class="input-group-addon">
                    <label for="expirationDate" class="control-label">To</label>
                </span>
                <input type="text" class="form-control " id="expirationDate" ng-model="To" jqdatepicker />
                <span class="input-group-btn">
                    <button class="btn yellow-casablanca" ng-click="requestReport()" type="button" ng-disabled="Effective == null || To == null">
                    <span class="fa fa-download" style="margin-right:10px"></span>Request Report</button>
                </span>
            </div>
        </div>
        <div>
            <div class="portlet box blue-soft" style="border-bottom: none; border-left: none; border-right: none; margin-bottom: 0;">
                <h3 class="blue-soft" style="color:white; padding-top: 10px; padding-left: 10px; padding-bottom: 10px;">Description</h3>
            </div>
            <p style="font-size:16px;">
                This report provides a list of quotes and policies created through the agency portal by your team’s agent base.
                It provides a way for you to monitor agent activity and follow up on outstanding quotes.
                The date range captures quotes created and policies bound within the given period.
            </p>
        </div>
    </div>
</div>
