<div class="page-quick-sidebar">
    <div class="nav-justified">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-list" id="chat-sidebar" style="position: relative; overflow: hidden; width: auto; height: 875px;">
                    <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list" data-height="875" style="overflow: hidden; width: auto; height: 875px;" data-initialized="1">
                        <h3 class="list-heading">Team Members</h3>
                        <ul class="media-list list-items">
                            <li class="media" ng-click="openChat(teamMember)" ng-repeat="teamMember in TeamMembers | teamMemberOrderBy">
                                <div class="media-status">
                                    <span class="badge badge-danger" ng-if="(Messages | filter:{ SenderId: teamMember.Id } | filter:{ Unread: true }).length > 0">{{(Messages | filter:{ SenderId: teamMember.Id } | filter:{ Unread: true }).length}}</span>
                                </div>
                                <div class="media-object">
                                    <div class="user-bubble-chat">{{teamMember.FirstName[0] + "" + teamMember.LastName[0]}}</div>
                                    <i class="fa fa-circle" style="position: relative; left: -13px; top: 11px; display: inline;" ng-class="teamMember.ConnectionId ? 'font-green' : 'font-red'" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{teamMember.FirstName + " " + teamMember.LastName}}</h4>
                                    <div class="media-heading-sub">{{teamMember.OfficeName}}</div>
                                </div>
                            </li>
                        </ul>
                        <h3 class="list-heading">Online - {{OnlineUsers.length}}</h3>
                        <ul class="sidebar-search-wrapper" style="padding-left: 10px;" ng-if="!isDrBOL">
                            <form class="sidebar-search sidebar-search-bordered">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="search-box" placeholder="Search..." ng-model="UserFilterTerm" style="color: white">
                                    <span class="input-group-btn">
                                        <a href="javascript:;" class="btn submit" style="position: relative; left: -40px; top: 1px; color: white">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </span>
                                </div>
                            </form>
                        </ul>
                        <ul class="sidebar-search-wrapper" style="padding-left: 10px;" ng-if="isDrBOL">
                            <form class="sidebar-search sidebar-search-bordered">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="search-box" placeholder="Send Global Message..." ng-model="globalMessage" style="color: white">
                                    <span class="input-group-btn">
                                        <a ng-click="sendGlobalMessage(globalMessage)" href="javascript:;" class="btn submit" ngstyle="position: relative; left: -40px; top: 1px; color: white">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </span>
                                </div>
                            </form>
                        </ul>
                        <ul class="media-list list-items">
                            <li class="media" ng-click="openChat(onlineUser)" ng-repeat="onlineUser in OnlineUsers | userFilter : MyId : TeamMembers: Messages : UserFilterTerm">
                                <div class="media-status">
                                    <span class="badge badge-danger" ng-if="(Messages | filter:{ SenderId: onlineUser.Id } | filter:{ Unread: true }).length > 0">{{ (Messages | filter:{ SenderId: onlineUser.Id } | filter:{ Unread: true }).length}}</span>
                                </div>
                                <div class="media-object">
                                    <div class="user-bubble-chat">{{onlineUser.FirstName[0] + "" + onlineUser.LastName[0]}}</div>
                                    <i class="fa fa-circle" style="position: relative; left: -13px; top: 11px; display: inline;" ng-class="onlineUser.ConnectionId ? 'font-green' : 'font-red'" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{onlineUser.FirstName + " " + onlineUser.LastName}}</h4>
                                    <div class="media-heading-sub">{{onlineUser.OfficeName}}</div>
                                    <!--<div class="media-heading-small"> Last seen 03:10 AM </div>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 875px;"></div>
                    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(221, 221, 221); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
                <div class="page-quick-sidebar-item">
                    <div class="page-quick-sidebar-chat-user">
                        <div class="page-quick-sidebar-nav">
                            <div>
                                <a ng-click="closeChat()" href="javascript:;" class="page-quick-sidebar-back-to-list">
                                    <i class="icon-arrow-left"></i>Back
                                </a>
                                <span class="pull-right" ng-if="!CurrentUser.ConnectionId">USER OFFLINE</span>
                            </div>
                            <div style="text-align: center; margin-top: 10px; margin-bottom: 8px; font-size: 1.2em;">
                                {{CurrentUser.FirstName + ' ' + CurrentUser.LastName}}
                            </div>
                        </div>
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 770px;">
                            <div class="page-quick-sidebar-chat-user-messages" data-height="770" style="overflow: hidden; width: auto; height: 770px;" data-initialized="1">
                                <div ng-class="message.SenderId == MyId ? 'out' : 'in'" class="post" ng-repeat="message in (Messages | messageFilter: CurrentUser.Id : MyId : UserName) track by $index">
                                    <div ng-if="message.SenderId != MyId">
                                        <div class="avatar" style="margin-left: 8px;">
                                            <div style="height: 30px;" class="user-bubble-chat">{{CurrentUser.FirstName[0] + "" + CurrentUser.LastName[0]}}</div>
                                        </div>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="#" class="name"></a>
                                            <span>{{message.Timestamp | date : 'M/d/yy h:mm a'}}</span>
                                            <span class="body" style="color: white">{{message.Message}}</span>
                                        </div>
                                    </div>
                                    <div ng-if="message.SenderId == MyId">
                                        <div class="avatar">
                                            <span style="height: 30px;" class="user-bubble-chat">{{MyInitials}}</span>
                                        </div>
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="#" class="name"></a>
                                            <span>{{message.Timestamp | date : 'M/d/yy h:mm a'}}</span>
                                            <span class="body" style="color: white">{{message.Message}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 770px;"></div>
                            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                        <div class="page-quick-sidebar-chat-user-form">
                            <div class="loading" style="font-size: 1.0em; margin-top: -18px;" ng-show="CurrentUser.Status">
                                {{CurrentUser.FirstName}} is {{CurrentUser.Status}}<span>.</span><span>.</span><span>.</span>
                            </div>
                            <div class="input-group">
                                <input id="message-input" type="text" class="form-control" placeholder="Type a message here..." ng-disabled="!CurrentUser.ConnectionId" ng-keyup="keyPress($event.keyCode, Package.Message)" ng-model="Package.Message">
                                <div class="input-group-btn">
                                    <button type="button" class="btn green" style="color: white !important;" ng-disabled="!CurrentUser.ConnectionId" ng-click="sendMessage(Package.Message)">
                                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>