<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>

<div class="col-sm-12" style="width: 20%; text-align: left; margin-top: 10px;">
    <div class="portlet light">
        <img class="img-responsive center-block" src="../Content/img/guidelines-logo.png">
    </div>
</div>

<div class="col-sm-12">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-home font-yellow-casablanca" style="font-size: 20px;"></i>
                <span class="caption-subject bold font-yellow-casablanca uppercase" style="font-size: 20px;"> Welcome </span>
            </div>
            <div class="actions">
            </div>
        </div>
        <div class="portlet-body">
            <p style="font-size:1.25em; text-align:left; text-justify:inter-word;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum ornare felis id pulvinar. Praesent in viverra libero, sit amet imperdiet massa. Vestibulum auctor tristique fermentum. Duis vitae elit felis. Maecenas finibus erat vel orci finibus tincidunt. Integer quis nulla ante. Phasellus malesuada commodo lorem.
            </p>
            <p style="font-size:1.25em; text-align:left; text-justify:inter-word;">
                Sed volutpat, nibh quis blandit imperdiet, massa est elementum velit, eu bibendum odio orci sit amet libero. Praesent et eros ligula. Donec ultricies faucibus tincidunt. Phasellus porta metus id eros interdum semper. Suspendisse euismod sagittis nunc a lacinia. Proin rutrum diam ac erat pretium, non tempus orci placerat. Praesent in lorem ac ex euismod varius. Ut tempus nec risus id vulputate.
            </p>
        </div>

    </div>
    <!-- END Portlet PORTLET-->
</div>