<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">EDM Risk Report</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <h2>EDM Risk Report</h2>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <label for="effectiveDate" class="control-label">Effective From</label>
                </span>
                <input type="text" class="form-control " id="effectiveDate" ng-model="Report.EffectiveFrom" jqdatepicker />
                <span class="input-group-addon">
                    <label for="expirationDate" class="control-label">To</label>
                </span>
                <input type="text" class="form-control " id="expirationDate" ng-model="Report.EffectiveTo" jqdatepicker />
                <span class="input-group-btn">
                    <button class="btn yellow-casablanca" ng-click="requestReport()" type="button" ng-disabled="!canDownloadReport()">
                    <span class="fa fa-download" style="margin-right:10px"></span>Request Report</button>
                </span>
            </div>
        </div>

        <div class="alert alert-danger" ng-show="Errors.length > 0">
            <h3 style="margin-top: 0;">Oops...</h3>
            <ul ng-repeat="error in Errors">
                <li>{{error}}</li>
            </ul>
        </div>

        <!--<div>
            <div class="portlet box blue-soft" style="border-bottom: none; border-left: none; border-right: none; margin-bottom: 0;">
                <h4 class="blue-soft" style="color:white; padding-top: 10px; padding-left: 10px; padding-bottom: 10px;">Description</h4>
            </div>
            <p style="font-size:16px;">
                Blah blah blah...
            </p>
        </div>-->
    </div>
</div>

<div class="row" style="margin-bottom: 5px;">
    <div class="col-sm-12">
        <h3>States</h3>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Please select the states to be included in the report:</label>
            <ul class="check-listbox">
                <li ng-repeat="state in States | orderBy: 'Index'">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checklist-model="Report.States" checklist-value="state.Code">
                            {{state.Name}}
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <button class="btn btn-default" ng-click="selectStates(true)">Select All States</button>
        <button class="btn btn-default" ng-click="selectStates(false)">Clear State Selection</button>
    </div>
    <div class="col-sm-6"></div>
</div>

<div class="row" style="margin-bottom: 5px;">
    <div class="col-sm-12">
        <h3>Brokers</h3>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Please select the brokers that you want to see contracts for:</label>
            <ul class="check-listbox">
                <li ng-repeat="broker in Brokers | orderBy: 'toString()'">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checklist-model="Report.Brokers" checklist-value="broker">
                            {{broker}}
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn btn-default" ng-click="getMarkets()" ng-disabled="Report.Brokers.length == 0">Get Markets</button>
    </div>
    <div class="col-sm-6"></div>
</div>

<div class="row" style="margin-bottom: 5px;" ng-if="Markets.length > 0">
    <div class="col-sm-12">
        <h3>Markets</h3>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label>Please select the markets that you want to see on the bordereaux:</label>
            <ul class="check-listbox">
                <li ng-repeat="market in Markets | orderBy: ['Name', 'Contract']">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checklist-model="Report.Markets" checklist-value="market.Contract">
                            {{market.Name}} - {{market.Contract}}
                        </label>
                    </div>
                </li>
            </ul>
        </div>

        <button class="btn btn-default" ng-click="selectMarkets(true)">Select All Markets</button>
        <button class="btn btn-default" ng-click="selectMarkets(false)">Clear Market Selection</button>
    </div>
    <div class="col-sm-6"></div>
</div>
