<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Manual</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12" style="margin-bottom: 30px">
        <img class="img-responsive center-block" src="../Content/img/GPSlogo.png" />
    </div>
</div>

<div class="row profile-account">
    <div class="col-md-3">
        <ul class="ver-inline-menu tabbable margin-bottom-10">
            <li ng-class="{ 'active' : tabIndex == 0 }">
                <a data-toggle="tab" aria-expanded="true" ng-click="tabIndex = 0">
                    <i class="fa fa-question-circle"></i> FAQ
                </a>
                <span class="after"> </span>
            </li>
            <li ng-class="{ 'active' : tabIndex == 1 }">
                <a data-toggle="tab" aria-expanded="false" ng-click="tabIndex = 1">
                    <i class="fa fa-picture-o"></i> Change Avatar
                </a>
            </li>
            <li ng-class="{ 'active' : tabIndex == 2 }">
                <a data-toggle="tab" aria-expanded="false" ng-click="tabIndex = 2">
                    <i class="fa fa-lock"></i> Change Password
                </a>
            </li>
            <li ng-class="{ 'active' : tabIndex == 3 }">
                <a data-toggle="tab" aria-expanded="false" ng-click="tabIndex = 3">
                    <i class="fa fa-eye"></i> Privacity Settings
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div ng-show="tabIndex == 0" class="tab-pane" ng-class="{ 'active' : tabIndex == 0 }">
                <iframe src="Views/Company/Gridiron/Manual/GPS FAQ page.pdf#zoom=100"
                        style="width:100%;height:800px" frameborder="1"></iframe>
            </div>
            <div ng-show="tabIndex == 1" class="tab-pane" ng-class="{ 'active' : tabIndex == 1 }">
                <iframe src="Views/Company/Gridiron/Manual/GPS FAQ page.pdf#zoom=100"
                        style="width:100%;height:800px" frameborder="1"></iframe>
            </div>
            <div ng-show="tabIndex == 2" class="tab-pane" ng-class="{ 'active' : tabIndex == 2 }">
                <iframe src="Views/Company/Gridiron/Manual/GPS FAQ page.pdf#zoom=100"
                        style="width:100%;height:800px" frameborder="1"></iframe>
            </div>
            <div ng-show="tabIndex == 3" class="tab-pane" ng-class="{ 'active' : tabIndex == 3 }">
                <iframe src="Views/Company/Gridiron/Manual/GPS FAQ page.pdf#zoom=100"
                        style="width:100%;height:800px" frameborder="1"></iframe>
            </div>
        </div>
    </div>
    <!--end col-md-9-->
</div>