<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/Organization">Organizations</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-warning"></i> Organization Information
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Organization Name</label>
                                    <input type="text" class="form-control" ng-model="Organization['Name']">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Organization Url</label>
                                    <input type="text" class="form-control" ng-model="Organization['UniqueUrl']">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label>Login Logo</label>
                            <input type="file" ngf-select="" ng-model="loginLogo" name="file" accept="'image/*'" ngf-pattern="'image/*'">
                            <img ng-src="{{'data:image/png;base64,' + Organization['LoginLogo']}}" />
                        </div>

                        <div class="col-sm-3">
                            <label>Page Logo</label>
                            <input type="file" ngf-select="" ng-model="pageLogo" name="file" accept="'image/*'" ngf-pattern="'image/*'">
                            <img ng-src="{{'data:image/png;base64,' + Organization['PageLogo']}}"/>
                        </div>

                        <div class="col-sm-3">
                            <label>Page Favicon</label>
                            <input type="file" ngf-select="" ng-model="favicon" name="file" accept="'image/*'" ngf-pattern="'image/*'">
                            <img ng-src="{{'data:image/png;base64,' + Organization['Favicon']}}" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right" style="margin-top: 10px">
                                <button class="btn btn-success btn-sm" ng-click="save()">
                                    <i class="fa fa-save margin-right"></i>Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->