#modalLocation {
}

label {
    font-size: 1em;
}

hr {
    margin: 2px;
}

/* Tooltip */
.tooltip table td {
    padding-right: 10px;
}

.tooltip .tooltip-inner {
    text-align: left;
    max-width: none;
}


div .blue-steel {
    background-color: #4B77BE;
}

    div .blue-steel .btn {
        color: #fff;
    }

        div .blue-steel .btn:hover {
            color: #fff;
        }

/* For landscape layouts only */
.modal-tablet {
    display: block !important;
    height: 100% !important;
    left: 0 !important;
    margin: 0 !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
}

    .modal-tablet .modal-footer {
        padding-top: 0;
    }


#location-address {
    font-size: 1.2em;
}

.modal-large > .modal-dialog {
    width: 1200px;
}


@media (max-width: 767px) {
    #modalLocation {
        max-height: 600px;
    }

        #modalLocation .modal-body {
            height: 450px !important;
            overflow-y: auto !important;
        }
    /* Small screen*/
    .modal-tablet {
        display: block !important;
        height: 100% !important;
        left: 0 !important;
        margin: 0 !important;
        position: fixed !important;
        right: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }

        .modal-tablet .modal-footer {
            padding-top: 0;
        }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For landscape layouts only */
    .modal-tablet {
        display: block !important;
        height: 98% !important;
        left: 0 !important;
        margin: 0 !important;
        position: fixed !important;
        right: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }

        .modal-tablet .modal-footer {
            padding-top: 0;
        }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    .modal-tablet .modal {
        display: block !important;
        height: 98% !important;
        left: 0 !important;
        margin: 0 !important;
        position: fixed !important;
        right: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }

    .modal-tablet .modal-footer {
        padding-top: 0;
    }
}

.insight-conditional-score {
    margin-bottom: 10px;
}

.insight-label-sm {
    font-weight: bold;
    min-width: 100px;
}

.yelp-insight-label-sm {
    font-weight: bold;
    min-width: 130px;
}

.insight-label-md {
    font-weight: bold;
    min-width: 120px;
}

.insight-label-lg {
    font-weight: bold;
    min-width: 170px;
}

.insight-value {
}