<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/contracts">Contracts</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/Eligibility">Eligibilities {{Contract.Name}}</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer" ng-show="newEligibility == false">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-book-open"></i>Eligibilities {{Contract.Name}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewEligibility()">
                                    <i class="fa fa-plus margin-right"></i>New Eligibility
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="searchName" ng-change="searchNameChanged()" placeholder="Search for eligibilities...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="searchEligibilities(Contract.Id, searchName, 0, 0)"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Description</th>
                                <th>Enabled</th>
                                <th>Trigger</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="eligibility in Eligibilities">
                                <td>{{$index+1}}</td>
                                <td>{{eligibility.Description}}</td>
                                <td ng-if="eligibility.Enabled" style="padding-left: 25px"><span class="glyphicon glyphicon-ok"></span></td>
                                <td ng-if="!eligibility.Enabled" style="padding-left: 25px"><span  class="glyphicon glyphicon-remove"></span></td>
                                <td>{{eligibility.Trigger}}</td>
                                <td>{{eligibility.ActionType == 0 ? 'On Rate' : 'On Bind' }}</td>
                                <td style="text-align: right">
                                    <button class="btn default margin-right" type="button" ng-click="selectEligibility(eligibility)">Edit</button>
                                    <button class="btn default margin-right" type="button" ng-click="copyEligibility(eligibility)">Copy</button>
                                    <button class="btn default" type="button" ng-click="deleteEligibility(eligibility)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center" ng-show="TotalPages > 1">
                        <pagination boundary-links="false" total-items="TotalEligibilities" items-per-page="10" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" rotate="false"></pagination>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 bottom-buffer" ng-show="newEligibility == true">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-book-open"></i> Eligibility
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" ng-model="Eligibility.Description">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Coverage</label>
                                    <ui-select ng-model="Eligibility.CoverageId"
                                               theme="bootstrap"
                                               reset-search-input="false"
                                               append-to-body="true">
                                        <ui-select-match placeholder="Pick a coverage">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="value.Id as value in Coverages"
                                                           refresh-delay="0">
                                            <div ng-bind-html="value.Name | highlight: $select.search">
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Trigger</label>
                                    <select class="form-control" ng-model="Eligibility.Trigger">
                                        <option value="Decline">Decline</option>
                                        <option value="Submit">Submit</option>
                                        <option value="Eligible">Eligible</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Action</label>
                                    <select class="form-control" ng-model="Eligibility.ActionType">
                                        <option value="0">On Rate</option>
                                        <option value="1">On Bind</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>EffectiveDate</label>
                                    <input class="form-control" ng-model='Eligibility.EffectiveDate' jqdatepicker />
                                </div>
                            </div>
                        </div>

                        <div style="clear: both"></div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="Eligibility.Wind">
                                            Wind
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="checkbox-list">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="Eligibility.Enabled">
                                            Enabled
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Conditions</label>
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" ng-click="newConditionalGroup()">New Condition Group </button>
                                        </div>
                                    </div>

                                    <accordion close-others="true">
                                        <accordion-group ng-repeat="group in Eligibility.Conditions | orderBy: 'Name'">
                                            <accordion-heading>
                                                {{group.Name}}
                                            </accordion-heading>

                                            <div class="row">
                                                <div class="col-sm-1 pull-left">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <button class="btn btn-primary pull-left" ng-click="copyConditionGroup(group, Eligibility)">Copy Condition Group</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row" ng-repeat="condition in group.Conditions | orderBy: 'ConditionName'">
                                                <div ng-include src="'views/contracts/ContractConditions.html'"></div>

                                                <div class="col-sm-1 pull-right">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <button class="btn btn-danger" ng-click="deleteCondition(condition, group)" ng-mouseenter="hoverParent($event,true)" ng-mouseleave="hoverParent($event,false)" ng-if="group[0] != condition" style="margin-top:25px">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <button class="btn btn-warning" ng-click="newCondition(group)">And Condition</button>
                                                            <button class="btn btn-danger pull-right" ng-click="deleteGroup(group, Eligibility.Conditions)">Delete Group</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div role="alert" class="alert alert-danger alert-dismissible fade in" ng-show="Errors.length > 0">
                                <ul>
                                    <li ng-repeat="error in Errors">{{error}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="pull-right" style="margin-top: 10px">
                                <button class="btn btn-danger btn-sm" ng-click="cancelEligibility()">
                                    <i class="fa fa-ban margin-right"></i>Cancel
                                </button>
                                <button class="btn btn-success btn-sm" ng-click="saveEligibility()">
                                    <i class="fa fa-save margin-right"></i>Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="copyEligibility.html">
    <div class="modal-header">
        <h4 class="modal-title">Copy Eligibility</h4>
    </div>

    <div class="modal-body">
        <!-- Contract (Selection) -->
        <div class="row form-group">
            <label class="col-md-3 control-label" style="margin-top: 7px; text-align: right">Contract</label>
            <div class="col-md-9">
                <ui-select ng-model="selectedContract.value"
                           theme="bootstrap"
                           reset-search-input="false"
                           append-to-body="true">
                    <ui-select-match placeholder="Select a contract to copy to.">{{getContractInsurerAndNumber($select.selected)}}</ui-select-match>
                    <ui-select-choices repeat="contract in contracts">
                        <div ng-bind-html="getContractInsurerAndNumber(contract) | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        
        <!-- Errors -->
        <div class="row" ng-show="errors.length > 0">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <h4>Oops...</h4>
                    <ul><li ng-repeat="error in errors">{{error}}</li></ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn yellow-casablanca" ng-click="copy()">Copy</button>
    </div>
</script>

<!-- /.content -->
