<!-- Main content -->
<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="#/dashboard">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/contracts">Contracts</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/RatingQuestion">Questions {{Contract.Name}}</a>
            </li>
        </ul>
    </div>


    <div class="row">
        <div class="col-md-12 bottom-buffer" ng-show="newRatingQuestion == false">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-book-open"></i>Questions {{Contract.Name}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="page-bar">
                        <div class="page-toolbar">
                            <div class="btn-group pull-right">
                                <button class="btn btn-fit-height yellow-casablanca" type="button" ng-click="addNewRatingQuestion()">
                                    <i class="fa fa-plus margin-right"></i>New Rating Question
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="searchName" ng-change="searchNameChanged()" placeholder="Search for questions...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="searchRatingQuestions(Contract.Id, searchName, 0, 0)"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Question</th>
                                <th>Coverage</th>
                                <th>Answer</th>
                                <th>Rate</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ratingQuestion in RatingQuestions">
                                <td>{{$index+1}}</td>
                                <td>{{ratingQuestion.Question | limitTo: 150}}</td>
                                <td>{{(Coverages | filter: { Id: ratingQuestion.CoverageId })[0].Name}}</td>
                                <td>{{ratingQuestion.Answer}}</td>
                                <td>{{ratingQuestion.Rate}}</td>
                                <td style="text-align: right">
                                    <button class="btn default margin-right" type="button" ng-click="selectRatingQuestion(ratingQuestion)">Edit</button>
                                    <button class="btn default" type="button" ng-click="deleteRatingQuestion(ratingQuestion)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center" ng-show="TotalPages > 1">
                        <pagination boundary-links="false" total-items="TotalRatingQuestions" items-per-page="10" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" rotate="false"></pagination>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 bottom-buffer" ng-show="newRatingQuestion == true">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-book-open"></i> Rating Question
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Question</label>
                                    <input type="text" class="form-control" ng-model="RatingQuestion.Question">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Coverage</label>
                                    <ui-select ng-model="RatingQuestion.CoverageId"
                                               theme="bootstrap"
                                               reset-search-input="false"
                                               append-to-body="true">
                                        <ui-select-match placeholder="Pick a coverage">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="value.Id as value in Coverages"
                                                           refresh-delay="0">
                                            <div ng-bind-html="value.Name | highlight: $select.search">
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="checkbox-list" style="margin-top: 30px;">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="RatingQuestion.Wind">
                                            Wind
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Answer</label>
                                    <select class="form-control" ng-model="RatingQuestion.Answer">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Rate Type</label>
                                    <select class="form-control" ng-model="RatingQuestion.RateType">
                                        <option value="0">Rate</option>
                                        <option value="1">Factor Multiple</option>
                                        <option value="2">Factor Load</option>
                                        <option value="3">Flat Charge</option>
                                        <option value="4">Flat Charge Factor Multiple</option>
                                        <option value="5">Flat Charge Factor Load</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input type="text" class="form-control" ng-model="RatingQuestion.Rate">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label style="font-weight:bold">Apply To Limits:</label>
                            <div class="col-sm-12" ng-repeat="value in Limits">
                                <label>
                                    <input type="checkbox" checklist-model="RatingQuestion.Limits" checklist-value="value"> {{value}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-body">
                                <div class="form-group">
                                    <label>Conditions</label>
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" ng-click="newConditionalGroup()">New Condition Group </button>
                                        </div>
                                    </div>

                                    <accordion close-others="true">
                                        <accordion-group ng-repeat="group in RatingQuestion.Conditions | orderBy: 'GroupIndex'">
                                            <accordion-heading>
                                                {{group.Name}}
                                            </accordion-heading>

                                            <div class="row" ng-repeat="condition in group.Conditions | orderBy: 'Index'">
                                                <div ng-include src="'views/contracts/ContractConditions.html'"></div>

                                                <div class="col-sm-1 pull-right">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <button class="btn btn-danger" ng-click="deleteCondition(condition, group)" ng-mouseenter="hoverParent($event,true)" ng-mouseleave="hoverParent($event,false)" ng-if="group[0] != condition" style="margin-top:25px">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <button class="btn btn-warning" ng-click="newCondition(group)">And Condition</button>
                                                            <button class="btn btn-danger pull-right" ng-click="deleteGroup(group, RatingQuestion.Conditions)">Delete Group</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right" style="margin-top: 10px">
                                <button class="btn btn-danger btn-sm" ng-click="cancelRatingQuestion()">
                                    <i class="fa fa-ban margin-right"></i>Cancel
                                </button>
                                <button class="btn btn-success btn-sm" ng-click="saveRatingQuestion()">
                                    <i class="fa fa-save margin-right"></i>Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->
