
#spinner tr:first-child {
    display: none;
}

#spinner tr:last-child {
    display: none;
}

.ui-datepicker{
    z-index:9999 !important;
}


.cancellation-label {
    padding-top: 7px;
    display: inline-block;
    padding-left: 4px;
    font-size: 1.2em;
}