
<div class="row" ng-show="parent.Policy.Endorsement == null">
    <!--<div class="col-md-8">
        <form name="form" class="form-horizontal" role="form" id="submission-form" style="margin-top: 30px;">
            <div class="form-group">
                Retail Licensed Agent Name
                <div class="form-group">
                    <label class="col-sm-4 control-label">Licensed Agent Name<span style="color: red;"> *</span></label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Enter Licensed Agent Name" ng-model="parent.Policy.AgencyDetail.LicensedAgentName" class="form-control" ng-disabled="!parent.canModify(false)">
                    </div>
                </div>
                Retail Licensed Agent Phone
                <div class="form-group">
                    <label class="col-sm-4 control-label">Licensed Agent Phone<span style="color: red;"> *</span></label>
                    <div class="col-sm-8">
                        <input type="tel" placeholder="Enter Licensed Agent Phone" ng-model="parent.Policy.AgencyDetail.LicensedAgentPhone" class="form-control" ng-disabled="!parent.canModify(false)">
                    </div>
                </div>
                Retail Licensed Agent Email
                <div class="form-group">
                    <label class="col-sm-4 control-label">Licensed Agent Email<span style="color: red;"> *</span></label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="Enter Licensed Agent Email" ng-model="parent.Policy.AgencyDetail.LicensedAgentEmail" class="form-control" ng-disabled="!parent.canModify(false)">
                    </div>
                </div>
            </div>
        </form>
    </div>-->
    <div class="col-md-8">
        <div class="form-group" style="margin-top: 30px;">
            <h4><strong>Underwriting Requirements</strong></h4>
            <textarea class="form-control" ng-model="parent.Policy.CurrentVersion.Subjectivities" style="height: 158px; resize: none;" ng-disabled="true"></textarea>
        </div>
    </div>
    <div class="col-md-4">
        <div style="margin-top: 30px;">
            <div style="margin-top: 2px; padding: 9px 8px 8px 8px; background-color: #16216c; color: white;"><strong>{{(RiskCompanies | filter : { Id : parent.Policy.CurrentVersion.FocusedRiskCompanyId })[0].Name}}</strong></div>
            <table class="table table-condensed-tight" style="margin-top: 10px;">
                <tbody id="premium-details-table" ng-repeat="premium in parent.Policy.CurrentVersion.Premiums" ng-if="premium.RiskCompanyId == parent.Policy.CurrentVersion.FocusedRiskCompanyId">
                    <tr>
                        <td style="padding-left:4px;padding-right:4px;font-size:1.1em"><strong>Total Premium</strong></td>
                        <td style="padding-left:4px;padding-right:4px;font-size:1.1em"><strong>{{premium.PremiumAfterFeesAndTaxes | currency}}</strong></td>
                    </tr>
                    <tr ng-repeat="breakdown in premium.Breakdown | orderBy:'Index'">
                        <td style="padding:4px">{{breakdown.Name}}</td>
                        <td style="padding:4px">{{breakdown.Amount | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group" style="margin-bottom: 5px;">
            <label class="control-label" ng-if="LateBind.IsLateBind || LateBind.IsForcedLateBind">
                <input type="checkbox" ng-disabled="!parent.canModify()" ng-model="LateBind.UserHasAcknowledged" ng-change="updateApprovedByField()" class="col-md-1">
                <span style="padding-left: 10px;" class="col-md-11">I have received carrier approval for this bind request and printed the correspondence into the file.</span>
            </label>
        </div>
        <div class="form-group" ng-if="LateBind.IsLateBind || LateBind.IsForcedLateBind">
            <label for="BusinessDescription" class="control-label">Late Bind Approved By<span style="color: red;"> *</span></label>
            <div style="margin-bottom: 12px;">
                <input type="text" class="form-control" placeholder="Enter Name" ng-disabled="!parent.canModify() || parent.Policy.Endorsement != null || !LateBind.UserHasAcknowledged" ng-model="parent.Policy.LateBindApprovedBy" />
            </div>
        </div>

        <div style="clear: both" ng-show="InfoMessages.length > 0" class="alert alert-info">
            <ul>
                <li ng-repeat="message in InfoMessages">
                    {{message}}
                </li>
            </ul>
        </div>

        <div style="clear: both" ng-show="ErrorList.length > 0">
            <div class="alert alert-danger" role="alert">
                <ul>
                    <li ng-repeat="error in ErrorList">
                        {{error}}
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear: both" ng-show="ValidationErrorList.length > 0">
            <div class="alert alert-danger" role="alert">
                <ul>
                    <li ng-repeat="error in ValidationErrorList">
                        {{error}}
                    </li>
                </ul>
            </div>
        </div>
        
        <label ng-if="isNyQuote() && AffidavitCSigned" class="control-label col-md-12" style="text-align: right;">
            Affidavit C Signed and Uploaded.
        </label>

        <div class="col-md-12" ng-show="canBind">
            <button class="btn yellow-casablanca pull-right" ng-click="saveChanges()" ng-show="parent.Policy.CurrentVersion.Premiums.length > 0" ng-if="checkForBindErrors().length > 0">Save</button>

            <button class="btn yellow-casablanca pull-right" ng-click="confirmRenewal(false)" ng-show="parent.Policy.CurrentVersion.Premiums.length > 0" ng-if="parent.Policy.CurrentVersion.Premiums.length > 0 && checkForQuoteErrors().length == 0 && checkForBindErrors().length == 0 && !parent.Policy.Issued && !parent.Policy.Bound && !parent.PolicyInWorkflow() && (!isNyQuote() || (isNyQuote() && AffidavitCSigned))">Save &amp; Bind</button>

            <button class="btn yellow-casablanca pull-right" ng-click="confirmIssue(false)" ng-show="parent.Policy.CurrentVersion.Premiums.length > 0" ng-if="parent.Policy.CurrentVersion.Premiums.length > 0 && checkForQuoteErrors().length == 0 && checkForBindErrors().length == 0 && !parent.Policy.Issued && parent.Policy.Bound && !parent.PolicyInWorkflow() && (!isNyQuote() || (isNyQuote() && AffidavitCSigned))">Save &amp; Bind</button>
 
            <button class="btn yellow-casablanca pull-right" ng-click="uploadAffidavitC()" ng-show="parent.Policy.CurrentVersion.Premiums.length > 0" ng-if="parent.Policy.CurrentVersion.Premiums.length > 0 && checkForQuoteErrors().length == 0 && checkForBindErrors().length == 0 && !parent.Policy.Issued && !parent.PolicyInWorkflow() && (isNyQuote() && !AffidavitCSigned)">Upload Affidavit C</button>
        </div>

        <div ng-show="!canBind">
            <button class="btn yellow-casablanca pull-right" ng-click="saveChanges()" ng-show="parent.Policy.CurrentVersion.Premiums.length > 0">Save</button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <!-- Form Required To Bind (NY Quotes only) -->
            <div class="col-md-4" ng-if="false">
                <div class="form-group">
                    <h4><strong>Form Required to Bind</strong></h4>
                    <div class="panel panel-default">
                        <form>
                            <div class="panel-body">
                                <!-- Affidavit C -->
                                <div class="col-md-12" style="padding: 0;">
                                    <div class="col-md-4">
                                        <label class="control-label" style="margin: 0;">
                                            Affidavit C<br />
                                            <span style="font-size: smaller; font-weight: normal;">
                                                (<a href="https://eefs.elany.org/eefs/aff/PartCLicense.xhtml" target="_blank">Click here</a> to fill out form.)
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-sm" ng-model="getDocument('Affidavit C').FileName"
                                               placeholder="Click 'Browse' to upload a document." readonly="readonly" />
                                        <input type="file" id="file-1" name="file-1" style="width: 1px; visibility: hidden;"
                                               accept="application/pdf" onchange="angular.element(this).scope().onFileUploaded(this, 'Affidavit C')" />
                                    </div>
                                    <div class="col-md-2" style="padding: 0;">
                                        <label class="btn btn-sm btn-success" ng-if="parent.canModify(false)" ng-click="uploadFile('file-1')">
                                            <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Browse
                                        </label>
                                        <label class="btn btn-sm yellow-casablanca" ng-if="!parent.canModify(false)" ng-click="downloadDocument('Affidavit C')">
                                            <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: 10px;">
                                    <span style="color: #a94442; font-size: 0.8em;">*Disable pop-up blocker if using Elany fill-in website.</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-if="!isNyQuote()"></div>
        </div>
    </div>
</div>

<div class="row" ng-if="parent.Policy.Endorsement != null && EndorsementRecord !=null">
    <div class="col-sm-6" style="margin: 0 auto; width: 600px; display: block; float: none;">
        <form class="form-horizontal" style="margin-top: 30px;">
            <div class="form-group">
                <label for="EndorsementEffective" class="col-sm-4 control-label" style="text-align: left; font-weight: bold">Endorsement Effective</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control " id="EndorsementEffective" ng-model="EndorsementRecord.EndorsementEffective" jqdatepickerterm datechange="endorsementEffectiveDateChanged()" ng-disabled="!parent.canModify(false)" />
                </div>
            </div>
        </form>


        <div class="alert alert-info" role="alert" style="font-size: 1.2em; margin-top: 30px;" ng-if="EndorsementRecord.IsMinimumPremiumChange">
            <div>
                The system has detected this is a minimum premium policy. You may need to manually calculate developed premium, please adjust the below premium accordingly.
            </div>
            <div style="clear: both"></div>
        </div>

        <table class="table table-condensed-tight" style="margin-top: 30px;" ng-if="EndorsementRecord.DevelopedReturnPremium > 0">
            <thead>
                <tr>
                    <th colspan="3" style="text-align:center">Return Premium</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong> </strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Developed</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>User Adjusted</strong></td>
                </tr>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Pro-Rata Factor</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">{{EndorsementRecord.DevelopedRate}}</td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">
                        <!--<input class="form-control input-sm" ng-model="EndorsementRecord.Rate" placeholder="Adjust Rate Here" ng-blur="updateEndorsementPremium()" ng-if="!parent.Policy.Issued" />
                        <div ng-if="parent.Policy.Issued">{{EndorsementRecord.Rate}}</div>-->
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Premium</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">{{EndorsementRecord.DevelopedReturnedPremium | currency}}</td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">
                        <input class="form-control input-sm" data-mask="#" ng-model="EndorsementRecord.ReturnedPremium" placeholder="Adjust Premium Here" ng-blur="updateEndorsementPremium()" ng-if="parent.canModify(false)" />
                        <div ng-if="!parent.canModify(false)">{{EndorsementRecord.ReturnedPremium | currency}}</div>
                    </td>
                </tr>
                <tr ng-repeat="breakdown in EndorsementRecord.parent.Policy.CurrentVersion.Premiums | orderBy:'Index'" ng-if="breakdown.PremiumType == 2 && breakdown.Name != 'Additional Premium' && breakdown.Name != 'Return Premium' && breakdown.Name != 'Premium'">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>{{breakdown.Name}}</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">{{breakdown.Amount | currency}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Total Return Premium</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>{{EndorsementRecord.ReturnPremiumAfterFeesAndTaxes | currency}}</strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div ng-show="parent.canModify(false) || EndorsementRecord.IsFullyEarned">
            <input type="checkbox" ng-model="EndorsementRecord.IsFullyEarned" ng-change="updateEndorsementPremium()" ng-disabled="!parent.canModify(false)" /> Fully Earned
        </div>

        <table class="table table-condensed-tight" style="margin-top: 30px;" ng-if="EndorsementRecord.DevelopedAdditionalPremium > 0">
            <thead>
                <tr>
                    <th colspan="3" style="text-align:center">Additional Premium</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong> </strong></td>
                    <td style="        padding-left: 4px;
        padding-right: 4px;
        font-size: 1.1em"><strong>Developed</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>User Adjusted</strong></td>
                </tr>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Pro-Rata Factor</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">{{EndorsementRecord.DevelopedRate}}</td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">
                        <!--<input class="form-control input-sm" ng-model="EndorsementRecord.Rate" placeholder="Adjust Rate Here" ng-blur="updateEndorsementPremium()" ng-if="!parent.Policy.Issued" />
                        <div ng-if="parent.Policy.Issued">{{EndorsementRecord.Rate}}</div>-->
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Premium</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">{{EndorsementRecord.DevelopedAdditionalPremium | currency}}</td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">
                        <input class="form-control input-sm" data-mask="#" ng-model="EndorsementRecord.AdditionalPremium" placeholder="Adjust Premium Here" ng-blur="updateEndorsementPremium()" ng-if="parent.canModify(false)" />
                        <div ng-if="!parent.canModify(false)">{{EndorsementRecord.AdditionalPremium | currency}}</div>
                    </td>
                </tr>
                <tr ng-repeat="breakdown in EndorsementRecord.parent.Policy.CurrentVersion.Premiums | orderBy:'Index'" ng-if="breakdown.PremiumType == 1 && breakdown.IsAddedByUser">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>{{breakdown.Name}}</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">
                        <input class="form-control input-sm" style="max-width: 150px" data-mask="#" ng-model="breakdown.Amount" placeholder="Adjust Fee Here" ng-blur="updateEndorsementPremium()" ng-if="parent.canModify(false)" />
                        <div ng-if="!parent.canModify(false)">{{breakdown.Amount | currency}}</div>
                    </td>
                    <td><button class="btn yellow-casablanca btn-sm" ng-click="removeEndorsementFee(breakdown)" ng-if="parent.canModify(false)">Remove Fee</button></td>
                </tr>
                <tr ng-repeat="breakdown in EndorsementRecord.parent.Policy.CurrentVersion.Premiums | orderBy:'Index'" ng-if="breakdown.PremiumType == 1 && breakdown.IsAddedByUser == false && breakdown.Name != 'Additional Premium' && breakdown.Name != 'Return Premium' && breakdown.Name != 'Premium'">
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>{{breakdown.Name}}</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em">{{breakdown.Amount | currency}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>Total Additional Premium</strong></td>
                    <td style="padding-left: 4px; padding-right: 4px; font-size: 1.1em"><strong>{{EndorsementRecord.AdditionalPremiumAfterFeesAndTaxes | currency}}</strong></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div style="margin-top: 30px;border-top: 1px solid #dedede;padding-top: 10px;">
            <div style="width: 100%; text-align: center">
                <h3>Total Premium</h3>
            </div>
            <div style="width: 100%; text-align: center;font-size:1.5em">{{EndorsementRecord.PremiumAfterFeesAndTaxes | currency}}</div>
        </div>
        <button class="btn btn-primary" style="float: right" ng-click="addEndorsementFee()" ng-if="parent.canModify(false)">Add Fee</button>

        <div style="clear: both"></div>
    </div>
    <div class="col-sm-6" style="margin: 0 auto; width: 600px; display: block; float: none;">

        <table class="table table-condensed-tight" style="margin-top: 30px;">
            <tbody></tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <h3 style="text-align: center">
                <strong>Endorsement Activity</strong>
            </h3>
            <accordion close-others="true">
                <div accordion-group class="panel-default" is-open="EndorsementRecord.isAddedOpen" ng-if="(EndorsementRecord.EndorsementActivityGroups | filter:{ Action: 0}).length > 0">
                    <accordion-heading>
                        Added<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': EndorsementRecord.isAddedOpen, 'glyphicon-chevron-right': !EndorsementRecord.isAddedOpen}"></i>
                    </accordion-heading>
                    <div style="margin-bottom: 5px; padding: 5px;" ng-repeat="record in EndorsementRecord.EndorsementActivityGroups | filter: { Action: 0 } | orderBy:['ActivityType', 'Message']">
                        <div style="background-color: #0096db; color: White; padding: 5px; font-size: 1.1em">{{record.Message}}</div>
                        <div ng-if="record.Activities.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><strong>Value</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activity in record.Activities">
                                        <td>{{activity.Name}}</td>
                                        <td>{{activity.NewValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div accordion-group class="panel-default" is-open=" EndorsementRecord.isUpdatedOpen" ng-if="(EndorsementRecord.EndorsementActivityGroups | filter:{ Action: 1}).length > 0">
                    <accordion-heading>
                        Updated<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': EndorsementRecord.isUpdatedOpen, 'glyphicon-chevron-right': !EndorsementRecord.isUpdatedOpen}"></i>
                    </accordion-heading>
                    <div style="margin-bottom: 5px; padding: 5px;" ng-repeat="record in EndorsementRecord.EndorsementActivityGroups | filter: { Action: 1 } | orderBy:['ActivityType', 'Message']">
                        <div style="background-color: #0096db; color: White; padding: 5px; font-size: 1.1em">{{record.Message}}</div>
                        <div ng-if="record.Activities.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><strong>Previous Value</strong></th>
                                        <th><strong>New Value</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activity in record.Activities">
                                        <td>{{activity.Name}}</td>
                                        <td>{{activity.OldValue}}</td>
                                        <td>{{activity.NewValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div accordion-group class="panel-default" is-open="EndorsementRecord.isDeletedOpen" ng-if="(EndorsementRecord.EndorsementActivityGroups | filter:{ Action: 2}).length > 0">
                    <accordion-heading>
                        Removed<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': EndorsementRecord.isDeletedOpen, 'glyphicon-chevron-right': !EndorsementRecord.isDeletedOpen}"></i>
                    </accordion-heading>
                    <div style="margin-bottom: 5px; padding: 5px;" ng-repeat="record in EndorsementRecord.EndorsementActivityGroups | filter: { Action: 2 } | orderBy:['ActivityType', 'Message']">
                        <div style="background-color: #0096db; color: White; padding: 5px; font-size: 1.1em">{{record.Message}}</div>
                        <div ng-if="record.Activities.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th><strong>Value</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="activity in record.Activities">
                                        <td>{{activity.Name}}</td>
                                        <td>{{activity.OldValue}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </accordion>

            <h4><strong>Endorsement Summary</strong></h4>
            <div>
                <textarea class="form-control" ng-model="EndorsementRecord.Summary" style="height: 300px" ng-disabled="!parent.canModify(false)"></textarea>
            </div>


            <div class="alert alert-info" role="alert" style="font-size: 1.2em; margin-top: 10px;">
                <div>
                    I hereby confirm that I understand and agree with each of the following statements are true:
                </div>
                <ul style="display: block; margin-top: 10px">
                    <li>I have reviewed the endorsement summary and the insured agreed to it.</li>
                    <li>I have reviewed rate and premium of the endorsement and it meets guidelines.</li>
                </ul>
                <div>
                    <input type="text" class="form-control" ng-model="EndorsementRecord.SignedBy" style="margin-top: 10px; width: 200px; float: right; border: 1px solid black" placeholder="Sign Your Full Name Here" ng-disabled="!parent.canModify(false)" />
                </div>
                <div style="clear: both"></div>
            </div>

            <button class="btn btn-primary pull-left" style="margin-top: 20px" ng-click="downloadEndorsementInProgressDocument()">Download Endorsement Doc</button>
            <button class="btn yellow-casablanca pull-right" style="margin-top: 20px" ng-click="bindEndorsement()" ng-disabled="EndorsementRecord.SignedBy == null || EndorsementRecord.SignedBy == '' || Policy.Bound" ng-if="parent.canModify(false)">Bind Endorsement</button>
            <div style="clear: both"></div>

            <div class="row" ng-show="Errors.length > 0" style="margin-top:10px">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul>
                            <li ng-repeat="error in Errors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="addEndorsementFee.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Fee</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="selected.Fee"
                                       append-to-body="true"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       on-select="">
                                <ui-select-match placeholder="Select a Fee">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="value in EndorsementRecord.AvailableFees | filter: $select.search">
                                    <div ng-bind-html="value.Name | highlight: $select.search">
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group" style="padding-top:20px;clear:both">
                        <label for="" class="col-sm-3 control-label">Amount</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="selected.Amount" data-mask="#" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="ErrorList.length > 0">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul>
                            <li ng-repeat="error in ErrorList">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn yellow-casablanca" ng-click="add()">Add</button>
            </div>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="confirmBindEndorsement.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <p>Please make sure all revisions have been made before binding the endorsement.</p>
                    <p>Are you sure you want to bind the endorsement?</p>
                </div>
            </div>

            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn yellow-casablanca" ng-click="bindEndorsement()">Bind</button>
            </div>
        </div>
    </script>
</div>


<div>
    <script type="text/ng-template" id="confirmRenewal.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <p>By changing the effective date, this policy will no longer be a renewal.</p>
                    <p>Are you sure you want to continue?</p>
                </div>
            </div>
            <div class="modal-push"></div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close('cancel')">Cancel</button>
                <button type="button" class="btn yellow-casablanca" ng-click="close('continue')">Continue</button>
            </div>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="test_Homeowners_confirmBind.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <!--
                    <p style="text-align: center"><font size="5">You are binding with</font></p>
                    <p style="text-align: center; color:blue"><font size="6">{{riskCompany}}</font></p>
                    <p style="text-align: center"><font size="5">With total premium of</font></p>
                    <p style="text-align: center; color:green" class="green-jungle"><font size="6">{{totalPremium | currency}}</font></p>
                    -->
                    <div class="panel panel-default">
                        <div class="panel-body" style="border-color:none">
                            <p style="text-align: center; margin: 0">
                                <font size="5" style="text-align: center">You are binding with {{riskCompany}}</font>
                            </p>
                            <p style="text-align: center; margin: 0">
                                <font size="5">effective {{effectiveDate}} with a total premium of</font>
                            </p>
                        </div>
                        <div class="panel-footer" style="background-color: #4bc8b5">
                            <p style="text-align: center; margin-top: 10px; margin-bottom: 10px">
                                <span style="color:white; font-size:3em">{{totalPremium | currency}}</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Please make sure all quote revisions have been made before binding coverage.</p>
                    <p>Are you sure you want to bind and issue?</p>
                </div>
            </div>
            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalLiability_commands">
                <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="button" class="btn yellow-casablanca" ng-click="add()">Bind</button>
            </div>
        </div>
    </script>
</div>

<div>
    <div>
        <script type="text/ng-template" id="confirmIssue.html">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="panel panel-default" style="border-color: #4bc8b5">
                            <div class="panel-body">
                                <p style="text-align: center; margin: 0">
                                    <font size="5" style="text-align: center">You are issuing with <span style="color: #495fe6">{{riskCompany}}</span></font>
                                </p>
                                <p style="text-align: center; margin: 0">
                                    <font size="5">with a total premium of</font>
                                </p>
                            </div>
                            <div class="panel-footer" style="background-color: #4bc8b5">
                                <p style="text-align: center; margin-top: 10px; margin-bottom: 10px">
                                    <font size="6" color="white">{{totalPremium | currency}}</font>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Are you sure you want to issue?</p>
                    </div>
                </div>
                <div class="modal-push">
                </div>
            </div>
            <div class="modal-footer">
                <div id="modalLiability_commands">
                    <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Cancel</button>
                    <button type="button" class="btn yellow-casablanca" ng-click="add()">Bind</button>
                </div>
            </div>
        </script>
    </div>
</div>

<div>
    <script type="text/ng-template" id="validateAffidavitC.html">
        <div class="modal-header">
            <h4 class="modal-title">Affidavit C</h4>
        </div>
        <div class="modal-body">
            <tabset>
                <tab ng-repeat="company in Companies" heading="Company {{$index + 1}}" active="company.active" ng-init="company.active = $index == 0">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label class="control-label">Name of Company</label>
                            <ui-select ng-model="company.Info"
                                       append-to-body="true"
                                       theme="bootstrap"
                                       reset-search-input="false"
                                       ng-change="setCompanyInfo(company, $select.selected)">
                                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="info in CompanyInfo | filter: $select.search">
                                    <div ng-bind-html="info.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="control-label">NAIC Code</label>
                            <input class="form-control" ng-model="company.NaicCode" />
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Date Declining</label>
                            <input class="form-control" ng-model="company.DateDeclining" jqdatepicker />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 control-label">Name of Representative</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="company.FirstNameOfRepresentative" placeholder="First Name" />
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="company.LastNameOfRepresentative" placeholder="Last Name" />
                        </div>
                    </div>
                    <div ng-if="Errors.length > 0" class="alert alert-danger" role="alert" style="text-align:left;">
                        <ul>
                            <li ng-repeat="error in Errors">{{error}}</li>
                        </ul>
                    </div>
                </tab>
                <tab heading="Document" active="Document.Active">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="control-label">Upload Document:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control input-sm" ng-model="Document.Name"
                                   placeholder="Click 'Browse' to upload a document." readonly="readonly" />
                            <input type="file" id="affCFile" style="width: 1px; visibility: hidden;"
                                   accept="application/pdf" onchange="angular.element(this).scope().onFileUploaded(this)" />
                        </div>
                        <div class="col-sm-3">
                            <label for="affCFile" class="btn btn-sm btn-success">
                                <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Browse
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox" required style="float:left" ng-model="Document.NelpChecked" />
                            <div class="col-sm-11">
                                I agree to be responsible for placing a signed copy of the NELP form signed by the insured into the ImageRight file.
                            </div>
                        </div>
                    </div>
                    <div ng-if="Errors.length > 0" class="alert alert-danger" role="alert" style="text-align:left;">
                        <ul>
                            <li ng-repeat="error in Errors">{{error}}</li>
                        </ul>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" ng-click="close()">Cancel</button>
            <button ng-if="!Companies[0].active" type="button" class="btn btn-default" ng-click="back()">Back</button>
            <button ng-if="(Companies | filter: {active: true}).length == 1" type="button" class="btn yellow-casablanca" ng-click="next()">Next</button>
            <button ng-if="(Companies | filter: {active: true}).length == 0" type="button" class="btn yellow-casablanca" ng-click="confirm()">Bind</button>
        </div>
    </script>
</div>