<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

<div class="page-header visible-xs">
  <h3>Rate</h3>
</div>
<div class="row" style="margin-top: 10px">

  <div class="col-md-12" ng-show="ErrorList.length > 0">
    <div class="alert alert-danger">
      <h4>Oops...</h4>
      <ul>
        <li ng-repeat="error in ErrorList">
          {{error}}
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-12" ng-show="ErrorList.length == 0 && HidePage == false">
    <div class="row" style="margin-bottom: 10px">
      <div class="col-md-12">
        <div style="margin-top: 10px" ng-show="canRerate()">
          <div style="margin: 0 auto; width: 200px;">
            <button class="btn btn-block" style="font-size: 1.5em; background-color: #4bc8b5; color: #fff;" ng-click="checkEligibility()">
              Rate
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Rate Page : Start -->

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-md-12" style="text-align: center; font-family: 'Lato'; font-size: 1.75em; margin-bottom: 18px;">
            Select an Insurance Market
          </div>
          <div class="col-md-12">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 25px;" ng-repeat="riskCompany in OrderedRiskCompanies" ng-style="{'min-height' : (parent.Policy.CurrentVersion.Coverages.length * 35) + 220 }">
              <div style="border: 1px solid #f0f0f0;" ng-class="{ 'declined': isRiskCompanyDeclined(riskCompany), 'box-bordered': isRiskCompanySelected(riskCompany.Id) }">
                <div ng-click="selectRiskCompany(riskCompany)" ng-class="{ 'declined': isRiskCompanyDeclined(riskCompany), 'active': isRiskCompanySelected(riskCompany.Id) }" class="carrier-header" style="">{{getRiskCompanyName(riskCompany)}}</div>

                <div style="text-align: center; font-size: 2em; margin-bottom: 20px">
                  <span ng-if="!isRiskCompanyDeclined(riskCompany)">{{(parent.Policy.CurrentVersion.Premiums | filter:{RiskCompanyId:riskCompany.Id})[0].Premium | currency:"$":0}}</span>
                  <span class="font-red" ng-if="isRiskCompanyDeclined(riskCompany)">Declined</span>
                </div>

                <div style="margin-bottom: 10px; padding-left: 15px; padding-right: 15px;" ng-repeat="coverage in parent.Policy.CurrentVersion.Coverages | orderBy: 'Index'" ng-if="(RatingQuestions | filter:{RiskCompanyId:riskCompany.Id, Answer:null}).length == 0">
                  <button class="btn btn-default btn-sm" tooltip="{{coverage.Name == 'TRIA' ? '' : coverage.Name == 'Liquor Liability' ? riskCompany.Id == '6d719a07-b422-4c38-9a7c-e9df837f3010' ? !isLiquorLiabilityDeclined(riskCompany, coverage) ? '' : 'Please enter a valid Liquor Liability Exposure' : 'Liquor Liability is not available for this Market' : 'Click to see details'}}" style="width: 100%" ng-click="showRiskCompanyCoverage(riskCompany, coverage.Name)">
                    <span style="float: left">{{coverage.Name}}</span>
                    <span ng-if="coverage.Name == 'Property'">
                      <span style="float: right" class="font-red" ng-if="isPropertyDeclined(riskCompany, coverage)">Declined</span>
                      <span style="float: right" class="font-blue-sharp" ng-if="(parent.Policy.CurrentVersion.ContractDeclines | filter: { RiskCompanyId : riskCompany.Id }).length > 0 && ((parent.Policy.CurrentVersion.ContractDeclines | filter: { RiskCompanyId : riskCompany.Id })[0].Reasons | filter: {CoverageName: coverage.Name}).length == 0 && ((parent.Policy.CurrentVersion.Premiums | filter:{RiskCompanyId:riskCompany.Id})[0].Breakdown | filter: { Coverage:coverage.Name})[0].Amount == 0">Included</span>
                    </span>
                    <span ng-if="coverage.Name == 'Homeowners'">
                      <span style="float: right" class="font-red" ng-if="isPropertyDeclined(riskCompany, coverage)">Declined</span>
                      <span style="float: right" class="font-blue-sharp" ng-if="!isPropertyDeclined(riskCompany, coverage) && (parent.Policy.CurrentVersion.ContractDeclines | filter: { RiskCompanyId : riskCompany.Id }).length > 0 && ((parent.Policy.CurrentVersion.ContractDeclines | filter: { RiskCompanyId : riskCompany.Id })[0].Reasons | filter: {CoverageName: coverage.Name}).length == 0 && ((parent.Policy.CurrentVersion.Premiums | filter:{RiskCompanyId:riskCompany.Id})[0].Breakdown | filter: { Coverage:coverage.Name})[0].Amount == 0">Included</span>
                    </span>
                    <span ng-if="coverage.Name == 'Earthquake'">
                      <span style="float: right" class="font-red" ng-if="isEQDeclined(riskCompany, coverage)">Declined</span>
                      <span style="float: right" class="font-blue-sharp" ng-if="!isEQDeclined(riskCompany, coverage)">{{getEQPremium(riskCompany) | currency:"$":0}}</span>
                    </span>
                    <span style="float: right" class="font-blue-sharp" ng-if="!isPropertyDeclined(riskCompany, coverage) && coverage.Name == 'Homeowners' && (riskCompany.Coverages | filter: coverage.Name).length > 0 && ((parent.Policy.CurrentVersion.Premiums | filter:{RiskCompanyId:riskCompany.Id})[0].Breakdown | filter: { Coverage:coverage.Name})[0].Amount > 0">{{getCoveragePremium(riskCompany, coverage) | currency:"$":0}}</span>
                    <span style="float: right" class="font-blue-sharp" ng-if="coverage.Name == 'Flood' && (riskCompany.Coverages | filter: coverage.Name).length > 0 && ((parent.Policy.CurrentVersion.Premiums | filter:{RiskCompanyId:riskCompany.Id})[0].Breakdown | filter: { Coverage:coverage.Name})[0].Amount > 0">{{getCoveragePremium(riskCompany, coverage) | currency:"$":0}}</span>
                  </button>

                  <button class="btn btn-default btn-sm" style="width: 100%; margin-top: 10px; margin-left: 0px;" ng-if="showFloodButton(riskCompany) && coverage.Name == 'Homeowners'" ng-click="rateFloodCoverage(parent.PolicyId)">
                    <span style="float: left">Flood</span>
                    <span>
                      <span style="float: right" class="font-blue-sharp">Get Quote</span>
                    </span>
                  </button>
                </div> 

                <div style="margin-bottom: 10px; padding-left: 15px; padding-right: 15px;" ng-if="isMPApplied(riskCompany.Id)" ng-click="toggleIgnoreMP(riskCompany.Id)">
                  <div class="btn btn-default btn-sm" style="width:100%">
                    <span style="float:left">Minimum Premium</span>
                    <input type="checkbox" style="margin-top: 2px; float: right;" ng-checked="!(parent.Policy.CurrentVersion.Premiums | filter:{RiskCompanyId:riskCompany.Id})[0].IgnoreMP" ng-disabled="!parent.canModify()" />
                  </div>
                </div>

                <div style="margin-bottom: 10px; padding-left: 15px; padding-right: 15px;">
                  <button ng-hide="submitReviewer|| isRiskCompanyDeclined(riskCompany)" style="width: 100%;" class="btn yellow-casablanca btn-sm" ng-click="submitQuote(riskCompany.Id)" ng-if="parent.SubmitRequired(riskCompany.Id) && !parent.SubmitApproved(riskCompany.Id) && !parent.SubmitRequested(riskCompany.Id)">
                    Request Approval
                  </button>
                  <button ng-disabled="true" style="width: 100%;" class="btn blue-sharp btn-sm" ng-if="parent.SubmitRequired(riskCompany.Id) && !parent.SubmitApproved(riskCompany.Id) && parent.SubmitRequested(riskCompany.Id)">
                    Approval Requested
                  </button>
                  <button style="width: 100%;" class="btn green-jungle btn-sm" ng-if="parent.SubmitRequired(riskCompany.Id) && parent.SubmitApproved(riskCompany.Id)" tooltip="Additional changes maybe subject to additional approval.">
                    Submit Approved
                  </button>
                  <button ng-hide="isRiskCompanyDeclined(riskCompany)" style="width: 100%; margin: 0; margin-top:10px" class="btn yellow-casablanca btn-sm" ng-click="submitQuote(riskCompany.Id)" ng-if="submitReviewer && parent.SubmitRequired(riskCompany.Id)">
                    Submit Reason
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="col-md-12" style="text-align: center; font-family: 'Lato'; font-size: 1.75em; margin-bottom: 18px;">
          Eligibility/Rating Questions
        </div>

        <!-- Focused Market Questions -->
        <div class="col-md-12">
          <div class="row" ng-class="{ 'declined': isRiskCompanyDeclined(FocusedRiskCompanyId), 'box-bordered': FocusedRiskCompanyId }" style="border: 1px solid #f0f0f0;">
            <div class="col-md-12 question-header" ng-class="{ 'declined': isRiskCompanyDeclined(FocusedRiskCompanyId), 'active': FocusedRiskCompanyId }" style="margin: 0;">{{getQuestionHeader(FocusedRiskCompanyId)}}</div>

            <div style="margin: 0; padding: 0" ng-show="FocusedRiskCompanyId">
              <div class="col-md-12" style="margin-top: 5px; margin-bottom: 5px; padding: 0" ng-if="getQuestionCount(FocusedRiskCompanyId) == 0">
                <label class="col-md-12 col-sm-12 col-xs-12" style="text-align: center; margin-top: 5px; margin-bottom: 5px;">
                  No eligibility and rating questions available.
                </label>
              </div>

              <div class="col-md-12" style="margin-top: 5px; margin-bottom: 5px; padding: 0" ng-if="getQuestionCount(FocusedRiskCompanyId) > 0">
                <!-- Eligibility Questions -->
                <div class="col-md-12 form-group" style="margin-top: 5px; margin-bottom: 5px; padding: 0;" ng-repeat="eligibility in getEligibilityQuestions(FocusedRiskCompanyId) | orderBy: 'Question'">
                    <label class="col-md-9 col-sm-9 col-xs-9 control-label" ng-click="eligibility.showAppliesTo = !eligibility.showAppliesTo">
                        {{eligibility.Question}}
                        <i class="fa fa-question-circle-o" aria-hidden="true" ng-show="showDogBreeds(eligibility)" tooltip-html-unsafe="{{DogBreeds}}" data-tooltip-placement="bottom"></i>
                    </label>
                  <div class="col-md-3 col-sm-3 col-xs-3  radio-list">
                    <label class="radio-inline">
                      <input type="radio" ng-disabled="!parent.canModify()" value="Yes" ng-model="eligibility.Answer" ng-change="adjustEligibility(eligibility)" />
                      Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-disabled="!parent.canModify()" value="No" ng-model="eligibility.Answer" ng-change="adjustEligibility(eligibility)" />
                      No
                    </label>
                  </div>
                </div>

                <!-- Rating Questions -->
                <div class="col-md-12 form-group" style="margin-top: 5px; margin-bottom: 5px; padding: 0;" ng-repeat="rating in getRatingQuestions(FocusedRiskCompanyId) | orderBy: 'Question'">
                  <label class="col-md-9 col-sm-9 col-xs-9 control-label">{{rating.Question}}</label>
                  <div class="col-md-3 col-sm-3 col-xs-3 radio-list">
                    <label class="radio-inline">
                      <input type="radio" ng-disabled="!parent.canModify()" value="Yes" ng-model="rating.Answer" ng-change="adjustRating(rating)" />
                      Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-disabled="!parent.canModify()" value="No" ng-model="rating.Answer" ng-change="adjustRating(rating)" />
                      No
                    </label>
                  </div>
                </div>
              </div>

              <!-- Questions Errors -->
              <div class="col-md-12" ng-show="QuestionErrors.length > 0">
                <div class="alert alert-warning">
                  <h4>Warning!</h4>
                  <ul>
                    <li ng-repeat="error in QuestionErrors">
                      {{error}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Confirmation -->
        <div class="col-md-12" style="margin-top: 15px; padding: 0;">
          <div class="col-md-12 form-group" style="padding: 10px 10px 10px 10px; background-color: #f0f0f0;" ng-show="showConfirmation()">
              <label class="col-md-12 checkbox-inline" style="padding-left: 15px; padding-right: 15px; margin-top: 5px; margin-bottom: 5px;">
                  <input type="checkbox" style="margin-right: 5px"
                         ng-model="UserReviews[FocusedRiskCompanyId]"
                         ng-click="updateUserConfirmation()"
                         ng-disabled="!parent.canModify()" />
                By checking this box I hereby certify that answers to the eligibility questions above are true and correct to the best of my knowledge.<span style="color: red;">*</span>
              </label>
          </div>
        </div>
      </div>
    </div>

    <!-- Rate Page : End -->
  </div>
</div>

<script type="text/ng-template" id="coveragesModel.html">
  <style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>
  <div class="modal-header">
    <h4 class="modal-title">
      {{riskCompany.Name}}
      <button data-select2-open="single-append-text" ng-click="expandModal()" style="float: right; background-color: rgba(0, 0, 0, 0); border: none;">
        <i ng-if="!expanded" class="fa fa-expand" aria-hidden="true" style="color: white"></i>
        <i ng-if="expanded" class="fa fa-compress" aria-hidden="true" style="color: white"></i>
      </button>
    </h4>
  </div>

  <div class="modal-body">
    <div id="coverages-holder" style="overflow-y: auto;">
      <div class="well well-sm ng-scope" style="margin-bottom: 5px; background-color: #16216c; border: #4f5a67; color: white">
        <span style="font-weight: bold;" class="ng-binding">{{riskCompany.ActiveCoverage == 'Liability' ? 'General Liability' : riskCompany.ActiveCoverage}}</span>
        <span style="float: right" class="font-red" ng-if="(riskCompany.Coverages | filter: coverage.Name).length == 0 || (riskCompany.Coverages | filter: coverage.Name)[0].Premium == 0">Declined</span>
        <span style="float: right" class="font-green-jungle" ng-if="(riskCompany.Coverages | filter: coverage.Name).length > 0">{{((parent.Policy.CurrentVersion.Premiums | filter:{RiskCompanyId:riskCompany.Id})[0].Breakdown | filter: { Coverage: coverage.Name })[0].Amount | currency:"$":0}}</span>
        <button class="btn btn-sm yellow-casablanca pull-right" style="margin-top: -5px" ng-if="riskCompany.ActiveCoverage == 'Homeowners'" ng-show="parent.canModify(false) && isLloydsOrRiskShare() && canAddContract" ng-click="addContract()"><span class="glyphicon glyphicon-plus right-buffer"></span>Add Contract</button>
        <!--<button class="btn btn-sm yellow-casablanca pull-right" style="margin-top: -5px; margin-right: 5px" ng-if="riskCompany.ActiveCoverage == 'Homeowners'" ng-show="parent.canModify(false)" ng-click="addCreditDebit()"><span class="fa fa-calculator right-buffer"></span>Credit/Debit</button>-->
      </div>
      <div>
        <!-- Homeowners Coverages -->
        <div ng-if="(Policy.CurrentVersion.Coverages | filter: { Name : 'Homeowners'} ).length > 0 && riskCompany.ActiveCoverage == 'Homeowners'">
          <div ng-if="(riskCompany.Coverages | filter: 'Homeowners').length == 0">
            No <strong>property coverage</strong> for {{riskCompany.Name}}.
          </div>

          <div ng-if="(riskCompany.Coverages | filter: 'Homeowners').length > 0">
            <div class="panel panel-default" ng-repeat="location in CopiedLocations | orderBy: 'LocationNumber'" ng-show="location.Properties.length > 0">
              <div class="panel-heading"><strong>Location {{location.LocationNumber}}</strong> <span class="hidden-xs">{{location.Address.ShortAddress}}</span></div>
              <div class="panel-body">
                <div ng-repeat="property in location.Properties | orderBy: 'BuildingNumber'">
                  <div class="bg-blue-soft">
                    <button class="btn btn-link" style="color: #fff;">Location {{location.LocationNumber}} - Building {{property.BuildingNumber}}: {{property.Description | limitTo: 100}}</button>
                  </div>
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th class="col-md-3">Contract</th>
                        <th class="col-md-1">Limit</th>
                        <th class="col-md-1">Rate</th>
                        <th class="col-md-1">Wind Load</th>
                        <th class="col-md-2">Final Rate/Override</th>
                        <th class="col-md-1" style="min-width: 200px;">Premium/Override</th>
                        <th class="col-md-2">Split %</th>
                      </tr>
                    </thead>
                    <tbody>
                        <!-- AOP SECTION -->
                        <!-- HEADER -->
                        <tr style="background-color: #f9f9f9" ng-if="hasWindExclusiveAssignedContracts(property.AssignedContracts, riskCompany.Id) && 
                                                                     getNonWindExclusiveAssignedContracts(property.AssignedContracts, riskCompany.Id).length">
                            <td style="padding: 0 !important;"><div style="padding: 5px;"><strong>All Other Perils</strong></div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr ng-repeat-start="contract in getNonWindExclusiveAssignedContracts(property.AssignedContracts, riskCompany.Id) | orderBy: 'ContractName'">
                            <td>
                                <!-- Contract -->
                                <a style="width: 210px;" href="javascript:void(0)" ng-click="openLimits(property, contract)">{{contract.InsurerName}} - {{contract.ContractName}}</a>
                            </td>
                            <td>
                                <!-- Limit -->
                                <div ng-if="isLloydsOrRiskShare()">{{totalLimit(contract) | currency : $ : 0}}</div>
                            </td>
                            <td>
                                <!-- Rate -->
                                <div ng-if="isLloydsOrRiskShare()">{{rate(contract)}}</div>
                            </td>
                            <td>
                                <!-- Wind Load -->
                                <div ng-if="isLloydsOrRiskShare()"> {{windLoad(contract)}}</div>
                            </td>
                            <td>
                                <!-- Final Rate / Override -->
                                <div style="float: left; margin-right:10px;width:40px" ng-if="sameFinalRate(contract)">{{developedFinalRate(contract)}}</div>
                                <div style="float: left; margin-right:10px;width:40px" ng-if="!sameFinalRate(contract)">Mixed</div>
                                <!--<div>
                                    <input class="form-control input-sm" style="display: inline-block; width: 75px;" type="text" ng-change="calculateLimitsRate(contract)" ng-disabled="!parent.canModify()" ng-model="contract.FinalRate" />
                                </div>-->
                            </td>
                            <td>
                                <!-- Premium / Override -->
                                <span style="font-weight: bold">{{contract.Premium | currency}}</span>
                            </td>
                            <td ng-hide="!isLloydsOrRiskShare()">
                                <!-- Split % -->
                                <input class="form-control input-sm" style="width: 75px; display:inline-block;" type="text" ng-disabled="!parent.canModify(false) || !propertyContractSplit || !isLloydsOrRiskShare()" ng-change="calculateLimitAmounts(contract, property, location)" maxlength="3" size="3" ng-model="contract.Split" />
                                <span ng-if="contract.showLimits" style="margin-right:20px" class="pull-right glyphicon ng-scope glyphicon-chevron-down" ng-click="openLimits(property, contract)"></span>
                                <span ng-if="!contract.showLimits" style="margin-right:20px" class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-click="openLimits(property, contract)"></span>
                            </td>
                            <td ng-hide="isLloydsOrRiskShare()">
                                <label ng-bind="contract.Split"></label>
                                <span ng-if="contract.showLimits" style="margin-right:20px" class="pull-right glyphicon ng-scope glyphicon-chevron-down" ng-click="contract.showLimits = !contract.showLimits"></span>
                                <span ng-if="!contract.showLimits" style="margin-right:20px" class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-click="contract.showLimits = !contract.showLimits"></span>
                            </td>
                        </tr>
                        <tr ng-repeat="limit in contract.Limits | orderBy: 'Index'" ng-show="contract.showLimits && contract.Split != 0 && (contract.IsUserEntered || limit.DevelopedPremium > 0) && !limit.Hidden">

                            <td style="text-align: right; font-weight: bold">
                                <!-- Contract -->
                                {{limit.LimitName}}
                            </td>
                            <td>
                                <!-- Limit -->
                                <span ng-show="limit.Amount > 0">{{limit.Amount | currency : $ : 0}}</span>

                            </td>
                            <td>
                                <!-- Rate -->
                                <span ng-show="limit.DevelopedRate > 0 && !isAdditionalCoverage(limit) && (!contract.IsUserEntered || !canAddContract)" tooltip-html-unsafe="{{limitRateBreakdown(contract, false, limit.LimitName)}}">{{limit.DevelopedRate | number : 4}}</span>
                                <!--<input type="text" class="form-control input-sm" maxlength="6" size="6" style="display: inline-block; width: 75px;" ng-change="calculateLimitRate(limit, contract)" ng-if="contract.IsUserEntered && !isAdditionalCoverage(limit) && canAddContract" ng-model="limit.DevelopedRate" />-->
                            </td>
                            <td>
                                <span ng-if="!contract.WindIncludedInRate && !property.ExcludeWindHail && !isAdditionalCoverage(limit) && (!contract.IsUserEntered || !canAddContract)" tooltip-html-unsafe="{{limitRateBreakdown(contract, true, limit.LimitName)}}">{{limit.DevelopedWindLoad | number : 4}}</span>
                                <span ng-if="contract.WindIncludedInRate && !property.ExcludeWindHail && !isAdditionalCoverage(limit) && (!contract.IsUserEntered || !canAddContract)">Wind Included</span>
                                <!--<input type="text" class="form-control input-sm" maxlength="6" size="6" style="display: inline-block; width: 75px;" ng-change="calculateLimitRate(limit, contract)" ng-if="!property.ExcludeWindHail && contract.IsUserEntered && !isAdditionalCoverage(limit) && canAddContract" ng-model="limit.DevelopedWindLoad" />-->
                            </td>
                            <td>
                                <!-- Final Rate / Override -->
                                <div ng-if="limit.AdditionalDevelopedWindPremium == null && limit.AdditionalDevelopedPremium == null && limit.DevelopedFinalRate != null && !isAdditionalCoverage(limit)" style="display: inline-block; margin-right: 10px;width:40px">{{limit.DevelopedFinalRate | number : 4}}</div>
                                <!--<input ng-if="limit.AdditionalDevelopedWindPremium == null && limit.AdditionalDevelopedPremium == null && limit.DevelopedFinalRate != null && !isAdditionalCoverage(limit)" class="form-control input-sm" style="display: inline-block; width: 75px;" type="text" ng-change="calculateLimitRate(limit, contract)" ng-disabled="!parent.canModify(false) || (SubmitForBind() && submitReviewer == false)" ng-model="limit.FinalRate" />-->
                            </td>
                            <td>
                                <!-- Premium / Override -->
                                <div class="input-group" ng-show="contract.Split > 0">
                                    <span class="input-group-addon" style="background-color: white; width: 70px; text-align: left; border: none">{{limit.DevelopedPremium | currency : $ : 0}}</span>
                                    <!--<span class="input-group-addon">$</span>-->
                                    <!--<input class="form-control input-sm" type="text" style="width: 75px;" ng-change="calculateLimitRate(limit, contract)" ng-disabled="!parent.canModify()" ng-model="limit.Premium" />-->
                                </div>
                            </td>
                            <td>
                                <!-- Split % -->
                            </td>
                        </tr>
                        <tr ng-repeat-end></tr>

                        <!-- WIND & HAIL -->
                        <!-- HEADER -->
                        <tr style="background-color: #f9f9f9" ng-if="hasWindExclusiveAssignedContracts(property.AssignedContracts, riskCompany.Id)">
                            <td style="padding: 0 !important;"><div style="padding: 5px;"><strong>Wind / Hail</strong></div></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-repeat-start="contract in getWindExclusiveAssignedContracts(property.AssignedContracts, riskCompany.Id) | orderBy: 'ContractName'">
                            <td>
                                <!-- Contract -->
                                <a style="width: 210px;" href="javascript:void(0)" ng-click="openLimits(property, contract)">{{contract.InsurerName}} - {{contract.ContractName}}</a>
                            </td>
                            <td>
                                <!-- Limit -->
                                <div ng-if="isLloydsOrRiskShare()">{{totalLimit(contract) | currency : $ : 0}}</div>
                            </td>
                            <td>
                                <!-- Rate -->
                                <div ng-if="isLloydsOrRiskShare()">{{rate(contract)}}</div>
                            </td>
                            <td>
                                <!-- Wind Load -->
                                <div ng-if="isLloydsOrRiskShare()"> {{windLoad(contract)}}</div>
                            </td>
                            <td>
                                <!-- Final Rate / Override -->
                                <div style="float: left; margin-right:10px;width:40px" ng-if="sameFinalRate(contract)">{{developedFinalRate(contract)}}</div>
                                <div style="float: left; margin-right:10px;width:40px" ng-if="!sameFinalRate(contract)">Mixed</div>
                                <div>
                                    <input class="form-control input-sm" style="display: inline-block; width: 75px;" type="text" ng-change="calculateLimitsRate(contract)" ng-disabled="!parent.canModify()" ng-model="contract.FinalRate" />
                                </div>
                            </td>
                            <td>
                                <!-- Premium / Override -->
                                <span style="font-weight: bold">{{contract.Premium | currency}}</span>
                            </td>
                            <td ng-hide="!isLloydsOrRiskShare()">
                                <!-- Split % -->
                                <input class="form-control input-sm" style="width: 75px; display:inline-block;" type="text" ng-disabled="!parent.canModify(false) || !propertyContractSplit || riskCompany.Name != 'Lloyds of London'" ng-change="calculateLimitAmounts(contract, property, location)" maxlength="3" size="3" ng-model="contract.Split" />
                                <span ng-if="contract.showLimits" style="margin-right:20px" class="pull-right glyphicon ng-scope glyphicon-chevron-down" ng-click="openLimits(property, contract)"></span>
                                <span ng-if="!contract.showLimits" style="margin-right:20px" class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-click="openLimits(property, contract)"></span>
                            </td>
                            <td ng-hide="isLloydsOrRiskShare()">
                                <label ng-bind="contract.Split"></label>
                                <span ng-if="contract.showLimits" style="margin-right:20px" class="pull-right glyphicon ng-scope glyphicon-chevron-down" ng-click="contract.showLimits = !contract.showLimits"></span>
                                <span ng-if="!contract.showLimits" style="margin-right:20px" class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-click="contract.showLimits = !contract.showLimits"></span>
                            </td>
                        </tr>
                        <tr ng-repeat="limit in contract.Limits | orderBy: 'Index'" ng-show="contract.showLimits && contract.Split != 0 && (contract.IsUserEntered || limit.DevelopedPremium > 0) && !limit.Hidden">

                            <td style="text-align: right; font-weight: bold">
                                <!-- Contract -->
                                {{limit.LimitName}}
                            </td>
                            <td>
                                <!-- Limit -->
                                <span ng-show="limit.Amount > 0">{{limit.Amount | currency : $ : 0}}</span>

                            </td>
                            <td>
                                <!-- Rate -->
                                <span ng-show="limit.DevelopedRate > 0 && !isAdditionalCoverage(limit) && (!contract.IsUserEntered || !canAddContract)" tooltip-html-unsafe="{{limitRateBreakdown(contract, false, limit.LimitName)}}">{{limit.DevelopedRate | number : 4}}</span>
                                <input type="text" class="form-control input-sm" maxlength="6" size="6" style="display: inline-block; width: 75px;" ng-change="calculateLimitRate(limit, contract)" ng-if="contract.IsUserEntered && !isAdditionalCoverage(limit) && canAddContract" ng-model="limit.DevelopedRate" />
                            </td>
                            <td>
                                <span ng-if="!contract.WindIncludedInRate && !property.ExcludeWindHail && !isAdditionalCoverage(limit) && (!contract.IsUserEntered || !canAddContract)" tooltip-html-unsafe="{{limitRateBreakdown(contract, true, limit.LimitName)}}">{{limit.DevelopedWindLoad | number : 4}}</span>
                                <span ng-if="contract.WindIncludedInRate && !property.ExcludeWindHail && !isAdditionalCoverage(limit) && (!contract.IsUserEntered || !canAddContract)">Wind Included</span>
                                <input type="text" class="form-control input-sm" maxlength="6" size="6" style="display: inline-block; width: 75px;" ng-change="calculateLimitRate(limit, contract)" ng-if="!property.ExcludeWindHail && contract.IsUserEntered && !isAdditionalCoverage(limit) && canAddContract" ng-model="limit.DevelopedWindLoad" />
                            </td>
                            <td>
                                <!-- Final Rate / Override -->
                                <div ng-if="limit.AdditionalDevelopedWindPremium == null && limit.AdditionalDevelopedPremium == null && limit.DevelopedFinalRate != null && !isAdditionalCoverage(limit)" style="display: inline-block; margin-right: 10px;width:40px">{{limit.DevelopedFinalRate | number : 4}}</div>
                                <!--<input ng-if="limit.AdditionalDevelopedWindPremium == null && limit.AdditionalDevelopedPremium == null && limit.DevelopedFinalRate != null && !isAdditionalCoverage(limit)" class="form-control input-sm" style="display: inline-block; width: 75px;" type="text" ng-change="calculateLimitRate(limit, contract)" ng-disabled="!parent.canModify(false) || (SubmitForBind() && submitReviewer == false)" ng-model="limit.FinalRate" />-->
                            </td>
                            <td>
                                <!-- Premium / Override -->
                                <div class="input-group" ng-show="contract.Split > 0">
                                    <span class="input-group-addon" style="background-color: white; width: 70px; text-align: left; border: none">{{limit.DevelopedPremium | currency : $ : 0}}</span>
c                                    <!--<input class="form-control input-sm" type="text" style="width: 75px;" ng-change="calculateLimitRate(limit, contract)" ng-disabled="!parent.canModify()" ng-model="limit.Premium" />-->
                                </div>
                            </td>
                            <td>
                                <!-- Split % -->
                            </td>
                        </tr>
                        <tr ng-repeat-end></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-12" ng-show="((Policy.CurrentVersion.Declines | filter: {RiskCompanyId : riskCompany.Id })[0].Reasons | filter: {CoverageName: 'Homeowners'}).length > 0 && parent.canModify(false)">
              <h3 style="color: red;">Declines</h3>
              <div ng-repeat="decline in Policy.CurrentVersion.Declines | filter: {RiskCompanyId : riskCompany.Id } | orderBy: 'InsurerName'">
                <div class="col-sm-12">
                  <div class="form-body">
                    <div class="form-group">
                      <table class="table" style="table-layout: fixed;">
                        <thead>
                          <tr>
                            <th style="width: 0%"></th>
                            <th style="width: 16%">Status</th>
                            <th style="width: 14%">Contract</th>
                            <th style="width: 20%">Contract Number</th>
                            <th style="width: 50%">Decline Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="reason in decline.Reasons | filter: filterHomeownersDecline">
                            <td style="width: 0%; word-wrap: break-word;">
                              <!--<input type="checkbox" ng-disabled="!canOverrideDecline" style="margin-right: 10px" ng-click="toggleOverride(decline, reason)" ng-checked="(Policy.CurrentVersion.ContractDeclineOverrides | filter:{ RiskCompanyId: decline.RiskCompanyId, ContractId: decline.ContractId, CoverageId: reason.CoverageId, Group: reason.Group, Reason: reason.Reason, Wind: reason.Wind }).length > 0" />-->
                            </td>
                            <td style="width: 16%">
                              <span style="color: red;" ng-show="!(Policy.CurrentVersion.ContractDeclineOverrides | filter:{ RiskCompanyId: decline.RiskCompanyId, ContractId: decline.ContractId, CoverageId: reason.CoverageId, Group: reason.Group, Reason: reason.Reason, Wind: reason.Wind }).length > 0">Decline</span>
                              <span style="color: green;" ng-show="(Policy.CurrentVersion.ContractDeclineOverrides | filter:{ RiskCompanyId: decline.RiskCompanyId, ContractId: decline.ContractId, CoverageId: reason.CoverageId, Group: reason.Group, Reason: reason.Reason, Wind: reason.Wind }).length > 0">Decline Override</span>
                            </td>
                            <td style="width: 14%">{{decline.InsurerName}}</td>
                            <td style="width: 20%">{{decline.ContractName}}</td>
                            <td style="width: 50%"> {{reason.Group}}: {{reason.Reason}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div ng-show="Errors.length > 0" class="alert alert-danger alert-dismissible fade in" role="alert" style="margin-top:10px;">
      <ul>
        <li ng-repeat="error in Errors">{{error}}</li>
      </ul>
    </div>
    <div class="modal-push">
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Cancel</button>
      <button ng-if="parent.canModify(false) && (riskCompany.ActiveCoverage == 'Homeowners' || riskCompany.ActiveCoverage == 'Liability')" type="button" class="btn yellow-casablanca" ng-click="save(riskCompany.ActiveCoverage)">Save</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="floodCoveragesModel.html">
  <div class="modal-header">
    <h4 class="modal-title">
      Flood Coverage
    </h4>
  </div>

  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-body">
            <div class="form-group">
              <h2>Options</h2>

              <accordion close-others="true">
                <accordion-group ng-repeat="option in FloodQuote.Quote.Options">
                  <accordion-heading>
                    {{option.OptionName}} {{option.Premium | roundup | currency}}
                  </accordion-heading>
                  <h3>Coverage:</h3>
                  <div class="row">
                    <div class="col-sm-6">
                      <div ng-repeat="coverage in option.Coverage">
                        {{coverage.CoverageType}} : {{coverage.Value | currency : $ : 0}}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      Premium: <strong>{{option.Premium | roundup | currency}}</strong><br />
                      <!--Rate: {{option.Rate}}<br />-->
                      Deductible: {{option.Deductible | currency : $ : 0}}
                    </div>
                  </div>
                  <div class="row" style="padding-top: 10px;">
                    <div class="col-sm-12">
                      <button class="btn yellow-casablanca pull-right" ng-click="optionClicked(option, FloodQuote)">Select Coverage</button>
                    </div>
                  </div>
                </accordion-group>
              </accordion>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div ng-show="Errors.length > 0" class="alert alert-danger alert-dismissible fade in" role="alert" style="margin-top:10px;">
      <ul>
        <li ng-repeat="error in Errors">{{error}}</li>
      </ul>
    </div>
    <div class="modal-push">
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close('cancel', PolicyFloodCoverage)">Cancel</button>
      <button ng-disabled="!parent.canModify()" type="button" class="btn yellow-casablanca" ng-click="close(PolicyFloodCoverage)">Save</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="showFloodCoveragesModel.html">
  <div class="modal-header">
    <h4 class="modal-title">
      Flood Coverage
    </h4>
  </div>

  <div class="modal-body">
    <div>
      <div class="row">
        <div class="col-sm-12">
          <h3>Coverages:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div ng-if="FloodInfo.DwellingLimit != null && FloodInfo.DwellingLimit != 0">
            Dwelling Limit: {{FloodInfo.DwellingLimit | currency : $ : 0}}
          </div>
          <div ng-if="FloodInfo.PersonalPropertyLimit != null && FloodInfo.PersonalPropertyLimit != 0">
            Personal Property Limit: {{FloodInfo.PersonalPropertyLimit | currency: $ : 0}}
          </div>
          <div ng-if="FloodInfo.OtherStructuresLimit != null && FloodInfo.OtherStructuresLimit != 0">
            Other Structures Limit: {{FloodInfo.OtherStructuresLimit | currency : $ : 0}}
          </div>
          <div ng-if="FloodInfo.LossOfUse != null && FloodInfo.LossOfUse != 0">
            Loss Of Use Limit: {{FloodInfo.LossOfUse | currency : $ : 0}}
          </div>

        </div>
        <div class="col-sm-6">
          Premium: <strong>{{FloodInfo.Premium | currency }}</strong><br />
          <!--Rate: {{FloodInfo.Rate}}<br />-->
          Deductible: {{FloodInfo.Deductible | currency : $ : 0}}
        </div>
      </div>


    </div>
    <div ng-show="Errors.length > 0" class="alert alert-danger alert-dismissible fade in" role="alert" style="margin-top:10px;">
      <ul>
        <li ng-repeat="error in Errors">{{error}}</li>
      </ul>
    </div>
    <div class="modal-push">
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" data-dismiss="modal" class="btn btn-default" ng-click="close('cancel', PolicyFloodCoverage)">Cancel</button>
      <!--<button ng-disabled="!parent.canModify()" type="button" class="btn yellow-casablanca" ng-click="close('delete')">Delete</button>-->
      <button ng-disabled="!parent.canModify()" ng-if="parent.Policy.Endorsement == null" type="button" class="btn yellow-casablanca" ng-click="close('delete')">Remove Coverage</button>
      <button ng-disabled="true" ng-if="parent.Policy.Endorsement != null" type="button" class="btn yellow-casablanca" data-toggle="tooltip" data-placement="top" title="To remove flood,, you must cancel re-write" ng-click="close('delete')">Remove Coverage</button>
    </div>
  </div>

</script>

<script type="text/ng-template" id="addContract.html">
  <div class="modal-header">
    <h4 class="modal-title">Add Contract</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <ui-select ng-model="Contract.SelectedContract"
                   append-to-body="true"
                   theme="bootstrap"
                   ng-disabled="!hasAvailableContracts()"
                   reset-search-input="false">
          <ui-select-match>{{$select.selected.InsurerName}} {{$select.selected.Name}}</ui-select-match>
          <ui-select-choices repeat="contract in Contracts | filter: $select.search">
            <div ng-bind-html="contract.InsurerName + ' ' + contract.Name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-12">
        <input class="form-control" type="text" placeholder="Enter Split Percentage" style="margin-top: 8px;" ng-model="Contract.Split" ng-disabled="!hasAvailableContracts()" />
      </div>
    </div>
    <div class="row" ng-show="Errors.length > 0">
      <div class="col-md-12">
        <div class="alert alert-danger" style="padding: 7px; margin-bottom: 2px; margin-top: 15px;">
          <ul style="padding-left: 18px;">
            <li ng-repeat="error in Errors">
              {{error}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-push">
    </div>
  </div>
  <div class="modal-footer">
    <div id="modal_commands">
      <button id="modalProperty_close" type="button" data-dismiss="modal" class="btn btn-default" ng-click="close('cancel')">Close</button>
      <button id="modalProperty_ok" type="button" class="btn yellow-casablanca" ng-click="close(Contract)" ng-disabled="!hasAvailableContracts()">Add</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="addCreditDebit.html">
  <div class="modal-header">
    <h4 class="modal-title">Credit/Debit</h4>
  </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <ui-select ng-model="Settings.RateType"
                           append-to-body="true"
                           theme="bootstrap"
                           reset-search-input="false">
                    <ui-select-match>{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="rateType in RateTypeOptions | filter: $select.search">
                        <div ng-bind-html="rateType | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-md-12" style="margin-top:20px">
                <label style="font-weight:bold">{{getRateTypeDescription()}}</label>
                <input class="form-control" type="text" placeholder="{{'Enter ' + Settings.RateType}}" style="margin-top: 8px;" ng-model="Settings.Rate" />
            </div>

            <!--<div class="col-md-12" style="margin-top:30px">
                <div style="margin-left:10px">
                    <span><button class="btn btn-link" style="padding:0" ng-click="selectAllProperties()">Select All</button></span>
                    &nbsp;/&nbsp;
                    <span><button class="btn btn-link" style="padding:0" ng-click="deselectAllProperties()">Deselect All</button></span>
                </div>

                <div ng-repeat="property in Properties | orderBy: ['LocationNumber', 'BuildingNumber']" style="padding:10px">
                    <label>
                        <input type="checkbox" checklist-model="Settings.SelectedProperties" checklist-value="property.Id">
                        <span style="padding-left:5px">Location {{property.LocationNumber}} - Building {{property.BuildingNumber}}</span>
                    </label>
                </div>
            </div>-->
        </div>

        <div class="row" ng-show="Errors.length > 0">
            <div class="col-md-12">
                <div class="alert alert-danger" style="padding: 7px; margin-bottom: 2px; margin-top: 15px;">
                    <ul style="padding-left: 18px;">
                        <li ng-repeat="error in Errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="modal-push">
    </div>
  </div>
  <div class="modal-footer">
    <div id="modal_commands">
      <button id="modalProperty_close" type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
      <button id="modalProperty_ok" type="button" class="btn yellow-casablanca" ng-click="apply()">Apply</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="submitQuote.html">
  <div class="modal-header">
    <h4 class="modal-title">Submit Quote</h4>
  </div>

  <div class="modal-body">
    <div class="row">
      <form class="form-horizontal" role="form">
        <div class="scrollable">
          <div class="col-md-12">
            <div class="col-md-12">
              <div class="form-group">
                <div ng-show="!submitReviewer">
                  <label class="control-label">Notes</label>
                  <textarea type="text" class="form-control" ng-model="SubmitReason" style="height: 165px; width: 570px;"> </textarea>
                </div>
                <h3 style="color: red;">Submit Required</h3>
                <div style="max-height: 200px;overflow-y: auto;">
                  <table class="table" style="table-layout: fixed;">
                    <tbody ng-repeat="submit in Policy.CurrentVersion.Submits | filter: { RiskCompanyId : RiskCompanyId }">
                      <tr ng-repeat="reason in submit.Reasons">
                        <td style="width:30%">{{submit.InsurerName}}</td>
                        <td> {{reason.Group}}: {{reason.Reason}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div ng-show="Errors.length > 0" class="alert alert-danger alert-dismissible fade in" role="alert" style="margin-top:10px;clear: both;">
              <ul>
                <li ng-repeat="error in Errors">{{error}}</li>
              </ul>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-push">
  </div>
  <div class="modal-footer">
    <div id="modal_commands">
      <button id="modalProperty_close" type="button" data-dismiss="modal" class="btn btn-default" ng-click="close()">Close</button>
      <button id="modalProperty_ok" type="button" class="btn yellow-casablanca" ng-click="submit()" ng-if="!submitReviewer">Submit</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="test_Homeowners_creditAccountability.html">
  <div class="modal-header">
    <h4 class="modal-title">Credit Accountability</h4>
  </div>
  <div class="modal-body" id="credit-accountability">
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 20px;">
        <label style="width: 74%">Are you within authority to apply credit for {{RiskCompany.Name}}?</label>
        <label style="width: 11%"><input type="radio" ng-model="CreditEntry.IsWithinCreditAuthority" value="true" />  Yes</label>
        <label style="width: 11%"><input type="radio" ng-model="CreditEntry.IsWithinCreditAuthority" value="false" />  No</label>
      </div>
      <div class="col-md-12" style="margin-bottom: 15px;" ng-if="CreditEntry.IsWithinCreditAuthority == 'false'">
        <label class="col-md-3" style="text-align: left; padding-top: 5px;">Approved By</label>
        <div class="col-md-8">
          <input class="form-control" type="text" ng-model="CreditEntry.ApprovedBy" />
        </div>
      </div>
      <div class="col-md-12" style="margin-bottom: 20px;" ng-if="CreditEntry.IsWithinCreditAuthority == 'false'">
        <label class="col-md-3" style="text-align: left; padding-top: 5px;">Credit Reason</label>
        <div class="col-md-8">
          <textarea class="form-control" type="text" ng-model="CreditEntry.Reason" />
        </div>
      </div>
    </div>
    <div class="row" ng-show="Errors.length > 0">
      <div class="col-md-12">
        <div class="alert alert-danger" style="padding: 7px; margin-bottom: 2px; margin-top: 15px;">
          <ul style="padding-left: 18px;">
            <li ng-repeat="error in Errors">
              {{error}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-push">
    </div>
  </div>
  <div class="modal-footer">
    <div id="modal_commands">
      <button id="modalProperty_close" type="button" data-dismiss="modal" class="btn btn-default" ng-click="close('cancel')">Close</button>
      <button id="modalProperty_ok" type="button" class="btn yellow-casablanca" ng-click="save()">Save</button>
    </div>
  </div>
</script>
