<div class="page-header visible-xs">
    <h3>Forms</h3>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-md-12">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-12">
                <h3>Forms</h3>
                <tabset>
                    <tab ng-repeat="riskCompany in parent.RiskCompanies | riskCompanyFormsOrderBy : parent.Policy.CurrentVersion.FocusedRiskCompanyId" heading="{{riskCompany.Name}}" active="activeRiskCompanies[riskCompany.Id]" class="riskCompanies" ng-if="!$parent.isRiskCompanyDeclined(riskCompany.Id)">
                        <button class="btn yellow-casablanca btn-sm pull-left" ng-show="parent.canModify(false)" ng-click="addForm(riskCompany)" ng-disabled="loadingOptionalForms">
                            <i class="fa fa-spinner fa-spin" style="margin-right: 10px" ng-if="loadingOptionalForms"></i>
                            <i class="fa fa-plus" style="margin-right: 10px" ng-if="!loadingOptionalForms"></i>
                            Add Forms
                        </button>
                        <div style="clear: both"></div>
                        <div style="margin-top: 10px">

                            <div class="row" style="padding-bottom: 5px; padding-top: 5px" ng-repeat="form in parent.Policy.CurrentVersion.Forms  | filter: { IsRemoved: false, RiskCompanyId: riskCompany.Id }  | orderBy: ['-SuggestToDelete', '-RequireUserInput', 'Index', 'Number']">
                                <div class="col-xs-3" ng-if="form.SuggestToDelete == true">
                                    <span style="display: inline-block; width: 20px; margin: 0; text-align: center;" ng-if="riskCompany.Name != 'RSUI Covington' && riskCompany.Name != 'Century Surety Company' && riskCompany.Name != 'United Specialty Insurance Company'"><input type="checkbox" tooltip="Attach to Quote Document" ng-model="form.IsAttachedToQuoteDocument" ng-change="attachFormToQuoteDocument(form)" /></span>

                                    <button class="btn btn-link" style="color: #0096db;" ng-if="!isCentury(riskCompany.Id)" ng-click="downloadPolicyForm(riskCompany.Id, form)"><span class="glyphicon glyphicon-download" style="margin-right:5px"></span></button>
                                    <button class="btn btn-link btn-sm" style="color: #ff0000; text-decoration: none">{{form.Number}}</button>
                                </div>
                                <div class="col-xs-3" ng-if="form.SuggestToDelete == false">
                                    <span style="display: inline-block; width: 20px; margin: 0; text-align: center;" ng-if="riskCompany.Name != 'RSUI Covington' && riskCompany.Name != 'Century Surety Company' && riskCompany.Name != 'United Specialty Insurance Company'"><input type="checkbox" tooltip="Attach to Quote Document" ng-model="form.IsAttachedToQuoteDocument" ng-change="attachFormToQuoteDocument(form)" /></span>

                                    <button class="btn btn-link" style="color: #0096db;" ng-if="!isCentury(riskCompany.Id)" ng-click="downloadPolicyForm(riskCompany.Id, form)"><span class="glyphicon glyphicon-download" style="margin-right:5px"></span></button>
                                    <button class="btn btn-link btn-sm" style="color: #000; text-decoration: none">{{form.Number}}</button>
                                </div>
                                <div class="col-xs-7" style="padding-top: 8px;" ng-if="form.SuggestToDelete == false">
                                    <span class="fa fa-user col-xs-1" style="width: 10px" ng-if="form.AddedByUserName != null && form.AddedBackByUserName == null" tooltip="{{'Form added by '  + form.AddedByUserName}}"></span>
                                    <span class="fa fa-user  col-xs-1" style="width: 10px" ng-if="form.AddedBackByUserName != null" tooltip="{{'Form added by '  + form.AddedBackByUserName}}"></span>
                                    <div class="col-xs-6" style="white-space: pre;">{{form.Description}}</div>
                                </div>
                                <div class="col-xs-7" style="padding-top: 8px; color: #ff0000;" ng-if="form.SuggestToDelete == true">
                                    <span class="fa fa-user col-xs-1" style="width: 10px" ng-if="form.AddedByUserName != null && form.AddedBackByUserName == null" tooltip="{{'Form added by '  + form.AddedByUserName}}"></span>
                                    <span class="fa fa-user col-xs-1" style="width: 10px" ng-if="form.AddedBackByUserName != null" tooltip="{{'Form added by '  + form.AddedBackByUserName}}"></span>
                                    <div class="col-xs-6" style="white-space: pre;">{{form.Description}}</div>
                                </div>
                                <div class="col-xs-1">
                                    <button class="btn btn-link" tooltip="Fill In" style="color: #0096db;" ng-click="editForm(form)" ng-if="form.RequireUserInput == true" ng-hide="!parent.canModify(false)"><i class="glyphicon glyphicon-edit"></i> Fill In</button>
                                </div>
                                <div class="col-xs-1">
                                    <button ng-show="parent.canModify(false) && (canDeleteForm || form.Optional)" class="btn btn-link" tooltip="Remove" style="color: #0096db;" ng-click="deleteForm(form)"><i class="glyphicon glyphicon-trash"></i> Remove</button>
                                    <button class="btn btn-link" style="color: #0096db;" ng-click="editForm(form)" ng-if="form.RequireUserInput == true" ng-hide="parent.canModify(false)"><i class="glyphicon glyphicon-eye-open" tooltip="View"></i> View</button>
                                </div>
                            </div>
                            <h3 ng-if="(parent.Policy.CurrentVersion.Forms | filter: { IsRemoved: true } ).length > 0">Removed Forms</h3>
                            <div class="row" style="padding-bottom: 5px; padding-top: 5px" ng-repeat="form in parent.Policy.CurrentVersion.Forms | filter: { IsRemoved: true, RiskCompanyId: riskCompany.Id  }  | orderBy: ['-RequireUserInput', 'Index', 'Number']">
                                <div class="col-xs-3" ng-if="form.SuggestToDelete == true">
                                    <span style="display: inline-block; width: 20px; margin: 0; text-align: center;"></span>
                                    <button class="btn btn-link" style="color: #0096db;" ng-if="!isCentury(riskCompany.Id)" ng-click="downloadPolicyForm(riskCompany.Id, form)"><span class="glyphicon glyphicon-download" style="margin-right:5px"></span></button>
                                    <button class="btn btn-link btn-sm" style="color: #ff0000; text-decoration: none">{{form.Number}}</button>
                                </div>
                                <div class="col-xs-3" ng-if="form.SuggestToDelete == false">
                                    <span style="display: inline-block; width: 20px; margin: 0; text-align: center;"></span>
                                    <button class="btn btn-link" style="color: #0096db;" ng-if="!isCentury(riskCompany.Id)" ng-click="downloadPolicyForm(riskCompany.Id, form)"><span class="glyphicon glyphicon-download" style="margin-right:5px"></span></button>
                                    <button class="btn btn-link btn-sm" style="color: #000; text-decoration: none">{{form.Number}}</button>
                                </div>
                                <div class="col-xs-7" style="padding-top: 8px;" ng-if="form.SuggestToDelete == false">
                                    <span class="fa fa-user col-xs-1" style="width: 10px; margin-right: 10px" ng-if="form.RemovedByUserName != null" tooltip="{{'Form removed by '  + form.RemovedByUserName}}"></span>
                                    <div style="white-space: pre;">{{form.Description}}</div>
                                </div>
                                <div class="col-xs-7" style="padding-top: 8px; color: #ff0000;" ng-if="form.SuggestToDelete == true">
                                    <span class="fa fa-user col-xs-1" style="width: 10px; margin-right: 10px" ng-if="form.RemovedByUserName != null" tooltip="{{'Form removed by '  + form.RemovedByUserName}}"></span>
                                    <div style="white-space: pre;">{{form.Description}}</div>
                                </div>
                                <div class="col-xs-1">
                                </div>
                                <div class="col-xs-1">
                                    <button class="btn btn-link" tooltip="Remove" style="color: #0096db;" ng-hide="!parent.canModify(false)" ng-click="addBackDeletedForm(form)"><i class="fa fa-plus"></i> Add Back</button>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both"></div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="formAddModelContent.html">
    <div class="modal-header">
        <h4 class="modal-title" id="modalForm_title">Add Form</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="scrollable">
                <div class="col-md-12" style="margin-bottom: 10px; margin-top: 10px;">
                    <ui-select ng-model="Selected.Form"
                               theme="bootstrap"
                               reset-search-input="false"
                               append-to-body="true">
                        <ui-select-match placeholder="Enter a form number or description">{{$select.selected.Number + ' ' + $select.selected.Edition + ' - ' + $select.selected.Description | limitTo: 80 }}</ui-select-match>
                        <ui-select-choices repeat="value in (Forms | filter: $select.search) | limitTo: 50">
                            <div ng-bind-html="value.Number + ' ' + value.Edition + ' - ' + value.Description | highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
        <div class="row" ng-show="Errors.length > 0">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <ul>
                        <li ng-repeat="error in Errors">
                            {{error}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-push">
    </div>
    <div class="modal-footer">
        <img id="modalForm_loading" src="/Images/loader-small.gif" style="display: none">
        <div id="modalForm_commands">
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
            <button type="button" class="btn yellow-casablanca" ng-click="addForm()">Add</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="formUpdateModelContent.html">
    <div class="modal-header">
        <h4 class="modal-title" id="modalForm_title">Edit Form</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="scrollable">
                <div id="address" data-page="0">
                    <div class="col-md-12">
                        <label style="font-weight:bold;margin-bottom:20px">{{Form.Number}} {{Form.Edition}} - {{Form.Description}}</label>
                        <div ng-repeat="table in Form.Tables | orderBy: 'Index'" style="margin-top: 20px;text-align:center;max-height: 600px">
                            <label style="font-weight:bold">{{table.Name}}</label>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th ng-repeat="field in table.Fields | orderBy: 'Index'">{{field.FieldDescription}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in table.Rows | orderBy: 'Index'">
                                        <td ng-repeat="field in row.Fields | orderBy: 'Index'">
                                            <div ng-if="field.OptionItems == null || field.OptionItems.length == 0">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-12"><label class="control-label pull-left">{{field.FieldDescription}}:</label></div>
                                                        <div class="col-sm-12">
                                                            <input ng-if="field.FieldType == 'Text'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" ng-change="checkCharacterLimit(field)" />
                                                            <textarea ng-if="field.FieldType == 'MultilineText'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" ng-change="checkCharacterLimit(field)" style="height:75px;resize: none;"></textarea>
                                                            <input ng-if="field.FieldType == 'NonDecimalCurrency'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" />
                                                            <input ng-if="field.FieldType == 'Currency'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" />
                                                            <input ng-if="field.FieldType == 'Decimal'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" />
                                                            <input ng-if="field.FieldType == 'Int'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" />
                                                            <input ng-if="field.FieldType == 'Boolean'" type="checkbox" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" style="margin-top:10px;" ng-true-value="'True'" ng-false-value="'False'" />
                                                        </div>
                                                    </div>

                                                    <div ng-if="field.FieldType == 'Date'" class="input-group" style="width: 100%">
                                                        <input type="text" class="form-control" jqdatepicker ng-model="field.Value" ng-required="true" />
                                                    </div>

                                                    <div style="max-height:400px;overflow-y:auto;" ng-if="field.FieldType == 'Locations'">
                                                        <div class="col-xs-12" ng-repeat="location in Locations | orderBy: 'LocationNumber'">
                                                            <label>
                                                                <input type="checkbox" ng-model="LocationFields[field.Id][location.LocationId].Selected" ng-disabled="!parent.canModify()"> {{location.LocationNumber}}-{{location.Address.ShortAddress}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div style="max-height:400px;overflow-y:auto;" ng-if="field.FieldType == 'Properties'">
                                                        <div ng-repeat="location in Locations | orderBy: 'LocationNumber'">
                                                            <div class="col-xs-12" ng-repeat="property in location.Properties | orderBy: 'BuildingNumber'">
                                                                <label>
                                                                    <input type="checkbox" ng-model="PropertyFields[field.Id][property.PropertyId].Selected" ng-disabled="!parent.canModify()">{{location.LocationNumber}}-{{property.BuildingNumber}} {{location.Address.ShortAddress}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="field.OptionItems.length > 0">
                                                <select class="form-control input-sm" ng-options="opt.Description as opt.Description for opt in field.OptionItems" ng-disabled="!parent.canModify()" ng-model="field.Value"></select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group" ng-repeat="field in Form.Fields | orderBy: 'Index'">
                                    <label style="text-align: left;" ng-if="field.FieldType != 'Boolean' && field.FieldType != 'Label' && field.FieldType != 'PerLocationMultilineText' && field.FieldType != 'PerLocationText' && field.FieldType != 'PerPropertyMultilineText' && field.FieldType != 'PerPropertyText' && field.FieldDescription != null && field.FieldDescription.length > 0" class="col-sm-2 col-md-3 control-label">{{field.FieldDescription}}</label>
                                    <div class="col-sm-12" ng-if="field.OptionItems == null || field.OptionItems.length == 0">
                                        <input ng-if="field.FieldType == 'Text'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" ng-change="checkCharacterLimit(field)" />
                                        <textarea ng-if="field.FieldType == 'MultilineText'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" ng-change="checkCharacterLimit(field)" style="width:400px;height:150px"></textarea>
                                        <input ng-if="field.FieldType == 'NonDecimalCurrency'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" />
                                        <input ng-if="field.FieldType == 'Currency'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" />
                                        <input ng-if="field.FieldType == 'Decimal'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" />
                                        <input ng-if="field.FieldType == 'Int'" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" />
                                        <label for="" ng-if="field.FieldType == 'Boolean'" class="control-label" style="text-align: left;"><input type="checkbox" required="required" ng-disabled="!parent.canModify()" ng-model="field.Value" style="margin-top:10px; margin-right:5px;" ng-true-value="'True'" ng-false-value="'False'" />{{field.FieldDescription}}</label>
                                        <label for="" ng-if="field.FieldType == 'Label'" class="control-label" style="text-align: left;font-weight:bold">{{field.FieldDescription}}</label>

                                        <div ng-if="field.FieldType == 'Date'" class="input-group" style="width: 100%">
                                            <input type="text" class="form-control" jqdatepicker ng-model="field.Value" ng-required="true" />
                                        </div>
                                        <div style="max-height:400px;overflow-y:auto;" ng-if="field.FieldType == 'Locations'">
                                            <div class="col-xs-12" ng-repeat="location in Locations | orderBy: 'LocationNumber'">
                                                <label>
                                                    <input style="margin-right:10px" type="checkbox" ng-model="LocationFields[field.Id][location.LocationId].Selected" ng-disabled="!parent.canModify()" ng-true-value="true" ng-false-value="false"> {{location.LocationNumber}}-{{location.Address.ShortAddress}}
                                                </label>
                                            </div>
                                        </div>
                                        <div style="max-height:400px;overflow-y:auto;" ng-if="field.FieldType == 'Properties'">
                                            <div ng-repeat="location in Locations | orderBy: 'LocationNumber'">
                                                <div class="col-xs-12" ng-repeat="property in location.Properties | orderBy: 'BuildingNumber'">
                                                    <label>
                                                        <input style="margin-right:10px" type="checkbox" ng-model="PropertyFields[field.Id][property.PropertyId].Selected" ng-disabled="!parent.canModify()">{{location.LocationNumber}}-{{property.BuildingNumber}} {{location.Address.ShortAddress}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="field.FieldType == 'PerLocationMultilineText'">
                                            <div class="col-xs-12" style="margin-bottom:10px;" ng-if="field.FieldDescription != null && field.FieldDescription.length > 0"><strong>{{field.FieldDescription}}</strong> (Select locations to fill)</div>
                                            <div class="col-xs-12" ng-repeat="location in Locations | orderBy: 'LocationNumber'" style="margin-bottom:10px;">
                                                <label>
                                                    <input style="margin-right:10px" type="checkbox" ng-disabled="!parent.canModify()" ng-model="LocationFields[field.Id][location.LocationId].Selected"> {{location.LocationNumber}} - {{location.Address.ShortAddress}}
                                                </label>
                                                <textarea class="form-control input-sm" ng-if="LocationFields[field.Id][location.LocationId].Selected" required="required" ng-disabled="!parent.canModify()" ng-model="LocationFields[field.Id][location.LocationId].FieldValue" style="width: 800px;height:150px;margin-left: 30px;" ng-change="checkCharacterLimit(field)"></textarea>
                                            </div>
                                        </div>
                                        <div ng-if="field.FieldType == 'PerLocationText'">
                                            <div class="col-xs-12" style="margin-bottom:10px;" ng-if="field.FieldDescription != null && field.FieldDescription.length > 0"><strong>{{field.FieldDescription}}</strong> (Select locations to fill)</div>
                                            <div class="col-xs-12" ng-repeat="location in Locations | orderBy: 'LocationNumber'" style="margin-bottom:10px;">
                                                <label>
                                                    <input style="margin-right:10px" type="checkbox" ng-disabled="!parent.canModify()" ng-model="LocationFields[field.Id][location.LocationId].Selected"> {{location.LocationNumber}} - {{location.Address.ShortAddress}}
                                                </label>
                                                <input type="text" ng-if="LocationFields[field.Id][location.LocationId].Selected" class="form-control input-sm" ng-disabled="!parent.canModify()" ng-model="LocationFields[field.Id][location.LocationId].FieldValue" ng-change="checkCharacterLimit(field)" />
                                            </div>
                                        </div>

                                        <div style="max-height:400px;overflow-y:auto;" ng-if="field.FieldType == 'PerPropertyMultilineText'">
                                            <div class="col-xs-12" style="margin-bottom:10px;" ng-if="field.FieldDescription != null && field.FieldDescription.length > 0"><strong>{{field.FieldDescription}}</strong> (Select properties to fill)</div>
                                            <div ng-repeat="location in Locations | orderBy: 'LocationNumber'">
                                                <div class="col-xs-12" ng-repeat="property in location.Properties | orderBy: 'BuildingNumber'" style="margin-bottom:10px;">
                                                    <label>
                                                        <input style="margin-right:10px" type="checkbox" ng-disabled="!parent.canModify()" ng-model="PropertyFields[field.Id][property.PropertyId].Selected"> {{location.LocationNumber}} - {{property.BuildingNumber}} {{location.Address.ShortAddress}}
                                                    </label>
                                                    <textarea ng-if="PropertyFields[field.Id][property.PropertyId].Selected" class="form-control input-sm" required="required" ng-disabled="!parent.canModify()" ng-model="PropertyFields[field.Id][property.PropertyId].FieldValue" style="width: 800px;height:150px;margin-left: 30px;" ng-change="checkCharacterLimit(field)"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div style="max-height:400px;overflow-y:auto;" ng-if="field.FieldType == 'PerPropertyText'">
                                            <div class="col-xs-12" style="margin-bottom:10px;" ng-if="field.FieldDescription != null && field.FieldDescription.length > 0"><strong>{{field.FieldDescription}}</strong> (Select properties to fill)</div>
                                            <div ng-repeat="location in Locations | orderBy: 'LocationNumber'">
                                                <div class="col-xs-12" ng-repeat="property in location.Properties | orderBy: 'BuildingNumber'" style="margin-bottom:10px;">
                                                    <label>
                                                        <input style="margin-right:10px" type="checkbox" ng-disabled="!parent.canModify()" ng-model="PropertyFields[field.Id][property.PropertyId].Selected"> {{location.LocationNumber}} - {{property.BuildingNumber}} {{location.Address.ShortAddress}}
                                                    </label>
                                                    <input type="text" ng-if="PropertyFields[field.Id][property.PropertyId].Selected" class="form-control input-sm" ng-disabled="!parent.canModify()" ng-model="PropertyFields[field.Id][property.PropertyId].FieldValue" ng-change="checkCharacterLimit(field)" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-5" ng-if="field.OptionItems.length > 0">
                                        <select class="form-control input-sm" ng-options="opt.Description as opt.Description for opt in field.OptionItems" ng-disabled="!parent.canModify()" ng-model="field.Value"></select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-push">
        </div>
    </div>
    <div class="modal-footer">
        <div id="modalForm_commands">
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
            <button type="button" class="btn yellow-casablanca" ng-hide="!parent.canModify(false)" ng-click="updateForm()">Save</button>
        </div>
    </div>
</script>
