@model SpacialProject.Data.Models.Policy


<section class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="@Url.Action("Index", "Home")">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "Policy")">Quote</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">@ViewData["App"] App</a>
            </li>
        </ul>
    </div>
    <div class="main-container">
        @Html.Partial("~/Views/Policy/" + ViewData["Controller"] + "/_PolicyMenu.cshtml")
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Policy/" + ViewData["Controller"] + "/_Navigation.cshtml", new string[] { "Invoices", Model.AppId.ToString(), Model.Id.ToString() })
                <div class="page-header visible-xs">
                    <h3>Invoices</h3>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-12">
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-md-12">
                                <h3>Invoices</h3>
                                <div style="overflow: auto; height: 450px">
                                    <table class="table table-hover table-condensed table-pointer table-bordered" style="max-width: none; width: 1500px">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Number</th>
                                                <th>Description</th>
                                                <th>Type</th>
                                                <th>Premium</th>
                                                <th>Fee Amount</th>
                                                <th>Tax Amount</th>
                                                <th>Agency Commission</th>
                                                <th>Total Amount</th>
                                                <th>Net Due</th>
                                                <th>Invoiced Date</th>
                                                <th>Accounting Effective</th>
                                                <th>Due Date</th>
                                                <th>Agency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="invoice in Policy.Invoices" ng-click="showDetail(invoice)">
                                                <td><span class="fa fa-download"></span></td>
                                                <td>{{invoice.InvoiceNumber}}</td>
                                                <td>{{invoice.Description}}</td>
                                                <td>{{invoice.InvoiceType == 1 ? "Active" : activity.ActivityType == 2 ? "Reversed" : activity.ActivityType == 3 ? "Canceled" : "Other"}}</td>
                                                <td>{{invoice.Premium | currency}}</td>
                                                <td>{{invoice.FeeAmount | currency}}</td>
                                                <td>{{invoice.TaxAmount | currency}}</td>
                                                <td>{{invoice.AgencyCommissionAmount | currency}}</td>
                                                <td>{{invoice.TotalAmount | currency}}</td>
                                                <td>{{invoice.NetDue | currency}}</td>
                                                <td>{{invoice.InvoicedDate | date:"MM/dd/yyyy"}}</td>
                                                <td>{{invoice.AccountingEffective | date:"MM/dd/yyyy"}}</td>
                                                <td>{{invoice.DueDate | date:"MM/dd/yyyy"}}</td>
                                                <td>{{invoice.Agency.Name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="clear: both"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <script type="text/ng-template" id="invoiceDetailModelContent.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modalInvoiceDetail_title">Invoice {{invoice.InvoiceNumber}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="scrollable">
                    <div data-page="0" class="col-md-12">
                        <div style="overflow: auto; height: 450px">
                            <table class="table table-hover table-condensed table-pointer table-bordered" style="max-width: none; width: 1600px">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Description</th>
                                        <th>Code</th>
                                        <th>Line Type</th>
                                        <th>Amount</th>
                                        <th>Coverage Commission %</th>
                                        <th>Coverage Commission</th>
                                        <th>Rt/Agency Commission %</th>
                                        <th>Rt/Agency Commission</th>
                                        <th>Net Due</th>
                                        <th>Revenue Amount</th>
                                        <th>AP Amount</th>
                                        <th>Coverage</th>
                                        <th>Collected By</th>
                                        <th>Pay To</th>
                                        <th>Contract</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="detail in invoice.Details">
                                        <td>{{detail.Index}}</td>
                                        <td>{{detail.Description}}</td>
                                        <td>{{detail.Code}}</td>
                                        <td>{{detail.LineType}}</td>
                                        <td>{{detail.Amount | currency}}</td>
                                        <td>{{detail.CoverageCommission}}</td>
                                        <td>{{detail.CoverageCommissionAmount | currency}}</td>
                                        <td>{{detail.AgencyCommission}}</td>
                                        <td>{{detail.AgencyCommissionAmount | currency}}</td>
                                        <td>{{detail.NetDue | currency}}</td>
                                        <td>{{detail.Revenue_Amt | currency}}</td>
                                        <td>{{detail.AP_Amt | currency}}</td>
                                        <td>{{detail.Coverage}}</td>
                                        <td>{{detail.CollectedBy}}</td>
                                        <td>{{detail.Contract.Name}}</td>
                                        <td>{{detail.Contract.Broker.Name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div id="modalInvoiceDetail_commands">
                <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
            </div>
        </div>
    </script>
</div>

@section style
{
    <link href="~/Content/Controllers/Policy/nav.css" rel="stylesheet" />
    <link href="~/Content/Controllers/Policy/shared.css" rel="stylesheet" />
    <link href="~/Content/Controllers/Policy/invoices.css" rel="stylesheet" />

    @* DO NOT WRITE STYLES TO THIS FILE. *@
}

@section scripts
{
    <!-- daterangepicker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="~/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="~/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="~/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="~/plugins/chartjs/Chart.min.js" type="text/javascript"></script>
    <!-- Slick Scrolling Div -->
    <script src="~/Plugins/slick/slick.min.js" type="text/javascript"></script>

    <script src="~/Scripts/Controllers/Policy/Policy.js"></script>

    <script>
        var Policy = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))
    </script>

    <script src="~/Scripts/Controllers/Models.js"></script>
    <script src="~/Scripts/Controllers/Policy/Invoices.js"></script>

    @* DO NOT WRITE JAVASCRIPT TO THIS FILE.  *@
}