<div class="page-header visible-xs">
    <h3>Locations</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row space-bottom">
            <div class="col-md-12">
                <button id="AddLocation" class="btn yellow-casablanca" ng-show="parent.canModify(false) && parent.Policy.CurrentVersion.Locations.length == 0" ng-click="newLocation()"><span class="glyphicon glyphicon-plus right-buffer"></span>Add Location</button>
            </div>
        </div>
        <div class="row">
            <div id="location-list" class="col-md-12">

                <div ng-show="Errors.length > 0" class="alert alert-danger alert-dismissible fade in" role="alert" style="margin-top:10px;">
                    <ul>
                        <li ng-repeat="error in Errors">{{error}}</li>
                    </ul>
                </div>

                <div class="location callout" ng-repeat="location in parent.Policy.CurrentVersion.Locations | orderBy: 'LocationNumber'">
                    <div class="row">
                        <div class="location-title col-md-7 col-sm-5" ng-click="updateLocation(location)">
                            <div class="col-md-12" style="font-weight: bold; color: #337ab7;">Location  {{location.LocationNumber}}  - {{location.Address.ShortAddress}}</div>
                            <div class="location-info">Distance to Coast</div>
                            <div class="location-info">{{location.DistanceToCoast}} miles</div>
                            <div style="clear: both"></div>
                            <div class="location-info" ng-if="location.ProtectionClass > 0">Protection Class</div>
                            <div class="location-info" ng-if="location.ProtectionClass > 0">{{location.ProtectionClass}}</div>
                            <div style="clear: both"></div>
                            <div class="location-info" ng-if="location.PropertyCrime > 0">Property Crime</div>
                            <div class="location-info" ng-if="location.PropertyCrime > 0">{{location.PropertyCrime}}</div>
                            <div style="clear: both"></div>
                            <div class="location-info" ng-if="location.ViolentCrime > 0">Violent Crime</div>
                            <div class="location-info" ng-if="location.ViolentCrime > 0">{{location.ViolentCrime}}</div>
                        </div>
                        <div class="col-md-3 col-sm-5" ng-click="updateLocation(location)">
                            <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAH0qyrN-yQ9GnwhUuY4DYkNOcA34IdtCQ&maptype=street&center={{location.Address.ShortAddress}}&zoom=14&markers=color:red%7C{{location.Address.ShortAddress}}&size=250x120" />
                        </div>
                        <div class="col-md-2 col-sm-2 text-center">
                            <button type="button" class="btn yellow-casablanca btn-sm" ng-show="parent.canModify(false)" ng-click="deleteLocation(location)"><span class="glyphicon glyphicon-trash margin-right"></span>Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <script type="text/ng-template" id="locationModelContent.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modalLocation_title">Location {{location.Number}}</h4>
        </div>
        <div class="modal-body" id="form-body">
            <div class="row" style="margin-bottom: 10px">
                <div class="scrollable col-md-6">
                    <div id="address" data-page="0">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4"><strong>Number</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control input-sm" ng-model="location.LocationNumber" ng-blur="locationNumberCheck()" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-link" ng-click="copyMailingAddress()">Copy mailing address</button>
                            <div style="margin: 15px 0px 10px 15px; font-size: 1.2em; font-weight: bold; color: #0096db">Search Address</div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input id="location-address" ng-autocomplete class="form-control input-sm" ng-model="shortAddress" details="details" required />
                                    <div id="modalLocation_alert" class="alert alert-danger top-buffer" role="alert" style="display: none">Unexpected error occurred. Please try again.</div>
                                    <div id="modalLocation_warning" class="alert alert-warning top-buffer" role="alert" style="display: none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="margin: 15px 0px 10px 15px; font-size: 1.2em; font-weight: bold; color: #337ab7">Manually Enter Address</div>
                            <div class="form-group location-addr-field">
                                <label class="col-md-4 control-label"><strong>Address 1</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control input-sm" ng-model="location.Address.StreetAddress1" ng-blur="addressChange()" />
                                </div>
                            </div>
                            <div class="form-group location-addr-field">
                                <label class="col-md-4"><strong>Address 2</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control input-sm" ng-model="location.Address.StreetAddress2" />
                                </div>
                            </div>
                            <div class="form-group location-addr-field">
                                <label class="col-md-4"><strong>Zip</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control input-sm" ng-model="location.Address.Zip" ng-blur="updateStateFromZip()" />
                                </div>
                            </div>
                            <div class="form-group location-addr-field">
                                <label class="col-md-4"><strong>City</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control input-sm" ng-model="location.Address.City" ng-blur="addressChange()" />
                                </div>
                            </div>
                            <div class="form-group location-addr-field">
                                <label class="col-md-4"><strong>County</strong></label>
                                <div class="col-md-8">
                                    <input class="form-control input-sm" ng-model="location.Address.County" ng-blur="addressChange()" />
                                </div>
                            </div>
                            <div class="form-group location-addr-field">
                                <label class="col-md-4"><strong>State</strong></label>
                                <div class="col-md-8">
                                    <select class="form-control input-sm" ng-options="s.Name for s in States" ng-model="location.Address.StateObject" ng-disabled="true"></select>
                                </div>
                            </div>
                            <div class="form-group location-addr-field" ng-show="TerritoryCodes.length > 1">
                                <label class="col-md-4"><strong>Territory Code</strong></label>
                                <div class="col-md-8">
                                    <select class="form-control input-sm" ng-options="t.territoryCode as t.territoryCode for t in TerritoryCodes" ng-model="location.TerritoryCode"></select>
                                </div>
                            </div>

                            <div class="alert alert-danger" role="alert" ng-show="showLocationNumberError">Location number already exists.</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group" style="margin-top: 20px;">
                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div id="map_canvas" style="height: 320px" tabindex="-1">
                            </div>
                        </div>
                        <div id="floating-panel" style="height: 100%; margin: 0 auto;" ng-show="showLocationToggle">
                            <button id="street-view-btn" ng-click="toggleStreetView()" style="position: absolute; margin-left: -240px; margin-top: 10px;">Building Street View</button>
                        </div>

                        <!-- Distance To Coast -->
                        <div class="col-md-5" ng-show="LocationDetails.DistanceToCoast != null">
                            <label for="location-dtc" class="control-label"><strong tooltip="Distance To Coast">DTC:</strong> {{LocationDetails.DistanceToCoast}} miles</label>
                        </div>

                        <!-- Land Elevation -->
                        <!--<div class="col-md-7" ng-show="LocationDetails.LandElevation != null">
                            <label for="location-elev" class="control-label"><strong tooltip="Land Elevation">Land Elev:</strong> {{LocationDetails.LandElevation}} ft</label>
                        </div>-->

                        <!-- Latitude -->
                        <div class="col-md-5" ng-show="location.Latitude != null">
                            <label for="location-lat" class="control-label"><strong tooltip="Latitude">Lat:</strong> {{LocationDetails.Latitude}}</label>
                        </div>

                        <!-- Longitude -->
                        <div class="col-md-7" ng-show="location.Longitude != null">
                            <label for="location-lat" class="control-label"><strong tooltip="Longitude">Long:</strong> {{LocationDetails.Longitude}}</label>
                        </div>

                    </div>
                </div>
                
                
                    <div class="col-md-12">
                        <div class="alert alert-danger" ng-show="Errors.length > 0">
                            <h4>Oops...</h4>
                            <ul>
                                <li ng-repeat="error in Errors">
                                    {{error}}
                                </li>
                            </ul>
                        </div>
                    </div>
                

            </div>
            <div class="modal-push">
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn yellow-casablanca" ng-disabled="busy" ng-click="save()">Save</button>
            </div>
        </div>
    </script>
</div>
